# Codebusters KPIs and Other Usefull Patterns

## import libraries

In [521]:
import pandas as pd
import numpy as np

Import and clean `all_tickets_2022` data set 
- remove unnecessary columns
- rename columns

# Prepare data with all tickets

### Import all service request

Tickets are taken from the following jira filter:<br/> `project = CI AND issuetype in (standardIssueTypes(), "Expense Delivery") AND "Epic Link" is EMPTY AND "Case Number/s" is not EMPTY AND cf[14125] in ("Service Request (SR)") AND resolved is not EMPTY AND resolutiondate >= 2022-12-19 and resolutiondate <= 2023-01-08`

In [522]:
all_sr_origin = pd.read_csv('../../DataSets/KPIs/MainTickets/all_service_requests.csv')
all_sr_origin

,Summary,Issue key,Issue id,Issue Type,Status,Project key,Project name,Project type,Project lead,Project description,...,Comment.18,Comment.19,Comment.20,Comment.21,Comment.22,Comment.23,Comment.24,Comment.25,Comment.26,Comment.27
0,Rehau - Add EDI number Airplus,CI-8574,468635,Expense Delivery,Closed,CI,codebusters,software,rohkamm,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Numiga VFL Wolfsburg - Remove a receipt,CI-8568,468149,Expense Delivery,Closed,CI,codebusters,software,rohkamm,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,oebb: correct perdiem/EMS,CI-8560,467735,Expense Delivery,Closed,CI,codebusters,software,rohkamm,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Hensoldt - Update Approval notification mail,CI-8554,467243,Expense Delivery,Closed,CI,codebusters,software,rohkamm,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,vw-cso: activate bing map in itinerary section,CI-8552,467085,Expense Delivery,Closed,CI,codebusters,software,rohkamm,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
309,Aquila Capital - Expense issue with export and...,CI-6926,393799,Expense Delivery,Closed,CI,codebusters,software,rohkamm,NaN,...,04/Aug/22 10:36 AM;gmalarski;Export path added...,27/Jan/23 7:54 PM;raphose;SR is closed since A...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
310,VW - Splitting of approval for expense statements,CI-6911,393585,Expense Delivery,Closed,CI,codebusters,software,rohkamm,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
311,Porsche - Adjustment of approval process for n...,CI-6901,393357,Expense Delivery,Closed,CI,codebusters,software,rohkamm,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
312,Hugo Boss - add 3 new meal receipt types for t...,CI-6825,389774,Expense Delivery,Closed,CI,codebusters,software,rohkamm,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
313,Replace deprecate method setReceiptTypeList in...,CI-5953,349721,Expense Delivery,Closed,CI,codebusters,software,rohkamm,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Select from the dataset only columns necessary for the further analysis

In [523]:
all_sr = all_sr_origin[['Issue key', 'Issue id', 'Status', 'Reporter', 'Created', 'Due Date', 'Resolved', 'Custom field (Customer/s)','Custom field (Type of Request)']]
all_sr.rename({"Custom field (Customer/s)": "Customer", "Custom field (Type of Request)":"Type of Request"},axis=1, inplace=True)

C:\Users\gmalarski\Anaconda3\lib\site-packages\pandas\core\frame.py:4125: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [524]:
all_sr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 314 entries, 0 to 313
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Issue key        314 non-null    object
 1   Issue id         314 non-null    int64
 2   Status           314 non-null    object
 3   Reporter         314 non-null    object
 4   Created          314 non-null    object
 5   Due Date         314 non-null    object
 6   Resolved         314 non-null    object
 7   Customer         314 non-null    object
 8   Type of Request  314 non-null    object
dtypes: int64(1), object(8)
memory usage: 22.2+ KB

In [525]:
all_sr.isnull().sum()

Issue key          0
Issue id           0
Status             0
Reporter           0
Created            0
Due Date           0
Resolved           0
Customer           0
Type of Request    0
dtype: int64

### Convert date table to `datetime` object

In [526]:
all_sr["Created"] = pd.to_datetime(all_sr["Created"])
all_sr["Resolved"] = pd.to_datetime(all_sr["Resolved"])

<ipython-input-526-40075430d991>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_sr["Created"] = pd.to_datetime(all_sr["Created"])
<ipython-input-526-40075430d991>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_sr["Resolved"] = pd.to_datetime(all_sr["Resolved"])

In [527]:
all_sr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 314 entries, 0 to 313
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Issue key        314 non-null    object
 1   Issue id         314 non-null    int64
 2   Status           314 non-null    object
 3   Reporter         314 non-null    object
 4   Created          314 non-null    datetime64[ns]
 5   Due Date         314 non-null    object
 6   Resolved         314 non-null    datetime64[ns]
 7   Customer         314 non-null    object
 8   Type of Request  314 non-null    object
dtypes: datetime64[ns](2), int64(1), object(6)
memory usage: 22.2+ KB

In [585]:
all_sr.shape

(314, 9)

**Summary**
- there is not SR ticket without `resolved` date
- there is no `null` value in any of the column
- date type columns converted to `datetime` object in order to make calculucations on these columns

# Prepare data with individuals tasks for service requests

## Import and clean `all_individual_tasks` data set 
- we are not able to downaload full data becuase of jira limitation, therefore we need to combine data from differen periods
- remove unnecessary columns
- replace missing `date` values with 0
- drop rows with "null" values

In [528]:
individual_part_1 = pd.read_csv('../../DataSets/KPIs/IndividualTasks/from_20220901_till_20221231.csv')
individual_part_2 = pd.read_csv('../../DataSets/KPIs/IndividualTasks/from_20230101_till_20230331.csv')
individual_part_3 = pd.read_csv('../../DataSets/KPIs/IndividualTasks/from_20230401_till_20230515.csv')



all_individual_tasks_combined = pd.concat([individual_part_1, individual_part_2, individual_part_3], axis=0)
all_individual_tasks_combined

C:\Users\gmalarski\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (25,27,222,223,224,225,226,227,228,229,258,298,299) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Summary,Issue key,Issue id,Parent id,Issue Type,Status,Project key,Project name,Project type,Project lead,...,Custom field (When did it happen?),Custom field (When was it solved?),Custom field (Which customers are affected?),Custom field (arctic Dev Findings),Custom field (arctic QA Findings),Custom field (cytric Stability Findings),Comment,Comment.1,Comment.2,Comment.3
0,Review,CI-10239939,472135,472134,Individual Task,Done,CI,codebusters,software,rohkamm,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Review,CI-10239935,472112,472111,Individual Task,Done,CI,codebusters,software,rohkamm,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Import to Test System,CI-10239926,472054,470604,Individual Task,Done,CI,codebusters,software,rohkamm,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Configure,CI-10239925,472053,470604,Individual Task,Done,CI,codebusters,software,rohkamm,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Import in Production,CI-10239908,472007,470369,Individual Task,Done,CI,codebusters,software,rohkamm,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14,Review,CI-10239444,470370,470369,Individual Task,Done,CI,codebusters,software,rohkamm,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Review,CI-10239415,470330,470329,Individual Task,Done,CI,codebusters,software,rohkamm,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Communicate,CI-10238747,468182,454791,Individual Task,Done,CI,codebusters,software,rohkamm,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Communicate,CI-10238742,468160,467976,Individual Task,Done,CI,codebusters,software,rohkamm,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Communicate,CI-10238585,467666,465773,Individual Task,Done,CI,codebusters,software,rohkamm,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Reset indexex of a combined dataset </br>
Indexes of a new dataset are not appropriate, we need to apply `reset_index` method in order to match them with the number of rows

In [529]:
all_individual_tasks_combined.reset_index(inplace=True)
all_individual_tasks_combined

,index,Summary,Issue key,Issue id,Parent id,Issue Type,Status,Project key,Project name,Project type,...,Custom field (When did it happen?),Custom field (When was it solved?),Custom field (Which customers are affected?),Custom field (arctic Dev Findings),Custom field (arctic QA Findings),Custom field (cytric Stability Findings),Comment,Comment.1,Comment.2,Comment.3
0,0,Review,CI-10239939,472135,472134,Individual Task,Done,CI,codebusters,software,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Review,CI-10239935,472112,472111,Individual Task,Done,CI,codebusters,software,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Import to Test System,CI-10239926,472054,470604,Individual Task,Done,CI,codebusters,software,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Configure,CI-10239925,472053,470604,Individual Task,Done,CI,codebusters,software,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Import in Production,CI-10239908,472007,470369,Individual Task,Done,CI,codebusters,software,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6104,14,Review,CI-10239444,470370,470369,Individual Task,Done,CI,codebusters,software,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6105,15,Review,CI-10239415,470330,470329,Individual Task,Done,CI,codebusters,software,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6106,16,Communicate,CI-10238747,468182,454791,Individual Task,Done,CI,codebusters,software,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6107,17,Communicate,CI-10238742,468160,467976,Individual Task,Done,CI,codebusters,software,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6108,18,Communicate,CI-10238585,467666,465773,Individual Task,Done,CI,codebusters,software,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [587]:
all_individual_tasks_combined.to_csv("all_individual_tasks_combined.csv")

### Filter columns and select only the ones needed for further calculations

In [530]:
all_individual_tasks = all_individual_tasks_combined[['Summary','Issue id', 'Parent id', 'Created', 'Resolved']]
all_individual_tasks

,Summary,Issue id,Parent id,Created,Resolved
0,Review,472135,472134,15/May/23 1:22 PM,15/May/23 2:01 PM
1,Review,472112,472111,15/May/23 12:39 PM,15/May/23 12:39 PM
2,Import to Test System,472054,470604,15/May/23 10:14 AM,15/May/23 10:14 AM
3,Configure,472053,470604,15/May/23 10:14 AM,15/May/23 10:14 AM
4,Import in Production,472007,470369,15/May/23 8:54 AM,15/May/23 1:16 PM
...,...,...,...,...,...
6104,Review,470370,470369,08/May/23 6:17 PM,15/May/23 8:54 AM
6105,Review,470330,470329,08/May/23 3:47 PM,15/May/23 11:12 AM
6106,Communicate,468182,454791,26/Apr/23 6:11 PM,15/May/23 5:50 AM
6107,Communicate,468160,467976,26/Apr/23 4:10 PM,15/May/23 5:56 AM
6108,Communicate,467666,465773,25/Apr/23 10:26 AM,15/May/23 5:54 AM

In [531]:
all_individual_tasks[all_individual_tasks['Parent id'] == 465210]

      Summary  Issue id  Parent id            Created            Resolved
658   Explain    466478     465210  20/Apr/23 8:22 AM  26/Apr/23 10:33 AM
854    Review    465211     465210  17/Apr/23 9:43 AM   20/Apr/23 8:22 AM
5126  Explain    466478     465210  20/Apr/23 8:22 AM  26/Apr/23 10:33 AM
5322   Review    465211     465210  17/Apr/23 9:43 AM   20/Apr/23 8:22 AM

### Convert date like columns to `datetime` object

In [532]:
all_individual_tasks["Created"] = pd.to_datetime(all_individual_tasks_2022["Created"])
all_individual_tasks["Resolved"] = pd.to_datetime(all_individual_tasks_2022["Resolved"])
all_individual_tasks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6109 entries, 0 to 6108
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Summary    6109 non-null   object
 1   Issue id   6109 non-null   int64
 2   Parent id  6109 non-null   int64
 3   Created    6052 non-null   datetime64[ns]
 4   Resolved   6052 non-null   datetime64[ns]
dtypes: datetime64[ns](2), int64(2), object(1)
memory usage: 238.8+ KB

<ipython-input-532-5be0d431879d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_individual_tasks["Created"] = pd.to_datetime(all_individual_tasks_2022["Created"])
<ipython-input-532-5be0d431879d>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_individual_tasks["Resolved"] = pd.to_datetime(all_individual_tasks_2022["Resolved"])

In [533]:
all_individual_tasks['Summary'].value_counts()

Review                            1088
Configure                         1047
Verify                             950
Communicate                        922
Import to Test System              790
Import in Production               634
Import to Customer Test System     402
Explain                            183
Do                                  51
Clarify                             42
Name: Summary, dtype: int64

### Check if there are any `null` values

In [534]:
all_individual_tasks.isnull().sum()

Summary       0
Issue id      0
Parent id     0
Created      57
Resolved     57
dtype: int64

### Drop all rows with null value

In [535]:
all_individual_tasks_without_null = all_individual_tasks.dropna()
all_individual_tasks_without_null.isnull().sum()

Summary      0
Issue id     0
Parent id    0
Created      0
Resolved     0
dtype: int64

**Summary:**

- We are interested only in completed tickets so we have droped rows which contain `null` in `resolved` columns
- Data is filtered and cleaned we are ready for analysis part

# Data Analysis

# Daterminate how long each ticket was in particular individual task

- calculate time for eacch subtask
- calculate how long each ticket was in review
- calculate how long each ticket was "on codebusters"
- calculate how long each ticket was "outside codebusters"

## Calculate time spent in each of the subtask

In [536]:
all_individual_tasks_time_calculation = all_individual_tasks_without_null
all_individual_tasks_time_calculation["time_in"] = all_individual_tasks_time_calculation["Resolved"] - all_individual_tasks_time_calculation["Created"]

<ipython-input-536-3892ceed2b9c>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_individual_tasks_time_calculation["time_in"] = all_individual_tasks_time_calculation["Resolved"] - all_individual_tasks_time_calculation["Created"]

### List all available statuses of the CI ticket subtask

In [537]:
all_individual_tasks_time_calculation["Summary"].value_counts()

Review                            1070
Configure                         1041
Verify                             943
Communicate                        915
Import to Test System              783
Import in Production               629
Import to Customer Test System     399
Explain                            180
Do                                  50
Clarify                             42
Name: Summary, dtype: int64

## Calculate time ticket was in review step

In [599]:
all_individual_tasks_reivew = all_individual_tasks_without_null[all_individual_tasks_without_null['Summary'] == 'Review']
all_individual_tasks_reivew.rename({"time_in": "time_in_review"},axis=1, inplace=True)
all_individual_tasks_reivew.reset_index(inplace=True)
all_individual_tasks_reivew

C:\Users\gmalarski\Anaconda3\lib\site-packages\pandas\core\frame.py:4125: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

,index,Summary,Issue id,Parent id,Created,Resolved,time_in_review
0,0,Review,472135,472134,2022-05-30 22:30:00,2022-06-21 13:17:00,21 days 14:47:00
1,1,Review,472112,472111,2022-05-30 20:27:00,2022-05-31 09:59:00,0 days 13:32:00
2,13,Review,471790,471789,2022-05-30 16:28:00,2022-05-31 14:21:00,0 days 21:53:00
3,15,Review,471776,471775,2022-05-30 15:47:00,2022-06-01 16:10:00,2 days 00:23:00
4,16,Review,471771,471770,2022-05-30 15:47:00,2022-05-30 15:47:00,0 days 00:00:00
...,...,...,...,...,...,...,...
1065,6100,Review,470620,470619,2022-07-13 14:06:00,2022-07-13 14:06:00,0 days 00:00:00
1066,6101,Review,470612,470611,2022-07-13 12:39:00,2022-07-19 08:47:00,5 days 20:08:00
1067,6102,Review,470605,470604,2022-07-13 11:45:00,2022-08-04 13:41:00,22 days 01:56:00
1068,6104,Review,470370,470369,2022-07-13 11:25:00,2022-07-21 12:32:00,8 days 01:07:00
1069,6105,Review,470330,470329,2022-07-13 11:20:00,2022-07-20 14:36:00,7 days 03:16:00

In [607]:
all_individual_tasks_reivew[all_individual_tasks_reivew["Parent id"] == 465210]

,index,Summary,Issue id,Parent id,Created,Resolved,time_in_review
135,854,Review,465211,465210,2022-05-09 08:08:00,2022-05-09 08:08:00,0 days 00:00:00
914,5322,Review,465211,465210,2022-08-11 12:33:00,2022-08-22 09:37:00,10 days 21:04:00

In [613]:
all_individual_tasks_reivew[all_individual_tasks_reivew["Parent id"] == 465162]

,index,Summary,Issue id,Parent id,Created,Resolved,time_in_review
136,858,Review,465163,465162,2022-05-09 04:58:00,2022-05-12 13:53:00,3 days 08:55:00
915,5326,Review,465163,465162,2022-08-11 11:49:00,2022-08-11 11:50:00,0 days 00:01:00

In [612]:
null_rows

,Issue key,Issue id,Status,Reporter,Created,Due Date,Resolved,Customer,Type of Request,Parent id,time_in_review
13,CI-8489,465210,Closed,kgostynska,2023-04-17 09:43:00,24/Apr/23 12:00 AM,2023-04-26 10:33:00,ArcelorMittal,Service Request (SR),NaN,NaT
14,CI-8488,465162,Closed,yutaka,2023-04-17 03:43:00,24/Apr/23 12:00 AM,2023-04-18 05:37:00,CMS Hasche Sigle,Service Request (SR),NaN,NaT
15,CI-8487,465050,Closed,nsanchez,2023-04-14 11:16:00,27/Apr/23 12:00 AM,2023-04-28 11:25:00,VW,Service Request (SR),NaN,NaT
16,CI-8486,465008,Closed,yutaka,2023-04-14 09:23:00,21/Apr/23 12:00 AM,2023-05-08 02:17:00,Amadeus,Service Request (SR),NaN,NaT
17,CI-8485,464979,Closed,yutaka,2023-04-14 02:51:00,21/Apr/23 12:00 AM,2023-04-17 11:31:00,Enercon,Service Request (SR),NaN,NaT
...,...,...,...,...,...,...,...,...,...,...,...
88,CI-8239,452166,Closed,yutaka,2023-03-01 02:16:00,06/Mar/23 12:00 AM,2023-03-29 09:54:00,Endress Hauser,Service Request (SR),NaN,NaT
129,CI-8118,446512,Closed,skarja,2023-02-06 20:05:00,13/Feb/23 12:00 AM,2023-04-19 01:24:00,TeamBank AG,Service Request (SR),NaN,NaT
263,CI-7788,431813,Closed,yutaka,2022-12-01 01:54:00,08/Dec/22 12:00 AM,2023-04-05 06:54:00,Amadeus,Service Request (SR),NaN,NaT
285,CI-7550,420892,Closed,yutaka,2022-10-12 17:05:00,19/Oct/22 12:00 AM,2023-04-04 16:34:00,Hugo Boss,Service Request (SR),NaN,NaT
288,CI-7489,418470,Closed,skarja,2022-10-04 07:45:00,11/Oct/22 12:00 AM,2023-03-23 13:55:00,Burda,Service Request (SR),NaN,NaT

### Grup tickets by the `Parent id` and sum total time spent in `review` subtask

In [611]:
all_individual_tasks_reivew_time.groupby("Parent id").groups

{174802: Int64Index([1564], dtype='int64'),
 329036: Int64Index([1255], dtype='int64'),
 336670: Int64Index([9090], dtype='int64'),
 338553: Int64Index([3306], dtype='int64'),
 345462: Int64Index([2906, 2994], dtype='int64'),
 347539: Int64Index([4588], dtype='int64'),
 349721: Int64Index([12274], dtype='int64'),
 353363: Int64Index([4551], dtype='int64'),
 357612: Int64Index([4491], dtype='int64'),
 357942: Int64Index([4772], dtype='int64'),
 358397: Int64Index([3932, 3936], dtype='int64'),
 358945: Int64Index([4592], dtype='int64'),
 359493: Int64Index([3433, 3658], dtype='int64'),
 359638: Int64Index([3026], dtype='int64'),
 359731: Int64Index([4250], dtype='int64'),
 359734: Int64Index([2733], dtype='int64'),
 359849: Int64Index([4305], dtype='int64'),
 359961: Int64Index([4581], dtype='int64'),
 359968: Int64Index([4047], dtype='int64'),
 360164: Int64Index([4049], dtype='int64'),
 360277: Int64Index([4661], dtype='int64'),
 360335: Int64Index([4480], dtype='int64'),
 360424: Int64Index([4659], dtype='int64'),
 360479: Int64Index([4660], dtype='int64'),
 360481: Int64Index([4045], dtype='int64'),
 360510: Int64Index([4779], dtype='int64'),
 360521: Int64Index([4778], dtype='int64'),
 360541: Int64Index([4766], dtype='int64'),
 360576: Int64Index([4750], dtype='int64'),
 360615: Int64Index([4737], dtype='int64'),
 360621: Int64Index([4733], dtype='int64'),
 360637: Int64Index([4727], dtype='int64'),
 360687: Int64Index([4722], dtype='int64'),
 360744: Int64Index([4715], dtype='int64'),
 360759: Int64Index([4712], dtype='int64'),
 360791: Int64Index([4707], dtype='int64'),
 360807: Int64Index([4706], dtype='int64'),
 360809: Int64Index([4705], dtype='int64'),
 360823: Int64Index([4702], dtype='int64'),
 360829: Int64Index([4701], dtype='int64'),
 360831: Int64Index([4700], dtype='int64'),
 360833: Int64Index([4699], dtype='int64'),
 360835: Int64Index([4698], dtype='int64'),
 360838: Int64Index([4696], dtype='int64'),
 360851: Int64Index([4694], dtype='int64'),
 360859: Int64Index([4692], dtype='int64'),
 360869: Int64Index([4685], dtype='int64'),
 360940: Int64Index([4666], dtype='int64'),
 361016: Int64Index([4651], dtype='int64'),
 361181: Int64Index([4630], dtype='int64'),
 361186: Int64Index([2367, 4629], dtype='int64'),
 361309: Int64Index([4623], dtype='int64'),
 361425: Int64Index([4611], dtype='int64'),
 361463: Int64Index([4607], dtype='int64'),
 361490: Int64Index([4605], dtype='int64'),
 361502: Int64Index([4603], dtype='int64'),
 361609: Int64Index([4598], dtype='int64'),
 361615: Int64Index([4326, 4597], dtype='int64'),
 361731: Int64Index([4185, 4584], dtype='int64'),
 361793: Int64Index([4574], dtype='int64'),
 361804: Int64Index([4571], dtype='int64'),
 361809: Int64Index([4570], dtype='int64'),
 361812: Int64Index([4569], dtype='int64'),
 361814: Int64Index([2781, 4568], dtype='int64'),
 361816: Int64Index([4567], dtype='int64'),
 361818: Int64Index([4566], dtype='int64'),
 361821: Int64Index([4564], dtype='int64'),
 361823: Int64Index([4563], dtype='int64'),
 361826: Int64Index([4562], dtype='int64'),
 361828: Int64Index([4561], dtype='int64'),
 361830: Int64Index([4560], dtype='int64'),
 361832: Int64Index([4559], dtype='int64'),
 361834: Int64Index([4558], dtype='int64'),
 361837: Int64Index([4557], dtype='int64'),
 361839: Int64Index([4556], dtype='int64'),
 361842: Int64Index([4555], dtype='int64'),
 361844: Int64Index([4554], dtype='int64'),
 361846: Int64Index([4553], dtype='int64'),
 361870: Int64Index([4552], dtype='int64'),
 361875: Int64Index([4550], dtype='int64'),
 361888: Int64Index([4548], dtype='int64'),
 361976: Int64Index([4527], dtype='int64'),
 361985: Int64Index([4526], dtype='int64'),
 362030: Int64Index([3759, 4512], dtype='int64'),
 362068: Int64Index([4054, 4187, 4509], dtype='int64'),
 362070: Int64Index([4508], dtype='int64'),
 362115: Int64Index([4501], dtype='int64'),
 362118: Int64Index([4500], dtype='int64'),
 362196: Int64Index([4483], dtype='int64'),
 362245: Int64Index([4467], dtype='int64'),
 362353: Int64Index([4465], dtype='int64'),
 362387: Int64Index([4462], dtype='int64'),
 362395: Int64Index([4461], dtype='int64'),
 362667: Int64Index([4420], dtype='int64'),
 362679: Int64Index([4414], dtype='int64'),
 362744: Int64Index([4411], dtype='int64'),
 362783: Int64Index([4402], dtype='int64'),
 362798: Int64Index([4400], dtype='int64'),
 362813: Int64Index([4397], dtype='int64'),
 362815: Int64Index([4396], dtype='int64'),
 362917: Int64Index([4393], dtype='int64'),
 362919: Int64Index([4392], dtype='int64'),
 362933: Int64Index([4388], dtype='int64'),
 362936: Int64Index([3864, 4386], dtype='int64'),
 362938: Int64Index([3442, 3834, 4385], dtype='int64'),
 362940: Int64Index([4384], dtype='int64'),
 362947: Int64Index([4378], dtype='int64'),
 362957: Int64Index([4371], dtype='int64'),
 362960: Int64Index([4369], dtype='int64'),
 362963: Int64Index([4368], dtype='int64'),
 362995: Int64Index([4353], dtype='int64'),
 363207: Int64Index([4340], dtype='int64'),
 363224: Int64Index([4338], dtype='int64'),
 363245: Int64Index([4336], dtype='int64'),
 363258: Int64Index([4335], dtype='int64'),
 363282: Int64Index([4331], dtype='int64'),
 363304: Int64Index([4321], dtype='int64'),
 363351: Int64Index([4312], dtype='int64'),
 363473: Int64Index([4303], dtype='int64'),
 363478: Int64Index([4302], dtype='int64'),
 363522: Int64Index([4291], dtype='int64'),
 363524: Int64Index([4290], dtype='int64'),
 363526: Int64Index([4289], dtype='int64'),
 363528: Int64Index([4288], dtype='int64'),
 363530: Int64Index([4287], dtype='int64'),
 363532: Int64Index([4286], dtype='int64'),
 363534: Int64Index([4285], dtype='int64'),
 363536: Int64Index([4284], dtype='int64'),
 363538: Int64Index([4283], dtype='int64'),
 363540: Int64Index([4282], dtype='int64'),
 363542: Int64Index([4281], dtype='int64'),
 363544: Int64Index([4280], dtype='int64'),
 363546: Int64Index([4279], dtype='int64'),
 363548: Int64Index([4278], dtype='int64'),
 363553: Int64Index([4275], dtype='int64'),
 363560: Int64Index([3756, 4270], dtype='int64'),
 363563: Int64Index([4268], dtype='int64'),
 363571: Int64Index([4264], dtype='int64'),
 363590: Int64Index([4261], dtype='int64'),
 363611: Int64Index([4254], dtype='int64'),
 363720: Int64Index([4240], dtype='int64'),
 363771: Int64Index([4235], dtype='int64'),
 363803: Int64Index([4232], dtype='int64'),
 363949: Int64Index([4208], dtype='int64'),
 363968: Int64Index([2804, 4203], dtype='int64'),
 364000: Int64Index([4197], dtype='int64'),
 364180: Int64Index([4192], dtype='int64'),
 364263: Int64Index([4188], dtype='int64'),
 364380: Int64Index([2442, 4174], dtype='int64'),
 364396: Int64Index([4173], dtype='int64'),
 364402: Int64Index([3878, 4172], dtype='int64'),
 364470: Int64Index([4168], dtype='int64'),
 364677: Int64Index([4015, 4167], dtype='int64'),
 364733: Int64Index([4166], dtype='int64'),
 364743: Int64Index([4164], dtype='int64'),
 364750: Int64Index([4163], dtype='int64'),
 364885: Int64Index([4150], dtype='int64'),
 364986: Int64Index([3275, 4148], dtype='int64'),
 365070: Int64Index([4130, 4133, 4140], dtype='int64'),
 365123: Int64Index([4124], dtype='int64'),
 365161: Int64Index([4117], dtype='int64'),
 365196: Int64Index([4116], dtype='int64'),
 365312: Int64Index([4111], dtype='int64'),
 365381: Int64Index([4105], dtype='int64'),
 365404: Int64Index([4074, 4104], dtype='int64'),
 365443: Int64Index([4103], dtype='int64'),
 365543: Int64Index([3906, 4092], dtype='int64'),
 365553: Int64Index([4091], dtype='int64'),
 365561: Int64Index([4090], dtype='int64'),
 365630: Int64Index([4083], dtype='int64'),
 365709: Int64Index([4067], dtype='int64'),
 365727: Int64Index([4066], dtype='int64'),
 365744: Int64Index([4064], dtype='int64'),
 365795: Int64Index([4059], dtype='int64'),
 365931: Int64Index([4042], dtype='int64'),
 366004: Int64Index([3704, 4028], dtype='int64'),
 366046: Int64Index([4027], dtype='int64'),
 366077: Int64Index([4018], dtype='int64'),
 366157: Int64Index([2659, 4012], dtype='int64'),
 366517: Int64Index([3958], dtype='int64'),
 366519: Int64Index([3957], dtype='int64'),
 366527: Int64Index([3430, 3954], dtype='int64'),
 366550: Int64Index([3948], dtype='int64'),
 366553: Int64Index([3946], dtype='int64'),
 366559: Int64Index([3942], dtype='int64'),
 366561: Int64Index([3941], dtype='int64'),
 366649: Int64Index([3925], dtype='int64'),
 366666: Int64Index([3924], dtype='int64'),
 366815: Int64Index([3910], dtype='int64'),
 366817: Int64Index([3909], dtype='int64'),
 366824: Int64Index([3904], dtype='int64'),
 366880: Int64Index([3897], dtype='int64'),
 366901: Int64Index([3895], dtype='int64'),
 366917: Int64Index([3889], dtype='int64'),
 366934: Int64Index([3885], dtype='int64'),
 366970: Int64Index([3877], dtype='int64'),
 366972: Int64Index([3876], dtype='int64'),
 367014: Int64Index([3869], dtype='int64'),
 367071: Int64Index([3854], dtype='int64'),
 367116: Int64Index([3845], dtype='int64'),
 367256: Int64Index([3841], dtype='int64'),
 367261: Int64Index([3837], dtype='int64'),
 367349: Int64Index([3821], dtype='int64'),
 367518: Int64Index([3799], dtype='int64'),
 367534: Int64Index([1638, 2453, 3789], dtype='int64'),
 367559: Int64Index([3785], dtype='int64'),
 367784: Int64Index([3770], dtype='int64'),
 367810: Int64Index([3758], dtype='int64'),
 368000: Int64Index([3723], dtype='int64'),
 368036: Int64Index([3720], dtype='int64'),
 368240: Int64Index([3691], dtype='int64'),
 368278: Int64Index([3687], dtype='int64'),
 368285: Int64Index([3683], dtype='int64'),
 368291: Int64Index([3679], dtype='int64'),
 368347: Int64Index([3660], dtype='int64'),
 368351: Int64Index([3472, 3659], dtype='int64'),
 368483: Int64Index([3644], dtype='int64'),
 368498: Int64Index([3639], dtype='int64'),
 368545: Int64Index([3637], dtype='int64'),
 368554: Int64Index([3636], dtype='int64'),
 368558: Int64Index([3635], dtype='int64'),
 368560: Int64Index([3634], dtype='int64'),
 368563: Int64Index([3633], dtype='int64'),
 368568: Int64Index([3629], dtype='int64'),
 368578: Int64Index([3628], dtype='int64'),
 368582: Int64Index([3627], dtype='int64'),
 368586: Int64Index([3626], dtype='int64'),
 368588: Int64Index([3625], dtype='int64'),
 368591: Int64Index([3624], dtype='int64'),
 368596: Int64Index([3622], dtype='int64'),
 368598: Int64Index([3621], dtype='int64'),
 368600: Int64Index([3620], dtype='int64'),
 368602: Int64Index([3619], dtype='int64'),
 368604: Int64Index([3618], dtype='int64'),
 368606: Int64Index([3617], dtype='int64'),
 368608: Int64Index([3616], dtype='int64'),
 368672: Int64Index([3608], dtype='int64'),
 368728: Int64Index([3605], dtype='int64'),
 368758: Int64Index([3604], dtype='int64'),
 368774: Int64Index([3601], dtype='int64'),
 368811: Int64Index([3598], dtype='int64'),
 368815: Int64Index([3595], dtype='int64'),
 368817: Int64Index([1522, 3594], dtype='int64'),
 368835: Int64Index([3592], dtype='int64'),
 368842: Int64Index([3591], dtype='int64'),
 368931: Int64Index([3586], dtype='int64'),
 368933: Int64Index([3585], dtype='int64'),
 368935: Int64Index([3584], dtype='int64'),
 368937: Int64Index([3583], dtype='int64'),
 368939: Int64Index([3582], dtype='int64'),
 368941: Int64Index([3581], dtype='int64'),
 368947: Int64Index([3578], dtype='int64'),
 368949: Int64Index([3577], dtype='int64'),
 368951: Int64Index([3576], dtype='int64'),
 369018: Int64Index([3566], dtype='int64'),
 369154: Int64Index([3547], dtype='int64'),
 369166: Int64Index([3545], dtype='int64'),
 369246: Int64Index([3543], dtype='int64'),
 369318: Int64Index([3540], dtype='int64'),
 369371: Int64Index([3536], dtype='int64'),
 369388: Int64Index([3533], dtype='int64'),
 369414: Int64Index([3528], dtype='int64'),
 369419: Int64Index([3527], dtype='int64'),
 369421: Int64Index([3526], dtype='int64'),
 369468: Int64Index([1891, 2463, 3519], dtype='int64'),
 369504: Int64Index([3517], dtype='int64'),
 369678: Int64Index([3492], dtype='int64'),
 369723: Int64Index([3484], dtype='int64'),
 369811: Int64Index([1680, 3142, 3465], dtype='int64'),
 369885: Int64Index([3446], dtype='int64'),
 369887: Int64Index([3445], dtype='int64'),
 369891: Int64Index([3444], dtype='int64'),
 369942: Int64Index([3008, 3429], dtype='int64'),
 369968: Int64Index([3426], dtype='int64'),
 370010: Int64Index([3189, 3421], dtype='int64'),
 370052: Int64Index([3400], dtype='int64'),
 370087: Int64Index([3395], dtype='int64'),
 370133: Int64Index([3389], dtype='int64'),
 370166: Int64Index([3381], dtype='int64'),
 370172: Int64Index([3378], dtype='int64'),
 370179: Int64Index([3375], dtype='int64'),
 370207: Int64Index([3368], dtype='int64'),
 370275: Int64Index([3356], dtype='int64'),
 370318: Int64Index([3353], dtype='int64'),
 370351: Int64Index([2876, 3351], dtype='int64'),
 370420: Int64Index([3327], dtype='int64'),
 370433: Int64Index([3324], dtype='int64'),
 370443: Int64Index([3323], dtype='int64'),
 370460: Int64Index([3322], dtype='int64'),
 370530: Int64Index([3291], dtype='int64'),
 370536: Int64Index([3290], dtype='int64'),
 370545: Int64Index([3288], dtype='int64'),
 370547: Int64Index([3287], dtype='int64'),
 370603: Int64Index([3274], dtype='int64'),
 370609: Int64Index([3272], dtype='int64'),
 370817: Int64Index([3041, 3247], dtype='int64'),
 370941: Int64Index([5, 3221], dtype='int64'),
 370973: Int64Index([3211], dtype='int64'),
 371024: Int64Index([3129, 3207], dtype='int64'),
 371061: Int64Index([3201], dtype='int64'),
 371113: Int64Index([3192], dtype='int64'),
 371118: Int64Index([3190], dtype='int64'),
 371140: Int64Index([3013, 3185], dtype='int64'),
 371222: Int64Index([3168], dtype='int64'),
 371246: Int64Index([3166], dtype='int64'),
 371266: Int64Index([3165], dtype='int64'),
 371434: Int64Index([3146], dtype='int64'),
 371459: Int64Index([3143], dtype='int64'),
 371468: Int64Index([2517, 2753, 3141], dtype='int64'),
 371520: Int64Index([3136], dtype='int64'),
 371522: Int64Index([3135], dtype='int64'),
 371529: Int64Index([2312, 3134], dtype='int64'),
 371572: Int64Index([3124], dtype='int64'),
 371574: Int64Index([2838, 2842, 3123], dtype='int64'),
 371576: Int64Index([3122], dtype='int64'),
 371681: Int64Index([3094], dtype='int64'),
 371888: Int64Index([3045], dtype='int64'),
 371930: Int64Index([3024], dtype='int64'),
 372017: Int64Index([2949, 3009], dtype='int64'),
 372021: Int64Index([3007], dtype='int64'),
 372023: Int64Index([3006], dtype='int64'),
 372031: Int64Index([790, 3004], dtype='int64'),
 372052: Int64Index([2998], dtype='int64'),
 372080: Int64Index([2995], dtype='int64'),
 372260: Int64Index([2966], dtype='int64'),
 372264: Int64Index([2965], dtype='int64'),
 372306: Int64Index([2957], dtype='int64'),
 372337: Int64Index([2954], dtype='int64'),
 372383: Int64Index([2631, 2953], dtype='int64'),
 372415: Int64Index([2943], dtype='int64'),
 372452: Int64Index([2933], dtype='int64'),
 372498: Int64Index([2931], dtype='int64'),
 372529: Int64Index([2929], dtype='int64'),
 372531: Int64Index([2928], dtype='int64'),
 372560: Int64Index([2925], dtype='int64'),
 372589: Int64Index([2001, 2251, 2918], dtype='int64'),
 372652: Int64Index([2158, 2905], dtype='int64'),
 372654: Int64Index([2904], dtype='int64'),
 372678: Int64Index([2897], dtype='int64'),
 372730: Int64Index([2507, 2877], dtype='int64'),
 372903: Int64Index([2854], dtype='int64'),
 372926: Int64Index([1709, 2851], dtype='int64'),
 372980: Int64Index([2835], dtype='int64'),
 372982: Int64Index([2834], dtype='int64'),
 372997: Int64Index([2824], dtype='int64'),
 373004: Int64Index([2819], dtype='int64'),
 373063: Int64Index([2800], dtype='int64'),
 373087: Int64Index([2798], dtype='int64'),
 373101: Int64Index([2797], dtype='int64'),
 373103: Int64Index([2796], dtype='int64'),
 373140: Int64Index([2784], dtype='int64'),
 373200: Int64Index([2778], dtype='int64'),
 373211: Int64Index([2775], dtype='int64'),
 373237: Int64Index([2238, 2363, 2772], dtype='int64'),
 373240: Int64Index([2771], dtype='int64'),
 373244: Int64Index([2770], dtype='int64'),
 373277: Int64Index([2760], dtype='int64'),
 373383: Int64Index([2736], dtype='int64'),
 373391: Int64Index([2734], dtype='int64'),
 373467: Int64Index([2732], dtype='int64'),
 373571: Int64Index([2632, 2716], dtype='int64'),
 373578: Int64Index([2713], dtype='int64'),
 373581: Int64Index([2712], dtype='int64'),
 373597: Int64Index([2711], dtype='int64'),
 373603: Int64Index([2710], dtype='int64'),
 373605: Int64Index([2709], dtype='int64'),
 373607: Int64Index([2708], dtype='int64'),
 373609: Int64Index([2707], dtype='int64'),
 373611: Int64Index([2706], dtype='int64'),
 373627: Int64Index([2699], dtype='int64'),
 373630: Int64Index([2698], dtype='int64'),
 373632: Int64Index([2697], dtype='int64'),
 373634: Int64Index([2696], dtype='int64'),
 373641: Int64Index([2690], dtype='int64'),
 373647: Int64Index([2686], dtype='int64'),
 373650: Int64Index([2684], dtype='int64'),
 374032: Int64Index([2644], dtype='int64'),
 374050: Int64Index([2640], dtype='int64'),
 374097: Int64Index([2636], dtype='int64'),
 374249: Int64Index([2614], dtype='int64'),
 374257: Int64Index([2611], dtype='int64'),
 374382: Int64Index([2579], dtype='int64'),
 374388: Int64Index([2577], dtype='int64'),
 374395: Int64Index([2574], dtype='int64'),
 374401: Int64Index([2573], dtype='int64'),
 374405: Int64Index([2572], dtype='int64'),
 374414: Int64Index([2571], dtype='int64'),
 374418: Int64Index([2569], dtype='int64'),
 374424: Int64Index([2568], dtype='int64'),
 374430: Int64Index([2566], dtype='int64'),
 374434: Int64Index([2565], dtype='int64'),
 374439: Int64Index([2564], dtype='int64'),
 374442: Int64Index([2563], dtype='int64'),
 374510: Int64Index([2553], dtype='int64'),
 374515: Int64Index([2551], dtype='int64'),
 374521: Int64Index([2550], dtype='int64'),
 374523: Int64Index([2549], dtype='int64'),
 374624: Int64Index([2536], dtype='int64'),
 374685: Int64Index([2532], dtype='int64'),
 374716: Int64Index([2525], dtype='int64'),
 374800: Int64Index([2423, 2503], dtype='int64'),
 374832: Int64Index([2500], dtype='int64'),
 374847: Int64Index([2498], dtype='int64'),
 374885: Int64Index([2493], dtype='int64'),
 374955: Int64Index([1618, 2486], dtype='int64'),
 374996: Int64Index([2483], dtype='int64'),
 375039: Int64Index([1547, 2471], dtype='int64'),
 375061: Int64Index([2467], dtype='int64'),
 375208: Int64Index([2458], dtype='int64'),
 375301: Int64Index([2441], dtype='int64'),
 375368: Int64Index([2431], dtype='int64'),
 375418: Int64Index([2422], dtype='int64'),
 375429: Int64Index([2420], dtype='int64'),
 375462: Int64Index([2414], dtype='int64'),
 375478: Int64Index([1739, 2411], dtype='int64'),
 375492: Int64Index([2409], dtype='int64'),
 375607: Int64Index([2397], dtype='int64'),
 375615: Int64Index([2392], dtype='int64'),
 375617: Int64Index([2391], dtype='int64'),
 375814: Int64Index([2377], dtype='int64'),
 375816: Int64Index([2376], dtype='int64'),
 375819: Int64Index([2375], dtype='int64'),
 375822: Int64Index([2374], dtype='int64'),
 375829: Int64Index([2373], dtype='int64'),
 375860: Int64Index([1897, 2355], dtype='int64'),
 375929: Int64Index([2345], dtype='int64'),
 375982: Int64Index([2326], dtype='int64'),
 376067: Int64Index([2301], dtype='int64'),
 376087: Int64Index([2297], dtype='int64'),
 376090: Int64Index([2132, 2296], dtype='int64'),
 376116: Int64Index([2289], dtype='int64'),
 376136: Int64Index([2288], dtype='int64'),
 376147: Int64Index([2280], dtype='int64'),
 376154: Int64Index([2279], dtype='int64'),
 376256: Int64Index([2256], dtype='int64'),
 376261: Int64Index([2255], dtype='int64'),
 376330: Int64Index([1836, 2239], dtype='int64'),
 376335: Int64Index([1340, 1404, 2237], dtype='int64'),
 376343: Int64Index([2236], dtype='int64'),
 376366: Int64Index([2233], dtype='int64'),
 376479: Int64Index([2205], dtype='int64'),
 376651: Int64Index([2183], dtype='int64'),
 376713: Int64Index([2178], dtype='int64'),
 376729: Int64Index([2175], dtype='int64'),
 376770: Int64Index([2171], dtype='int64'),

In [617]:
all_individual_tasks_reivew_sum = all_individual_tasks_reivew_time.groupby(by=["Parent id"], dropna=False)["time_in_review"].sum()
all_individual_tasks_reivew_sum = all_individual_tasks_reivew_sum.to_frame()
all_individual_tasks_reivew_sum.reset_index(inplace=True)
all_individual_tasks_reivew_sum

TypeError: groupby() got an unexpected keyword argument 'dropna'

In [618]:
!pip install -U pandas

Collecting pandas
  Downloading pandas-2.0.1-cp38-cp38-win_amd64.whl (10.8 MB)
Requirement already satisfied, skipping upgrade: pytz>=2020.1 in c:\users\gmalarski\anaconda3\lib\site-packages (from pandas) (2020.1)
Collecting python-dateutil>=2.8.2
  Using cached python_dateutil-2.8.2-py2.py3-none-any.whl (247 kB)
Collecting tzdata>=2022.1
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
Collecting numpy>=1.20.3; python_version < "3.10"
  Downloading numpy-1.24.3-cp38-cp38-win_amd64.whl (14.9 MB)
Requirement already satisfied, skipping upgrade: six>=1.5 in c:\users\gmalarski\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.15.0)
Installing collected packages: python-dateutil, tzdata, numpy, pandas
  Attempting uninstall: python-dateutil

ERROR: Could not install packages due to an EnvironmentError: [WinError 5] Access is denied: 'C:\\Users\\gmalarski\\Anaconda3\\Lib\\site-packages\\~umpy\\core\\_multiarray_tests.cp38-win_amd64.pyd'
Consider using the `--user` option or check the permissions.

    Found existing installation: python-dateutil 2.8.1
    Uninstalling python-dateutil-2.8.1:
      Successfully uninstalled python-dateutil-2.8.1
  Attempting uninstall: numpy
    Found existing installation: numpy 1.18.5
    Uninstalling numpy-1.18.5:
      Successfully uninstalled numpy-1.18.5

In [621]:
pd.__version__

'1.0.5'

In [598]:
all_individual_tasks_reivew_sum.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2061 entries, 0 to 2060
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Parent id       2061 non-null   int64
 1   time_in_review  2061 non-null   timedelta64[ns]
dtypes: int64(1), timedelta64[ns](1)
memory usage: 32.3 KB

In [597]:
all_individual_tasks_reivew_sum[all_individual_tasks_reivew_sum["Parent id"] == 465210]

Empty DataFrame
Columns: [Parent id, time_in_review]
Index: []

### Check on the particular ticket if the total time is summed correctly

In [605]:
all_individual_tasks_reivew.groupby("Parent id").count()

           index  Summary  Issue id  Created  Resolved  time_in_review
Parent id
331914         1        1         1        1         1               1
338034         1        1         1        1         1               1
349721         1        1         1        1         1               1
351500         2        2         2        2         2               2
356993         1        1         1        1         1               1
...          ...      ...       ...      ...       ...             ...
471770         2        2         2        2         2               2
471775         2        2         2        2         2               2
471789         2        2         2        2         2               2
472111         3        3         3        3         3               3
472134         3        3         3        3         3               3

[710 rows x 6 columns]

In [602]:
more_than_one = all_individual_tasks_reivew[all_individual_tasks_reivew.groupby("Parent id").count()['Summary'] > 2]

<ipython-input-602-85a07182fe25>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  more_than_one = all_individual_tasks_reivew[all_individual_tasks_reivew.groupby("Parent id").count()['Summary'] > 2]

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match).

In [541]:
all_individual_tasks_reivew.loc[all_individual_tasks_reivew["Parent id"] == 345462]

Empty DataFrame
Columns: [Summary, Issue id, Parent id, Created, Resolved, time_in_review]
Index: []

In [542]:
all_individual_tasks_reivew_sum_df = all_individual_tasks_reivew_sum.to_frame()
all_individual_tasks_reivew_sum_df.reset_index(inplace=True)
all_individual_tasks_reivew_sum_df

      Parent id    time_in_review
0        174802   0 days 00:01:00
1        329036   0 days 00:00:00
2        336670   0 days 00:01:00
3        338553 238 days 13:36:00
4        345462   8 days 01:23:00
...         ...               ...
2056     471134   0 days 18:55:00
2057     471138   0 days 19:37:00
2058     471236   0 days 00:21:00
2059     471244   0 days 00:01:00
2060     471309   0 days 00:00:00

[2061 rows x 2 columns]

In [588]:
all_individual_tasks_reivew_sum_df.loc[all_individual_tasks_reivew_sum_df["Parent id"] == 345462]

Empty DataFrame
Columns: [Parent id, time_in_review]
Index: []

In [544]:
all_individual_tasks_reivew_sum_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2061 entries, 0 to 2060
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Parent id       2061 non-null   int64
 1   time_in_review  2061 non-null   timedelta64[ns]
dtypes: int64(1), timedelta64[ns](1)
memory usage: 32.3 KB

In [545]:
all_individual_tasks_reivew_sum_df

      Parent id    time_in_review
0        174802   0 days 00:01:00
1        329036   0 days 00:00:00
2        336670   0 days 00:01:00
3        338553 238 days 13:36:00
4        345462   8 days 01:23:00
...         ...               ...
2056     471134   0 days 18:55:00
2057     471138   0 days 19:37:00
2058     471236   0 days 00:21:00
2059     471244   0 days 00:01:00
2060     471309   0 days 00:00:00

[2061 rows x 2 columns]

**Summary:**
- There are some tickets which have been more than once in the `Review` step
- We can notice that after gruping and summing tickets, case with 'Parent id' `345462` has total time equals more than `8 days`, which is the sum of the time spend in previous two `Review` subtasks

### Merge `all_sr` dataset with `all_individual_tasks_reivew_sum_df`

In [546]:
all_sr_review_time = pd.merge(all_sr, all_individual_tasks_reivew_sum_df[['Parent id', 'time_in_review']], how="left",left_on = "Issue id",right_on = "Parent id")
all_sr_review_time

,Issue key,Issue id,Status,Reporter,Created,Due Date,Resolved,Customer,Type of Request,Parent id,time_in_review
0,CI-8574,468635,Closed,yutaka,2023-04-28 03:47:00,01/May/23 12:00 AM,2023-05-08 16:08:00,Rehau,Service Request (SR),468635.0,0 days 00:24:00
1,CI-8568,468149,Closed,aruizrobles,2023-04-26 15:30:00,03/May/23 12:00 AM,2023-05-04 17:55:00,Numiga,Service Request (SR),468149.0,1 days 23:16:00
2,CI-8560,467735,Closed,nsanchez,2023-04-25 11:57:00,08/May/23 12:00 AM,2023-05-08 14:02:00,OBB,Service Request (SR),467735.0,6 days 20:24:00
3,CI-8554,467243,Closed,yutaka,2023-04-24 06:44:00,08/May/23 12:00 AM,2023-05-10 04:06:00,Hensoldt,Service Request (SR),467243.0,0 days 00:00:00
4,CI-8552,467085,Closed,nsanchez,2023-04-21 14:58:00,27/Apr/23 12:00 AM,2023-05-08 13:46:00,VW,Service Request (SR),467085.0,6 days 21:53:00
...,...,...,...,...,...,...,...,...,...,...,...
309,CI-6926,393799,Closed,aklabisz,2022-05-25 12:42:00,12/Jul/22 12:00 AM,2023-01-27 19:53:00,Aquila Capital,Service Request (SR),393799.0,38 days 18:52:00
310,CI-6911,393585,Closed,aklabisz,2022-05-24 15:11:00,11/Aug/22 12:00 AM,2023-01-24 10:33:00,VW,Service Request (SR),393585.0,24 days 12:21:00
311,CI-6901,393357,Closed,aklabisz,2022-05-23 13:21:00,30/May/22 12:00 AM,2023-03-21 13:06:00,Porsche,Service Request (SR),393357.0,28 days 01:38:00
312,CI-6825,389774,Closed,aklabisz,2022-05-11 11:16:00,16/May/22 12:00 AM,2023-01-24 12:32:00,Hugo Boss,Service Request (SR),389774.0,8 days 14:12:00
313,CI-5953,349721,Closed,wiedenroth,2021-11-05 17:04:00,03/Dec/21 12:00 AM,2023-04-11 09:04:00,Allianz,Service Request (SR),349721.0,0 days 00:02:00

In [547]:
all_sr_review_time.isnull().sum()

Issue key           0
Issue id            0
Status              0
Reporter            0
Created             0
Due Date            0
Resolved            0
Customer            0
Type of Request     0
Parent id          66
time_in_review     66
dtype: int64

### Investigate `null` rows after merging  main SR tickets with individual subtasks

In [548]:
null_rows = all_sr_review_time[all_sr_review_time["time_in_review"].isnull()]
null_rows.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 66 entries, 13 to 288
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Issue key        66 non-null     object
 1   Issue id         66 non-null     int64
 2   Status           66 non-null     object
 3   Reporter         66 non-null     object
 4   Created          66 non-null     datetime64[ns]
 5   Due Date         66 non-null     object
 6   Resolved         66 non-null     datetime64[ns]
 7   Customer         66 non-null     object
 8   Type of Request  66 non-null     object
 9   Parent id        0 non-null      float64
 10  time_in_review   0 non-null      timedelta64[ns]
dtypes: datetime64[ns](2), float64(1), int64(1), object(6), timedelta64[ns](1)
memory usage: 6.2+ KB

In [549]:
null_rows

,Issue key,Issue id,Status,Reporter,Created,Due Date,Resolved,Customer,Type of Request,Parent id,time_in_review
13,CI-8489,465210,Closed,kgostynska,2023-04-17 09:43:00,24/Apr/23 12:00 AM,2023-04-26 10:33:00,ArcelorMittal,Service Request (SR),NaN,NaT
14,CI-8488,465162,Closed,yutaka,2023-04-17 03:43:00,24/Apr/23 12:00 AM,2023-04-18 05:37:00,CMS Hasche Sigle,Service Request (SR),NaN,NaT
15,CI-8487,465050,Closed,nsanchez,2023-04-14 11:16:00,27/Apr/23 12:00 AM,2023-04-28 11:25:00,VW,Service Request (SR),NaN,NaT
16,CI-8486,465008,Closed,yutaka,2023-04-14 09:23:00,21/Apr/23 12:00 AM,2023-05-08 02:17:00,Amadeus,Service Request (SR),NaN,NaT
17,CI-8485,464979,Closed,yutaka,2023-04-14 02:51:00,21/Apr/23 12:00 AM,2023-04-17 11:31:00,Enercon,Service Request (SR),NaN,NaT
...,...,...,...,...,...,...,...,...,...,...,...
88,CI-8239,452166,Closed,yutaka,2023-03-01 02:16:00,06/Mar/23 12:00 AM,2023-03-29 09:54:00,Endress Hauser,Service Request (SR),NaN,NaT
129,CI-8118,446512,Closed,skarja,2023-02-06 20:05:00,13/Feb/23 12:00 AM,2023-04-19 01:24:00,TeamBank AG,Service Request (SR),NaN,NaT
263,CI-7788,431813,Closed,yutaka,2022-12-01 01:54:00,08/Dec/22 12:00 AM,2023-04-05 06:54:00,Amadeus,Service Request (SR),NaN,NaT
285,CI-7550,420892,Closed,yutaka,2022-10-12 17:05:00,19/Oct/22 12:00 AM,2023-04-04 16:34:00,Hugo Boss,Service Request (SR),NaN,NaT
288,CI-7489,418470,Closed,skarja,2022-10-04 07:45:00,11/Oct/22 12:00 AM,2023-03-23 13:55:00,Burda,Service Request (SR),NaN,NaT

In [550]:
all_sr_review_time_without_null = all_sr_review_time.dropna()
all_sr_review_time_without_null.isnull().sum()

Issue key          0
Issue id           0
Status             0
Reporter           0
Created            0
Due Date           0
Resolved           0
Customer           0
Type of Request    0
Parent id          0
time_in_review     0
dtype: int64

**Summary**:
- Ror tickets like `CI-8488`revew time equals 0, so we need to drop it, because it can leads to wrong KPIs calculations

# TO DO
- update the lates dateset

## Determinate time spent on codebusters

- calculate the total time ticket was in subtasks "Configure", "Review", "mport to Test System", "Import in Production", "Import to Customer Test System"
- apply the results to all tickets dataset

In [551]:
all_individual_with_codebusters_time = all_individual_tasks_time_calculation.loc[all_individual_tasks_time_calculation["Summary"].isin(["Configure", "Review", "Import to Test System", "Import in Production", "Import to Customer Test System", "Import to Test", "Import to Staging System"])]

Summarize time for each codebusters subtask

In [552]:
all_individual_with_codebusters_time.groupby("Parent id").count()

           Summary  Issue id  Created  Resolved  time_in
Parent id
331914           1         1        1         1        1
338034           1         1        1         1        1
349721           4         4        4         4        4
351500           2         2        2         2        2
356993           4         4        4         4        4
...            ...       ...      ...       ...      ...
471770           2         2        2         2        2
471775           2         2        2         2        2
471789           2         2        2         2        2
472111           3         3        3         3        3
472134           3         3        3         3        3

[781 rows x 5 columns]

In [553]:
all_individual_with_codebusters_time[all_individual_with_codebusters_time['Parent id'] == 329036]

Empty DataFrame
Columns: [Summary, Issue id, Parent id, Created, Resolved, time_in]
Index: []

In [554]:
all_individual_with_codebusters_time_sum = all_individual_with_codebusters_time.groupby("Parent id")["time_in"].sum()
all_individual_with_codebusters_time_sum_df = all_individual_with_codebusters_time_sum.to_frame()
all_individual_with_codebusters_time_sum_df.rename({"time_in": "time_on_codebusters"},axis=1, inplace=True)
all_individual_with_codebusters_time_sum_df.reset_index(inplace=True)
all_individual_with_codebusters_time_sum_df

     Parent id time_on_codebusters
0       331914     0 days 00:02:00
1       338034     0 days 00:01:00
2       349721     4 days 08:13:00
3       351500    15 days 10:33:00
4       356993    17 days 14:49:00
..         ...                 ...
776     471770     1 days 02:10:00
777     471775     2 days 21:39:00
778     471789     1 days 10:33:00
779     472111     1 days 06:48:00
780     472134    30 days 09:22:00

[781 rows x 2 columns]

In [555]:
# all_individual_tasks_reivew_sum_df = all_individual_tasks_reivew_sum.to_frame()
# all_individual_tasks_reivew_sum_df.reset_index(inplace=True)
# all_individual_tasks_reivew_sum_df

### Merge total time on codebusters with all jira ticekts dataset

In [556]:
all_sr_codebusters_time = pd.merge(all_sr, all_individual_with_codebusters_time_sum_df, how="inner",left_on = "Issue id",right_on = "Parent id")
all_sr_codebusters_time

,Issue key,Issue id,Status,Reporter,Created,Due Date,Resolved,Customer,Type of Request,Parent id,time_on_codebusters
0,CI-8574,468635,Closed,yutaka,2023-04-28 03:47:00,01/May/23 12:00 AM,2023-05-08 16:08:00,Rehau,Service Request (SR),468635,8 days 00:48:00
1,CI-8568,468149,Closed,aruizrobles,2023-04-26 15:30:00,03/May/23 12:00 AM,2023-05-04 17:55:00,Numiga,Service Request (SR),468149,61 days 06:56:00
2,CI-8560,467735,Closed,nsanchez,2023-04-25 11:57:00,08/May/23 12:00 AM,2023-05-08 14:02:00,OBB,Service Request (SR),467735,10 days 13:28:00
3,CI-8554,467243,Closed,yutaka,2023-04-24 06:44:00,08/May/23 12:00 AM,2023-05-10 04:06:00,Hensoldt,Service Request (SR),467243,22 days 06:07:00
4,CI-8552,467085,Closed,nsanchez,2023-04-21 14:58:00,27/Apr/23 12:00 AM,2023-05-08 13:46:00,VW,Service Request (SR),467085,71 days 23:58:00
...,...,...,...,...,...,...,...,...,...,...,...
244,CI-7227,407574,Closed,skarja,2022-08-10 00:39:00,30/Sep/22 12:00 AM,2023-01-24 11:52:00,Rheinmetall,Service Request (SR),407574,2 days 23:15:00
245,CI-7226,407535,Closed,ssaharoy,2022-08-09 15:05:00,16/Aug/22 12:00 AM,2023-01-18 06:29:00,Porsche,Service Request (SR),407535,0 days 00:00:00
246,CI-7205,406532,Closed,nsanchez,2022-08-04 11:54:00,02/May/23 12:00 AM,2023-04-10 08:47:00,Hugo Boss,Service Request (SR),406532,0 days 15:22:00
247,CI-6901,393357,Closed,aklabisz,2022-05-23 13:21:00,30/May/22 12:00 AM,2023-03-21 13:06:00,Porsche,Service Request (SR),393357,3 days 18:32:00
248,CI-5953,349721,Closed,wiedenroth,2021-11-05 17:04:00,03/Dec/21 12:00 AM,2023-04-11 09:04:00,Allianz,Service Request (SR),349721,4 days 08:13:00

### Investigate `null` rows after merging  main SR tickets with individual subtasks

In [557]:
all_sr_codebusters_time.isnull().sum()

Issue key              0
Issue id               0
Status                 0
Reporter               0
Created                0
Due Date               0
Resolved               0
Customer               0
Type of Request        0
Parent id              0
time_on_codebusters    0
dtype: int64

In [558]:
all_sr_codebusters_time_without_null = all_sr_codebusters_time.dropna()
all_sr_codebusters_time_without_null.isnull().sum()

Issue key              0
Issue id               0
Status                 0
Reporter               0
Created                0
Due Date               0
Resolved               0
Customer               0
Type of Request        0
Parent id              0
time_on_codebusters    0
dtype: int64

In [559]:
all_sr_codebusters_time_without_null

,Issue key,Issue id,Status,Reporter,Created,Due Date,Resolved,Customer,Type of Request,Parent id,time_on_codebusters
0,CI-8574,468635,Closed,yutaka,2023-04-28 03:47:00,01/May/23 12:00 AM,2023-05-08 16:08:00,Rehau,Service Request (SR),468635,8 days 00:48:00
1,CI-8568,468149,Closed,aruizrobles,2023-04-26 15:30:00,03/May/23 12:00 AM,2023-05-04 17:55:00,Numiga,Service Request (SR),468149,61 days 06:56:00
2,CI-8560,467735,Closed,nsanchez,2023-04-25 11:57:00,08/May/23 12:00 AM,2023-05-08 14:02:00,OBB,Service Request (SR),467735,10 days 13:28:00
3,CI-8554,467243,Closed,yutaka,2023-04-24 06:44:00,08/May/23 12:00 AM,2023-05-10 04:06:00,Hensoldt,Service Request (SR),467243,22 days 06:07:00
4,CI-8552,467085,Closed,nsanchez,2023-04-21 14:58:00,27/Apr/23 12:00 AM,2023-05-08 13:46:00,VW,Service Request (SR),467085,71 days 23:58:00
...,...,...,...,...,...,...,...,...,...,...,...
244,CI-7227,407574,Closed,skarja,2022-08-10 00:39:00,30/Sep/22 12:00 AM,2023-01-24 11:52:00,Rheinmetall,Service Request (SR),407574,2 days 23:15:00
245,CI-7226,407535,Closed,ssaharoy,2022-08-09 15:05:00,16/Aug/22 12:00 AM,2023-01-18 06:29:00,Porsche,Service Request (SR),407535,0 days 00:00:00
246,CI-7205,406532,Closed,nsanchez,2022-08-04 11:54:00,02/May/23 12:00 AM,2023-04-10 08:47:00,Hugo Boss,Service Request (SR),406532,0 days 15:22:00
247,CI-6901,393357,Closed,aklabisz,2022-05-23 13:21:00,30/May/22 12:00 AM,2023-03-21 13:06:00,Porsche,Service Request (SR),393357,3 days 18:32:00
248,CI-5953,349721,Closed,wiedenroth,2021-11-05 17:04:00,03/Dec/21 12:00 AM,2023-04-11 09:04:00,Allianz,Service Request (SR),349721,4 days 08:13:00

**Summary:**

## Determinate time spent outside codebusters

- calculate the total time ticket was in one of the subtask "Explain", "Verify", "Clarify", "Communicate"
- apply results to all SR tickets dataset

In [560]:
all_individual_others_time = all_individual_tasks_time_calculation.loc[all_individual_tasks_time_calculation["Summary"].isin(["Explain", "Verify", "Clarify", "Communicate"])]
all_individual_others_time

,Summary,Issue id,Parent id,Created,Resolved,time_in
7,Verify,471871,466458,2022-05-30 17:01:00,2022-05-30 17:01:00,0 days 00:00:00
9,Verify,471869,466458,2022-05-30 17:01:00,2022-05-30 17:01:00,0 days 00:00:00
14,Explain,471783,465493,2022-05-30 16:18:00,2022-05-30 18:01:00,0 days 01:43:00
17,Communicate,471768,471138,2022-05-30 15:47:00,2022-05-30 15:47:00,0 days 00:00:00
18,Communicate,471767,471134,2022-05-30 15:47:00,2022-05-30 15:47:00,0 days 00:00:00
...,...,...,...,...,...,...
6098,Explain,471783,465493,2022-07-13 14:06:00,2022-09-29 15:35:00,78 days 01:29:00
6099,Communicate,470747,455636,2022-07-13 14:06:00,2022-07-13 14:06:00,0 days 00:00:00
6106,Communicate,468182,454791,2022-07-13 11:16:00,2022-07-21 11:28:00,8 days 00:12:00
6107,Communicate,468160,467976,2022-07-13 11:11:00,2022-07-13 14:30:00,0 days 03:19:00
6108,Communicate,467666,465773,2022-07-13 11:11:00,2022-07-19 12:59:00,6 days 01:48:00

Summarize time for each subtask outside codeubsters

In [561]:
all_individual_others_time_sum = all_individual_others_time.groupby("Parent id")["time_in"].sum()
all_individual_others_time_sum_df = all_individual_others_time_sum.to_frame()
all_individual_others_time_sum_df.rename({"time_in": "time_outside_codebusters"},axis=1, inplace=True)
all_individual_others_time_sum_df.reset_index(inplace=True)
all_individual_others_time_sum_df

     Parent id time_outside_codebusters
0       331914          0 days 00:48:00
1       338034          2 days 15:35:00
2       349721          1 days 03:12:00
3       351500        160 days 01:15:00
4       356993          0 days 17:16:00
..         ...                      ...
831     471086         62 days 20:16:00
832     471134          4 days 02:39:00
833     471138          8 days 15:05:00
834     471236         20 days 10:28:00
835     471244          2 days 03:23:00

[836 rows x 2 columns]

In [562]:
# all_individual_with_codebusters_time_sum = all_individual_with_codebusters_time.groupby("Parent id")["time_in"].sum()
# all_individual_with_codebusters_time_sum_df = all_individual_with_codebusters_time_sum.to_frame()
# all_individual_with_codebusters_time_sum_df.rename({"time_in": "time_on_codebusters"},axis=1, inplace=True)
# all_individual_with_codebusters_time_sum_df.reset_index(inplace=True)
# all_individual_with_codebusters_time_sum_df

### Merge `all_sr` with `all_individual_others_time_sum_df` dataset

In [563]:
all_sr_outside_codebusters_time = pd.merge(all_sr, all_individual_others_time_sum_df, how="inner",left_on = "Issue id",right_on = "Parent id")
all_sr_outside_codebusters_time

,Issue key,Issue id,Status,Reporter,Created,Due Date,Resolved,Customer,Type of Request,Parent id,time_outside_codebusters
0,CI-8574,468635,Closed,yutaka,2023-04-28 03:47:00,01/May/23 12:00 AM,2023-05-08 16:08:00,Rehau,Service Request (SR),468635,31 days 21:34:00
1,CI-8568,468149,Closed,aruizrobles,2023-04-26 15:30:00,03/May/23 12:00 AM,2023-05-04 17:55:00,Numiga,Service Request (SR),468149,5 days 12:03:00
2,CI-8560,467735,Closed,nsanchez,2023-04-25 11:57:00,08/May/23 12:00 AM,2023-05-08 14:02:00,OBB,Service Request (SR),467735,144 days 19:06:00
3,CI-8554,467243,Closed,yutaka,2023-04-24 06:44:00,08/May/23 12:00 AM,2023-05-10 04:06:00,Hensoldt,Service Request (SR),467243,8 days 09:39:00
4,CI-8552,467085,Closed,nsanchez,2023-04-21 14:58:00,27/Apr/23 12:00 AM,2023-05-08 13:46:00,VW,Service Request (SR),467085,33 days 11:41:00
...,...,...,...,...,...,...,...,...,...,...,...
270,CI-7029,398756,Closed,skarja,2022-06-23 14:32:00,30/Jun/22 12:00 AM,2023-01-27 19:55:00,TeamBank AG,Service Request (SR),398756,12 days 16:29:00
271,CI-6911,393585,Closed,aklabisz,2022-05-24 15:11:00,11/Aug/22 12:00 AM,2023-01-24 10:33:00,VW,Service Request (SR),393585,0 days 00:18:00
272,CI-6901,393357,Closed,aklabisz,2022-05-23 13:21:00,30/May/22 12:00 AM,2023-03-21 13:06:00,Porsche,Service Request (SR),393357,0 days 16:28:00
273,CI-6825,389774,Closed,aklabisz,2022-05-11 11:16:00,16/May/22 12:00 AM,2023-01-24 12:32:00,Hugo Boss,Service Request (SR),389774,0 days 16:39:00
274,CI-5953,349721,Closed,wiedenroth,2021-11-05 17:04:00,03/Dec/21 12:00 AM,2023-04-11 09:04:00,Allianz,Service Request (SR),349721,1 days 03:12:00

In [564]:
all_sr_outside_codebusters_time.isnull().sum()

Issue key                   0
Issue id                    0
Status                      0
Reporter                    0
Created                     0
Due Date                    0
Resolved                    0
Customer                    0
Type of Request             0
Parent id                   0
time_outside_codebusters    0
dtype: int64

**Summary:**

## Combine all created datasets
- In this step we will merge all created erlier datasets: `all_sr_outside_codebusters_time`, `all_sr_codebusters_time` and `all_sr_review_time`

Merge df containing "review" time with df containg "time on codebusters"

In [565]:
all_tickets_time_on_and_outside_codebusters = pd.merge(all_sr_outside_codebusters_time, all_sr_codebusters_time[['Issue id','time_on_codebusters']],  how="inner",left_on = "Issue id",right_on = "Issue id")
all_tickets_time_on_and_outside_codebusters

,Issue key,Issue id,Status,Reporter,Created,Due Date,Resolved,Customer,Type of Request,Parent id,time_outside_codebusters,time_on_codebusters
0,CI-8574,468635,Closed,yutaka,2023-04-28 03:47:00,01/May/23 12:00 AM,2023-05-08 16:08:00,Rehau,Service Request (SR),468635,31 days 21:34:00,8 days 00:48:00
1,CI-8568,468149,Closed,aruizrobles,2023-04-26 15:30:00,03/May/23 12:00 AM,2023-05-04 17:55:00,Numiga,Service Request (SR),468149,5 days 12:03:00,61 days 06:56:00
2,CI-8560,467735,Closed,nsanchez,2023-04-25 11:57:00,08/May/23 12:00 AM,2023-05-08 14:02:00,OBB,Service Request (SR),467735,144 days 19:06:00,10 days 13:28:00
3,CI-8554,467243,Closed,yutaka,2023-04-24 06:44:00,08/May/23 12:00 AM,2023-05-10 04:06:00,Hensoldt,Service Request (SR),467243,8 days 09:39:00,22 days 06:07:00
4,CI-8552,467085,Closed,nsanchez,2023-04-21 14:58:00,27/Apr/23 12:00 AM,2023-05-08 13:46:00,VW,Service Request (SR),467085,33 days 11:41:00,71 days 23:58:00
...,...,...,...,...,...,...,...,...,...,...,...,...
244,CI-7227,407574,Closed,skarja,2022-08-10 00:39:00,30/Sep/22 12:00 AM,2023-01-24 11:52:00,Rheinmetall,Service Request (SR),407574,14 days 09:43:00,2 days 23:15:00
245,CI-7226,407535,Closed,ssaharoy,2022-08-09 15:05:00,16/Aug/22 12:00 AM,2023-01-18 06:29:00,Porsche,Service Request (SR),407535,4 days 00:03:00,0 days 00:00:00
246,CI-7205,406532,Closed,nsanchez,2022-08-04 11:54:00,02/May/23 12:00 AM,2023-04-10 08:47:00,Hugo Boss,Service Request (SR),406532,0 days 18:51:00,0 days 15:22:00
247,CI-6901,393357,Closed,aklabisz,2022-05-23 13:21:00,30/May/22 12:00 AM,2023-03-21 13:06:00,Porsche,Service Request (SR),393357,0 days 16:28:00,3 days 18:32:00
248,CI-5953,349721,Closed,wiedenroth,2021-11-05 17:04:00,03/Dec/21 12:00 AM,2023-04-11 09:04:00,Allianz,Service Request (SR),349721,1 days 03:12:00,4 days 08:13:00

In [566]:
all_tickets_time_on_and_outside_codebusters.isnull().sum()

Issue key                   0
Issue id                    0
Status                      0
Reporter                    0
Created                     0
Due Date                    0
Resolved                    0
Customer                    0
Type of Request             0
Parent id                   0
time_outside_codebusters    0
time_on_codebusters         0
dtype: int64

### Merge `all_tickets_time_on_and_outside_codebusters` with `all_sr_review_time` dataset

In [567]:
all_tickets_with_time = pd.merge(all_tickets_time_on_and_outside_codebusters, all_sr_review_time[['Issue id','time_in_review']],  how="inner",left_on = "Issue id",right_on = "Issue id")
all_tickets_with_time

,Issue key,Issue id,Status,Reporter,Created,Due Date,Resolved,Customer,Type of Request,Parent id,time_outside_codebusters,time_on_codebusters,time_in_review
0,CI-8574,468635,Closed,yutaka,2023-04-28 03:47:00,01/May/23 12:00 AM,2023-05-08 16:08:00,Rehau,Service Request (SR),468635,31 days 21:34:00,8 days 00:48:00,0 days 00:24:00
1,CI-8568,468149,Closed,aruizrobles,2023-04-26 15:30:00,03/May/23 12:00 AM,2023-05-04 17:55:00,Numiga,Service Request (SR),468149,5 days 12:03:00,61 days 06:56:00,1 days 23:16:00
2,CI-8560,467735,Closed,nsanchez,2023-04-25 11:57:00,08/May/23 12:00 AM,2023-05-08 14:02:00,OBB,Service Request (SR),467735,144 days 19:06:00,10 days 13:28:00,6 days 20:24:00
3,CI-8554,467243,Closed,yutaka,2023-04-24 06:44:00,08/May/23 12:00 AM,2023-05-10 04:06:00,Hensoldt,Service Request (SR),467243,8 days 09:39:00,22 days 06:07:00,0 days 00:00:00
4,CI-8552,467085,Closed,nsanchez,2023-04-21 14:58:00,27/Apr/23 12:00 AM,2023-05-08 13:46:00,VW,Service Request (SR),467085,33 days 11:41:00,71 days 23:58:00,6 days 21:53:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
244,CI-7227,407574,Closed,skarja,2022-08-10 00:39:00,30/Sep/22 12:00 AM,2023-01-24 11:52:00,Rheinmetall,Service Request (SR),407574,14 days 09:43:00,2 days 23:15:00,103 days 12:49:00
245,CI-7226,407535,Closed,ssaharoy,2022-08-09 15:05:00,16/Aug/22 12:00 AM,2023-01-18 06:29:00,Porsche,Service Request (SR),407535,4 days 00:03:00,0 days 00:00:00,15 days 16:28:00
246,CI-7205,406532,Closed,nsanchez,2022-08-04 11:54:00,02/May/23 12:00 AM,2023-04-10 08:47:00,Hugo Boss,Service Request (SR),406532,0 days 18:51:00,0 days 15:22:00,6 days 01:59:00
247,CI-6901,393357,Closed,aklabisz,2022-05-23 13:21:00,30/May/22 12:00 AM,2023-03-21 13:06:00,Porsche,Service Request (SR),393357,0 days 16:28:00,3 days 18:32:00,28 days 01:38:00
248,CI-5953,349721,Closed,wiedenroth,2021-11-05 17:04:00,03/Dec/21 12:00 AM,2023-04-11 09:04:00,Allianz,Service Request (SR),349721,1 days 03:12:00,4 days 08:13:00,0 days 00:02:00

Check for null values

In [568]:
all_tickets_with_time.isnull().sum()

Issue key                    0
Issue id                     0
Status                       0
Reporter                     0
Created                      0
Due Date                     0
Resolved                     0
Customer                     0
Type of Request              0
Parent id                    0
time_outside_codebusters     0
time_on_codebusters          0
time_in_review              66
dtype: int64

Drop rows which contain null value

In [569]:
all_tickets_with_time_without_null = all_tickets_with_time.dropna()
all_tickets_with_time_without_null.isnull().sum()

Issue key                   0
Issue id                    0
Status                      0
Reporter                    0
Created                     0
Due Date                    0
Resolved                    0
Customer                    0
Type of Request             0
Parent id                   0
time_outside_codebusters    0
time_on_codebusters         0
time_in_review              0
dtype: int64

### Convert `time in..` columns to minutes

Convert `timedelta` columns to float

In [570]:
all_tickets_with_time_converted = all_tickets_with_time_without_null
all_tickets_with_time_converted.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 183 entries, 0 to 248
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Issue key                 183 non-null    object
 1   Issue id                  183 non-null    int64
 2   Status                    183 non-null    object
 3   Reporter                  183 non-null    object
 4   Created                   183 non-null    datetime64[ns]
 5   Due Date                  183 non-null    object
 6   Resolved                  183 non-null    datetime64[ns]
 7   Customer                  183 non-null    object
 8   Type of Request           183 non-null    object
 9   Parent id                 183 non-null    int64
 10  time_outside_codebusters  183 non-null    timedelta64[ns]
 11  time_on_codebusters       183 non-null    timedelta64[ns]
 12  time_in_review            183 non-null    timedelta64[ns]
dtypes: datetime64[ns](2), int64(2), object(6), timedelta64[ns](3)
memory usage: 20.0+ KB

Convert `time in..` columns to minutes

In [571]:
all_tickets_with_time_converted['time_in_review'] = all_tickets_with_time_converted['time_in_review'].dt.total_seconds().div(60)
all_tickets_with_time_converted['time_on_codebusters'] = all_tickets_with_time_converted['time_on_codebusters'].dt.total_seconds().div(60)
all_tickets_with_time_converted['time_outside_codebusters'] = all_tickets_with_time['time_outside_codebusters'].dt.total_seconds().div(60)

all_tickets_with_time_converted.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 183 entries, 0 to 248
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Issue key                 183 non-null    object
 1   Issue id                  183 non-null    int64
 2   Status                    183 non-null    object
 3   Reporter                  183 non-null    object
 4   Created                   183 non-null    datetime64[ns]
 5   Due Date                  183 non-null    object
 6   Resolved                  183 non-null    datetime64[ns]
 7   Customer                  183 non-null    object
 8   Type of Request           183 non-null    object
 9   Parent id                 183 non-null    int64
 10  time_outside_codebusters  183 non-null    float64
 11  time_on_codebusters       183 non-null    float64
 12  time_in_review            183 non-null    float64
dtypes: datetime64[ns](2), float64(3), int64(2), object(6)
memory usage: 20.0+ KB

<ipython-input-571-72b31f9f5481>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_tickets_with_time_converted['time_in_review'] = all_tickets_with_time_converted['time_in_review'].dt.total_seconds().div(60)
<ipython-input-571-72b31f9f5481>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_tickets_with_time_converted['time_on_codebusters'] = all_tickets_with_time_converted['time_on_codebusters'].dt.total_seconds().div(60)
<ipython-input-571-72b31f9f5481>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_tickets_with_time_converted['time_outside_codebusters'] = all_tickets_with_time['time_outside_codebusters'].dt.total_seconds().div(60)

In [581]:
all_tickets_with_time_converted.reset_index(inplace=True)
all_tickets_with_time_converted

,index,Issue key,Issue id,Status,Reporter,Created,Due Date,Resolved,Customer,Type of Request,Parent id,time_outside_codebusters,time_on_codebusters,time_in_review
0,0,CI-8574,468635,Closed,yutaka,2023-04-28 03:47:00,01/May/23 12:00 AM,2023-05-08 16:08:00,Rehau,Service Request (SR),468635,45934.0,11568.0,24.0
1,1,CI-8568,468149,Closed,aruizrobles,2023-04-26 15:30:00,03/May/23 12:00 AM,2023-05-04 17:55:00,Numiga,Service Request (SR),468149,7923.0,88256.0,2836.0
2,2,CI-8560,467735,Closed,nsanchez,2023-04-25 11:57:00,08/May/23 12:00 AM,2023-05-08 14:02:00,OBB,Service Request (SR),467735,208506.0,15208.0,9864.0
3,3,CI-8554,467243,Closed,yutaka,2023-04-24 06:44:00,08/May/23 12:00 AM,2023-05-10 04:06:00,Hensoldt,Service Request (SR),467243,12099.0,32047.0,0.0
4,4,CI-8552,467085,Closed,nsanchez,2023-04-21 14:58:00,27/Apr/23 12:00 AM,2023-05-08 13:46:00,VW,Service Request (SR),467085,48221.0,103678.0,9953.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
178,244,CI-7227,407574,Closed,skarja,2022-08-10 00:39:00,30/Sep/22 12:00 AM,2023-01-24 11:52:00,Rheinmetall,Service Request (SR),407574,20743.0,4275.0,149089.0
179,245,CI-7226,407535,Closed,ssaharoy,2022-08-09 15:05:00,16/Aug/22 12:00 AM,2023-01-18 06:29:00,Porsche,Service Request (SR),407535,5763.0,0.0,22588.0
180,246,CI-7205,406532,Closed,nsanchez,2022-08-04 11:54:00,02/May/23 12:00 AM,2023-04-10 08:47:00,Hugo Boss,Service Request (SR),406532,1131.0,922.0,8759.0
181,247,CI-6901,393357,Closed,aklabisz,2022-05-23 13:21:00,30/May/22 12:00 AM,2023-03-21 13:06:00,Porsche,Service Request (SR),393357,988.0,5432.0,40418.0
182,248,CI-5953,349721,Closed,wiedenroth,2021-11-05 17:04:00,03/Dec/21 12:00 AM,2023-04-11 09:04:00,Allianz,Service Request (SR),349721,1632.0,6253.0,2.0

In [573]:
all_tickets_with_time_converted.dropna(subset=['time_in_review'], how="any", inplace=True)
all_tickets_with_time_converted.isnull().sum()

<ipython-input-573-56e03e397993>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_tickets_with_time_converted.dropna(subset=['time_in_review'], how="any", inplace=True)

Issue key                   0
Issue id                    0
Status                      0
Reporter                    0
Created                     0
Due Date                    0
Resolved                    0
Customer                    0
Type of Request             0
Parent id                   0
time_outside_codebusters    0
time_on_codebusters         0
time_in_review              0
dtype: int64

## Save data for KPIs purposes

In [574]:
all_tickets_with_time_converted.to_csv('all_partners.csv', index=False)

### Add a column to all tasks with the latest communicate step date
- count "real" close time, bease on the date when ticket was moved to `communicate` step

In [575]:
all_individual_tasks_2022

,Summary,Issue id,Parent id,Created,Resolved,time_in
0,Import in Production,394675,373630,2022-05-30 22:30:00,2022-06-21 13:17:00,21 days 14:47:00
1,Communicate,394671,389490,2022-05-30 20:27:00,2022-05-31 09:59:00,0 days 13:32:00
2,Communicate,394670,393625,2022-05-30 20:27:00,2022-05-31 09:04:00,0 days 12:37:00
3,Configure,394664,389982,2022-05-30 18:01:00,2022-05-31 14:22:00,0 days 20:21:00
4,Configure,394663,370941,2022-05-30 17:43:00,2022-06-17 13:58:00,17 days 20:15:00
...,...,...,...,...,...,...
14067,Explain,465501,465496,2023-04-18 04:31:00,2023-04-18 04:31:00,0 days 00:00:00
14068,Review,465500,465499,2023-04-18 04:31:00,2023-04-18 04:36:00,0 days 00:05:00
14069,Review,465497,465496,2023-04-18 04:16:00,2023-04-18 04:31:00,0 days 00:15:00
14070,Review,465494,465493,2023-04-18 02:16:00,2023-05-09 18:08:00,21 days 15:52:00
14071,Review,465492,465491,2023-04-18 01:18:00,2023-05-03 09:14:00,15 days 07:56:00

In [576]:
summary_duplicates = all_individual_tasks_2022.duplicated(['Summary', 'Parent id'], keep=False)
all_individual_tasks_2022[summary_duplicates].sort_values("Parent id")

,Summary,Issue id,Parent id,Created,Resolved,time_in
448,Verify,392575,327573,2022-05-18 13:20:00,2022-05-18 13:20:00,0 days 00:00:00
7173,Verify,395426,327573,2022-06-03 13:45:00,2022-06-03 13:45:00,0 days 00:00:00
1251,Import in Production,386221,329036,2022-04-21 11:00:00,2022-04-25 10:56:00,3 days 23:56:00
1254,Configure,386188,329036,2022-04-21 09:08:00,2022-04-21 11:00:00,0 days 01:52:00
1278,Communicate,386023,329036,2022-04-20 13:04:00,2022-04-20 13:04:00,0 days 00:00:00
...,...,...,...,...,...,...
13246,Review,471321,470324,2023-05-11 11:03:00,2023-05-11 11:39:00,0 days 00:36:00
13346,Verify,470938,470827,2023-05-10 10:53:00,2023-05-10 10:53:00,0 days 00:00:00
13348,Verify,470936,470827,2023-05-10 10:53:00,2023-05-10 10:53:00,0 days 00:00:00
13290,Verify,471153,471086,2023-05-10 17:39:00,2023-05-10 19:54:00,0 days 02:15:00
13285,Verify,471170,471086,2023-05-10 19:54:00,2023-05-10 19:54:00,0 days 00:00:00

In [577]:
all_individual_tasks_2022_communicate = all_individual_tasks_2022[all_individual_tasks_2022["Summary"] == "Communicate"]
all_individual_tasks_2022_communicate.sort_values("Parent id")

,Summary,Issue id,Parent id,Created,Resolved,time_in
3251,Communicate,370797,326547,2022-02-18 20:14:00,2022-02-18 20:16:00,0 days 00:02:00
7171,Communicate,395428,327573,2022-06-03 13:45:00,2022-06-03 13:45:00,0 days 00:00:00
1278,Communicate,386023,329036,2022-04-20 13:04:00,2022-04-20 13:04:00,0 days 00:00:00
1200,Communicate,386568,329036,2022-04-25 10:56:00,2022-04-25 10:57:00,0 days 00:01:00
1459,Communicate,384549,330489,2022-04-12 10:15:00,2022-04-12 10:42:00,0 days 00:27:00
...,...,...,...,...,...,...
13646,Communicate,468640,468635,2023-04-28 04:17:00,2023-05-08 16:08:00,10 days 11:51:00
13498,Communicate,469841,469376,2023-05-04 18:01:00,2023-05-05 16:27:00,0 days 22:26:00
13502,Communicate,469828,469474,2023-05-04 17:12:00,2023-05-05 16:37:00,0 days 23:25:00
13229,Communicate,471406,471236,2023-05-11 14:06:00,2023-05-11 14:37:00,0 days 00:31:00
13242,Communicate,471343,471244,2023-05-11 11:38:00,2023-05-11 12:00:00,0 days 00:22:00

In [578]:
all_individual_tasks_2022_communicate.nunique()

Summary         1
Issue id     1914
Parent id    1743
Created      1741
Resolved     1691
time_in      1162
dtype: int64

Drop rows with duplicated `Communicate` subtask and keep only the newest one

In [579]:
all_individual_tasks_2022_communicate.sort_values(["Parent id", "Created"])
all_individual_tasks_2022_communicate_no_duplicates = all_individual_tasks_2022_communicate.drop_duplicates(['Summary', 'Parent id'], keep="last")
# all_individual_tasks_2022_communicate_no_duplicates = all_individual_tasks_2022_communicate
all_individual_tasks_2022_communicate_no_duplicates

,Summary,Issue id,Parent id,Created,Resolved,time_in
2,Communicate,394670,393625,2022-05-30 20:27:00,2022-05-31 09:04:00,0 days 12:37:00
22,Communicate,394578,394215,2022-05-30 15:27:00,2022-06-03 09:53:00,3 days 18:26:00
27,Communicate,394570,393200,2022-05-30 15:09:00,2022-05-30 17:27:00,0 days 02:18:00
29,Communicate,394565,394093,2022-05-30 15:05:00,2022-06-17 03:13:00,17 days 12:08:00
30,Communicate,394559,392974,2022-05-30 14:43:00,2022-06-07 01:58:00,7 days 11:15:00
...,...,...,...,...,...,...
14008,Communicate,465745,421830,2023-04-18 11:40:00,2023-04-18 11:40:00,0 days 00:00:00
14025,Communicate,465695,464772,2023-04-18 10:32:00,2023-04-18 11:15:00,0 days 00:43:00
14029,Communicate,465690,464444,2023-04-18 10:31:00,2023-04-18 11:15:00,0 days 00:44:00
14039,Communicate,465592,422099,2023-04-18 09:43:00,2023-04-18 09:43:00,0 days 00:00:00
14041,Communicate,465590,447945,2023-04-18 09:39:00,2023-04-18 13:48:00,0 days 04:09:00

In [580]:
all_tickets_with_time_and_cummunicate_date = pd.merge(all_tickets_with_time_converted, all_individual_tasks_2022_communicate_no_duplicates[['Parent id','Created']], how="left",left_on = "Issue id",right_on = "Parent id").drop(columns=["Parent id"])
all_tickets_with_time_and_cummunicate_date.rename({"Created_y": "comminicate_created"},axis=1, inplace=True)
all_tickets_with_time_and_cummunicate_date

KeyError: "['Parent id'] not found in axis"

Drop rows without `communicate_create`, we are taking in to consideration only completed tickets

In [ ]:
all_tickets_2022_with_time_and_cummunicate_date.isnull().sum()

In [ ]:
all_tickets_2022_with_time_and_cummunicate_date.nunique()

In [ ]:
500 - 145

In [ ]:
all_tickets_2022_with_time_and_cummunicate_date.dropna(subset=['comminicate_created'], how="any", inplace=True)

In [ ]:
all_tickets_2022_with_time_and_cummunicate_date

**Summary:**
- rows with null value are droped
- we take into consideration only completed tickets

### Save data to csv file

In [ ]:
all_tickets_2022_with_time_and_cummunicate_date.to_csv('all_tickets_combined.csv', index=False)

In [ ]:
all_individual_tasks_2022_communicate_no_duplicates.nunique()

## Data Analysis

### Compare the size of the created data sets
- compare the size of each datasests, in order to verify v

In [ ]:
all_individual_tasks_2022_origin[all_individual_tasks_2022_origin['Parent id'] == 450084]

In [ ]:
all_individual_tasks_2022.info()

**Summary:**
- We should receive inside `all_individual_tasks_2022_communicate_no_duplicates` 1372 rows not 1297

# To Do:
- invesitigate discrepency between datasests: `codebusters_time`(1798 rows),  `others_time` (1672 rows), `all_tickets_2022` (1699 rows)

In [ ]:
duplucated_communicate = all_individual_tasks_2022_communicate.duplicated(['Summary', 'Parent id'])
all_individual_tasks_2022_communicate[duplucated_communicate]

In [ ]:
codebusters_time.shape

In [ ]:
others_time.shape

In [ ]:
all_tickets.shape

## Investigate different columns with the tickets age

- check the useful KPIs

In [ ]:
all_tickets_2022_updated.head(-5)

In [ ]:
all_tickets_2022_updated[all_tickets_2022_updated['Issue key'] == 'CI-7689']

In [ ]:
all_tickets_2022_updated['age_till_communicate_hours'].describe()

In [ ]:
# all_tickets_2022_updated.to_csv('all_tickets_2022_updated.csv')