# Codebusters KPIs and Other Usefull Patterns

## import libraries

In [1]:
import pandas as pd
import numpy as np

Import and clean `all_incident_requests` data set 
- remove unnecessary columns
- rename columns

# Prepare data with all tickets

### Import all incident request

Tickets are taken from the following jira filter:<br/> `project = CI AND issuetype in (standardIssueTypes(), "Expense Delivery") AND "Epic Link" is EMPTY AND "Case Number/s" is not EMPTY AND cf[14125] in ("Service Request (ir)") AND resolved is not EMPTY AND resolutiondate >= 2022-12-19

In [2]:
all_ir_origin = pd.read_csv('../../DataSets/KPIs/MainTickets/all_incident_requests.csv')
all_ir_origin

,Summary,Issue key,Issue id,Issue Type,Status,Project key,Project name,Project type,Project lead,Project description,...,Comment.30,Comment.31,Comment.32,Comment.33,Comment.34,Comment.35,Comment.36,Comment.37,Comment.38,Comment.39
0,TUI - Fiscal period 06.04.2023 to 05.04.2024,CI-8458,464220,Expense Delivery,Closed,CI,codebusters,software,rohkamm,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Porsche: deactivation the SAML link,CI-8452,463886,Expense Delivery,Closed,CI,codebusters,software,rohkamm,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,init - unable posted the value to PDF report,CI-8435,463434,Expense Delivery,Closed,CI,codebusters,software,rohkamm,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,amadeus: wrong export posting amounts,CI-8425,462813,Expense Delivery,Closed,CI,codebusters,software,rohkamm,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Amadeus - Unbalanced lines in export file,CI-8424,462772,Expense Delivery,Closed,CI,codebusters,software,rohkamm,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
576,Apleona - ErrorReportValve.invoke,CI-3433,243630,Expense Delivery,Closed,CI,codebusters,software,rohkamm,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
577,CE-2635: Wrong Amount for Per Diems Posting Re...,CI-3430,243477,Expense Delivery,Closed,CI,codebusters,software,rohkamm,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
578,Apleona - Posting Record not defined,CI-3425,243168,Expense Delivery,Closed,CI,codebusters,software,rohkamm,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
579,Repair vegas configuration for prod locations,CI-3424,242968,Expense Delivery,Closed,CI,codebusters,software,rohkamm,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
580,derpart-lekkerland: no perdiem due to CI-3080,CI-3400,242146,Expense Delivery,Closed,CI,codebusters,software,rohkamm,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Select from the dataset only columns necessary for the further analysis

In [3]:
all_ir = all_ir_origin[['Issue key', 'Issue id', 'Status', 'Reporter', 'Created', 'Due Date', 'Resolved', 'Custom field (Customer/s)','Custom field (Type of Request)']]
all_ir.rename({"Custom field (Customer/s)": "Customer", "Custom field (Type of Request)":"Type of Request"},axis=1, inplace=True)

C:\Users\gmalarski\AppData\Local\Temp\ipykernel_27180\1003624474.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_ir.rename({"Custom field (Customer/s)": "Customer", "Custom field (Type of Request)":"Type of Request"},axis=1, inplace=True)

In [4]:
all_ir.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 581 entries, 0 to 580
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Issue key        581 non-null    object
 1   Issue id         581 non-null    int64
 2   Status           581 non-null    object
 3   Reporter         581 non-null    object
 4   Created          581 non-null    object
 5   Due Date         581 non-null    object
 6   Resolved         581 non-null    object
 7   Customer         581 non-null    object
 8   Type of Request  581 non-null    object
dtypes: int64(1), object(8)
memory usage: 41.0+ KB

In [5]:
all_ir.isnull().sum()

Issue key          0
Issue id           0
Status             0
Reporter           0
Created            0
Due Date           0
Resolved           0
Customer           0
Type of Request    0
dtype: int64

### Convert date table to `datetime` object

In [6]:
all_ir["Created"] = pd.to_datetime(all_ir["Created"])
all_ir["Resolved"] = pd.to_datetime(all_ir["Resolved"])

C:\Users\gmalarski\AppData\Local\Temp\ipykernel_27180\119588641.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  all_ir["Created"] = pd.to_datetime(all_ir["Created"])
C:\Users\gmalarski\AppData\Local\Temp\ipykernel_27180\119588641.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_ir["Created"] = pd.to_datetime(all_ir["Created"])
C:\Users\gmalarski\AppData\Local\Temp\ipykernel_27180\119588641.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  all_ir["Resolved"] = pd.to_datetime(all_ir["Resolved"])
C:\Users\gmalarski\AppData\Local\Temp\ipykernel_27180\119588641.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_ir["Resolved"] = pd.to_datetime(all_ir["Resolved"])

In [7]:
all_ir.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 581 entries, 0 to 580
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Issue key        581 non-null    object
 1   Issue id         581 non-null    int64
 2   Status           581 non-null    object
 3   Reporter         581 non-null    object
 4   Created          581 non-null    datetime64[ns]
 5   Due Date         581 non-null    object
 6   Resolved         581 non-null    datetime64[ns]
 7   Customer         581 non-null    object
 8   Type of Request  581 non-null    object
dtypes: datetime64[ns](2), int64(1), object(6)
memory usage: 41.0+ KB

In [8]:
all_ir.shape

(581, 9)

In [9]:
all_ir["ticket_age"] = all_ir["Resolved"] - all_ir["Created"]
all_ir

C:\Users\gmalarski\AppData\Local\Temp\ipykernel_27180\2921873505.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_ir["ticket_age"] = all_ir["Resolved"] - all_ir["Created"]

,Issue key,Issue id,Status,Reporter,Created,Due Date,Resolved,Customer,Type of Request,ticket_age
0,CI-8458,464220,Closed,ssanz,2023-04-11 14:18:00,12/Apr/23 12:00 AM,2023-04-14 09:34:00,TUI AG,Incident Request (IR),2 days 19:16:00
1,CI-8452,463886,Closed,kgostynska,2023-04-07 15:59:00,11/Apr/23 12:00 AM,2023-04-12 15:17:00,Porsche,Incident Request (IR),4 days 23:18:00
2,CI-8435,463434,Closed,yutaka,2023-04-06 02:49:00,13/Apr/23 12:00 AM,2023-04-06 10:10:00,Init AG,Incident Request (IR),0 days 07:21:00
3,CI-8425,462813,Closed,nsanchez,2023-04-04 14:58:00,10/Apr/23 12:00 AM,2023-04-05 11:57:00,Amadeus,Incident Request (IR),0 days 20:59:00
4,CI-8424,462772,Closed,kgostynska,2023-04-04 13:25:00,11/Apr/23 12:00 AM,2023-04-05 13:23:00,Amadeus,Incident Request (IR),0 days 23:58:00
...,...,...,...,...,...,...,...,...,...,...
576,CI-3433,243630,Closed,guinoo,2020-04-27 01:43:00,04/May/20 12:00 AM,2020-07-08 10:44:00,Apleona,Incident Request (IR),72 days 09:01:00
577,CI-3430,243477,Closed,hilbich,2020-04-24 15:10:00,24/Apr/20 12:00 AM,2020-05-05 10:38:00,Amadeus,Incident Request (IR),10 days 19:28:00
578,CI-3425,243168,Closed,guinoo,2020-04-23 14:43:00,30/Apr/20 12:00 AM,2020-05-05 10:46:00,Apleona,Incident Request (IR),11 days 20:03:00
579,CI-3424,242968,Closed,salajan,2020-04-23 07:49:00,23/Apr/20 12:00 AM,2020-04-24 08:21:00,Endress Hauser,Incident Request (IR),1 days 00:32:00
580,CI-3400,242146,Closed,nsanchez,2020-04-17 15:33:00,17/Apr/20 12:00 AM,2020-04-21 09:38:00,Lekkerland,Incident Request (IR),3 days 18:05:00

**Summary**
- there is not ir ticket without `resolved` date
- there is no `null` value in any of the column
- date type columns converted to `datetime` object in order to make calculucations on these columns

# Prepare data with individuals tasks for service requests

## Import and clean `all_individual_tasks` data set 
- we are not able to downaload full data becuase of jira limitation, therefore we need to combine data from differen periods
- remove unnecessary columns
- replace missing `date` values with 0
- drop rows with "null" values

In [10]:
individual_part_1 = pd.read_csv('DataSets/IndividualTasks/from_20220901_till_20221231.csv')
individual_part_2 = pd.read_csv('DataSets/IndividualTasks/from_20230101_till_20230331.csv')
individual_part_3 = pd.read_csv('DataSets/IndividualTasks/from_20230401_till_20230516.csv')



all_individual_tasks_combined = pd.concat([individual_part_1, individual_part_2, individual_part_3], axis=0)
all_individual_tasks_combined

C:\Users\gmalarski\AppData\Local\Temp\ipykernel_27180\4064453507.py:1: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  individual_part_1 = pd.read_csv('DataSets/IndividualTasks/from_20220901_till_20221231.csv')
C:\Users\gmalarski\AppData\Local\Temp\ipykernel_27180\4064453507.py:2: DtypeWarning: Columns (25,261) have mixed types. Specify dtype option on import or set low_memory=False.
  individual_part_2 = pd.read_csv('DataSets/IndividualTasks/from_20230101_till_20230331.csv')

,Summary,Issue key,Issue id,Parent id,Issue Type,Status,Project key,Project name,Project type,Project lead,...,Custom field (arctic Dev Findings),Custom field (arctic QA Findings),Custom field (cytric Stability Findings),Comment,Comment.1,Watchers,Log Work.1,Custom field (Status Information).8,Comment.2,Comment.3
0,Configure,CI-10230380,438459,437698,Individual Task,Done,CI,codebusters,software,rohkamm,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Import in Production,CI-10230372,438433,427628,Individual Task,Done,CI,codebusters,software,rohkamm,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Configure,CI-10230371,438432,427628,Individual Task,Done,CI,codebusters,software,rohkamm,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Verify,CI-10230368,438428,421362,Individual Task,Done,CI,codebusters,software,rohkamm,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Verify,CI-10230367,438427,435618,Individual Task,Done,CI,codebusters,software,rohkamm,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1578,Review,CI-10221609,407738,406532,Individual Task,Done,CI,codebusters,software,rohkamm,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,net.ifao.jira.plugin.pmi.impl.field.StatusInfo...,NaN,NaN
1579,Communicate,CI-10221282,406696,403721,Individual Task,Done,CI,codebusters,software,rohkamm,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,net.ifao.jira.plugin.pmi.impl.field.StatusInfo...,NaN,NaN
1580,Communicate,CI-10219452,401466,398756,Individual Task,Done,CI,codebusters,software,rohkamm,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,net.ifao.jira.plugin.pmi.impl.field.StatusInfo...,NaN,NaN
1581,Review,CI-10204120,363521,363520,Individual Task,Done,CI,codebusters,software,rohkamm,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,net.ifao.jira.plugin.pmi.impl.field.StatusInfo...,NaN,NaN
1582,Review,CI-10200116,351501,351500,Individual Task,Done,CI,codebusters,software,rohkamm,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,net.ifao.jira.plugin.pmi.impl.field.StatusInfo...,NaN,NaN

### Reset indexex of a combined dataset </br>
Indexes of a new dataset are not appropriate, we need to apply `reset_index` method in order to match them with the number of rows

In [11]:
all_individual_tasks_combined.reset_index(inplace=True)
all_individual_tasks_combined

,index,Summary,Issue key,Issue id,Parent id,Issue Type,Status,Project key,Project name,Project type,...,Custom field (arctic Dev Findings),Custom field (arctic QA Findings),Custom field (cytric Stability Findings),Comment,Comment.1,Watchers,Log Work.1,Custom field (Status Information).8,Comment.2,Comment.3
0,0,Configure,CI-10230380,438459,437698,Individual Task,Done,CI,codebusters,software,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Import in Production,CI-10230372,438433,427628,Individual Task,Done,CI,codebusters,software,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Configure,CI-10230371,438432,427628,Individual Task,Done,CI,codebusters,software,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Verify,CI-10230368,438428,421362,Individual Task,Done,CI,codebusters,software,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Verify,CI-10230367,438427,435618,Individual Task,Done,CI,codebusters,software,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8090,1578,Review,CI-10221609,407738,406532,Individual Task,Done,CI,codebusters,software,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,net.ifao.jira.plugin.pmi.impl.field.StatusInfo...,NaN,NaN
8091,1579,Communicate,CI-10221282,406696,403721,Individual Task,Done,CI,codebusters,software,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,net.ifao.jira.plugin.pmi.impl.field.StatusInfo...,NaN,NaN
8092,1580,Communicate,CI-10219452,401466,398756,Individual Task,Done,CI,codebusters,software,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,net.ifao.jira.plugin.pmi.impl.field.StatusInfo...,NaN,NaN
8093,1581,Review,CI-10204120,363521,363520,Individual Task,Done,CI,codebusters,software,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,net.ifao.jira.plugin.pmi.impl.field.StatusInfo...,NaN,NaN
8094,1582,Review,CI-10200116,351501,351500,Individual Task,Done,CI,codebusters,software,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,net.ifao.jira.plugin.pmi.impl.field.StatusInfo...,NaN,NaN

In [12]:
all_individual_tasks_combined.to_csv("all_individual_tasks_combined.csv")

### Filter columns and select only the ones needed for further calculations

In [13]:
all_individual_tasks = all_individual_tasks_combined[['Summary','Issue id', 'Parent id', 'Created', 'Resolved']]
all_individual_tasks

,Summary,Issue id,Parent id,Created,Resolved
0,Configure,438459,437698,30/Dec/22 1:14 PM,30/Dec/22 1:14 PM
1,Import in Production,438433,427628,30/Dec/22 10:49 AM,30/Dec/22 10:49 AM
2,Configure,438432,427628,30/Dec/22 10:48 AM,30/Dec/22 10:49 AM
3,Verify,438428,421362,30/Dec/22 9:59 AM,30/Dec/22 10:52 AM
4,Verify,438427,435618,30/Dec/22 9:58 AM,30/Dec/22 11:01 AM
...,...,...,...,...,...
8090,Review,407738,406532,10/Aug/22 2:02 PM,10/Apr/23 8:47 AM
8091,Communicate,406696,403721,05/Aug/22 9:48 AM,11/Apr/23 1:15 PM
8092,Communicate,401466,398756,07/Jul/22 11:58 AM,11/Apr/23 1:15 PM
8093,Review,363521,363520,18/Jan/22 7:53 PM,18/Apr/23 3:31 PM
8094,Review,351501,351500,16/Nov/21 11:52 AM,18/Apr/23 3:30 PM

In [14]:
all_individual_tasks[all_individual_tasks['Parent id'] == 465210]

      Summary  Issue id  Parent id            Created            Resolved
7180  Explain    466478     465210  20/Apr/23 8:22 AM  26/Apr/23 10:33 AM
7376   Review    465211     465210  17/Apr/23 9:43 AM   20/Apr/23 8:22 AM

### Convert date like columns to `datetime` object

In [15]:
all_individual_tasks["Created"] = pd.to_datetime(all_individual_tasks["Created"])
all_individual_tasks["Resolved"] = pd.to_datetime(all_individual_tasks["Resolved"])
all_individual_tasks.info()

C:\Users\gmalarski\AppData\Local\Temp\ipykernel_27180\2715690364.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  all_individual_tasks["Created"] = pd.to_datetime(all_individual_tasks["Created"])
C:\Users\gmalarski\AppData\Local\Temp\ipykernel_27180\2715690364.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_individual_tasks["Created"] = pd.to_datetime(all_individual_tasks["Created"])
C:\Users\gmalarski\AppData\Local\Temp\ipykernel_27180\2715690364.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  all_individual_tasks["Resolved"] = pd.to_datetime(all_individual_tasks["Resolved"])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8095 entries, 0 to 8094
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Summary    8095 non-null   object
 1   Issue id   8095 non-null   int64
 2   Parent id  8095 non-null   int64
 3   Created    8095 non-null   datetime64[ns]
 4   Resolved   8095 non-null   datetime64[ns]
dtypes: datetime64[ns](2), int64(2), object(1)
memory usage: 316.3+ KB

C:\Users\gmalarski\AppData\Local\Temp\ipykernel_27180\2715690364.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_individual_tasks["Resolved"] = pd.to_datetime(all_individual_tasks["Resolved"])

In [16]:
all_individual_tasks['Summary'].value_counts()

Summary
Configure                         1440
Review                            1428
Verify                            1302
Communicate                       1152
Import to Test System             1063
Import in Production               920
Import to Customer Test System     477
Explain                            191
Clarify                             75
Do                                  47
Name: count, dtype: int64

### Check if there are any `null` values

In [17]:
all_individual_tasks.isnull().sum()

Summary      0
Issue id     0
Parent id    0
Created      0
Resolved     0
dtype: int64

### Drop all rows with null value

In [18]:
all_individual_tasks_without_null = all_individual_tasks.dropna()
all_individual_tasks_without_null.isnull().sum()

Summary      0
Issue id     0
Parent id    0
Created      0
Resolved     0
dtype: int64

**Summary:**

- We are interested only in completed tickets so we have droped rows which contain `null` in `resolved` columns
- Data is filtered and cleaned we are ready for analysis part

# Data Analysis

# Daterminate how long each ticket was in particular individual task

- calculate time for eacch subtask
- calculate how long each ticket was in review
- calculate how long each ticket was "on codebusters"
- calculate how long each ticket was "outside codebusters"

## Calculate time spent in each of the subtask

In [19]:
all_individual_tasks_time_calculation = all_individual_tasks_without_null
all_individual_tasks_time_calculation["time_in"] = all_individual_tasks_time_calculation["Resolved"] - all_individual_tasks_time_calculation["Created"]

### List all available statuses of the CI ticket subtask

In [20]:
all_individual_tasks_time_calculation["Summary"].value_counts()

Summary
Configure                         1440
Review                            1428
Verify                            1302
Communicate                       1152
Import to Test System             1063
Import in Production               920
Import to Customer Test System     477
Explain                            191
Clarify                             75
Do                                  47
Name: count, dtype: int64

## Calculate time ticket was in review step

In [21]:
all_individual_tasks_reivew = all_individual_tasks_time_calculation[all_individual_tasks_time_calculation['Summary'] == 'Review']
all_individual_tasks_reivew.rename({"time_in": "time_in_review"},axis=1, inplace=True)
all_individual_tasks_reivew.reset_index(inplace=True)
all_individual_tasks_reivew

C:\Users\gmalarski\AppData\Local\Temp\ipykernel_27180\3555403275.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_individual_tasks_reivew.rename({"time_in": "time_in_review"},axis=1, inplace=True)

,index,Summary,Issue id,Parent id,Created,Resolved,time_in_review
0,21,Review,438363,438360,2022-12-29 11:45:00,2022-12-29 12:21:00,0 days 00:36:00
1,23,Review,438361,438360,2022-12-29 11:30:00,2022-12-29 11:42:00,0 days 00:12:00
2,59,Review,438268,438267,2022-12-28 10:25:00,2022-12-28 12:05:00,0 days 01:40:00
3,70,Review,438243,438242,2022-12-27 18:02:00,2022-12-27 18:02:00,0 days 00:00:00
4,71,Review,438239,438238,2022-12-27 16:12:00,2022-12-28 10:16:00,0 days 18:04:00
...,...,...,...,...,...,...,...
1423,8088,Review,410039,410038,2022-08-24 13:51:00,2023-04-18 15:31:00,237 days 01:40:00
1424,8089,Review,409406,409405,2022-08-19 13:51:00,2023-04-18 15:29:00,242 days 01:38:00
1425,8090,Review,407738,406532,2022-08-10 14:02:00,2023-04-10 08:47:00,242 days 18:45:00
1426,8093,Review,363521,363520,2022-01-18 19:53:00,2023-04-18 15:31:00,454 days 19:38:00
1427,8094,Review,351501,351500,2021-11-16 11:52:00,2023-04-18 15:30:00,518 days 03:38:00

In [22]:
all_ir.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 581 entries, 0 to 580
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Issue key        581 non-null    object
 1   Issue id         581 non-null    int64
 2   Status           581 non-null    object
 3   Reporter         581 non-null    object
 4   Created          581 non-null    datetime64[ns]
 5   Due Date         581 non-null    object
 6   Resolved         581 non-null    datetime64[ns]
 7   Customer         581 non-null    object
 8   Type of Request  581 non-null    object
 9   ticket_age       581 non-null    timedelta64[ns]
dtypes: datetime64[ns](2), int64(1), object(6), timedelta64[ns](1)
memory usage: 45.5+ KB

### Grup tickets by the `Parent id` and sum total time spent in `review` subtask

In [23]:
all_individual_tasks_reivew[all_individual_tasks_reivew["Parent id"] == 465210]

,index,Summary,Issue id,Parent id,Created,Resolved,time_in_review
1281,7376,Review,465211,465210,2023-04-17 09:43:00,2023-04-20 08:22:00,2 days 22:39:00

In [24]:
all_individual_tasks_reivew_sum = all_individual_tasks_reivew.groupby(by=["Parent id"], dropna=False)["time_in_review"].sum()
all_individual_tasks_reivew_sum = all_individual_tasks_reivew_sum.to_frame()
all_individual_tasks_reivew_sum.reset_index(inplace=True)
all_individual_tasks_reivew_sum

      Parent id    time_in_review
0        316466 560 days 04:54:00
1        331914 566 days 10:00:00
2        335272 398 days 22:05:00
3        336670   0 days 00:01:00
4        338034 501 days 19:04:00
...         ...               ...
1279     471775   0 days 01:18:00
1280     471789   0 days 00:55:00
1281     471820   3 days 02:10:00
1282     472111   0 days 00:00:00
1283     472134   0 days 00:39:00

[1284 rows x 2 columns]

In [25]:
all_individual_tasks_reivew_sum[all_individual_tasks_reivew_sum["Parent id"] == 465210]

      Parent id  time_in_review
1162     465210 2 days 22:39:00

In [26]:
all_individual_tasks_reivew_sum.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1284 entries, 0 to 1283
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Parent id       1284 non-null   int64
 1   time_in_review  1284 non-null   timedelta64[ns]
dtypes: int64(1), timedelta64[ns](1)
memory usage: 20.2 KB

In [27]:
all_individual_tasks_reivew_sum[all_individual_tasks_reivew_sum["Parent id"] == 465210]

      Parent id  time_in_review
1162     465210 2 days 22:39:00

### Check on the particular ticket if the total time is summed correctly

In [28]:
all_individual_tasks_reivew.groupby("Parent id").count()

           index  Summary  Issue id  Created  Resolved  time_in_review
Parent id
316466         1        1         1        1         1               1
331914         1        1         1        1         1               1
335272         1        1         1        1         1               1
336670         1        1         1        1         1               1
338034         1        1         1        1         1               1
...          ...      ...       ...      ...       ...             ...
471775         1        1         1        1         1               1
471789         1        1         1        1         1               1
471820         1        1         1        1         1               1
472111         1        1         1        1         1               1
472134         1        1         1        1         1               1

[1284 rows x 6 columns]

In [29]:
all_individual_tasks_reivew.loc[all_individual_tasks_reivew["Parent id"] == 345462]

Empty DataFrame
Columns: [index, Summary, Issue id, Parent id, Created, Resolved, time_in_review]
Index: []

In [30]:
type(all_individual_tasks_reivew_sum)

pandas.core.frame.DataFrame

In [31]:
all_individual_tasks_reivew_sum_df = all_individual_tasks_reivew_sum
all_individual_tasks_reivew_sum_df.reset_index(inplace=True)
all_individual_tasks_reivew_sum_df

      index  Parent id    time_in_review
0         0     316466 560 days 04:54:00
1         1     331914 566 days 10:00:00
2         2     335272 398 days 22:05:00
3         3     336670   0 days 00:01:00
4         4     338034 501 days 19:04:00
...     ...        ...               ...
1279   1279     471775   0 days 01:18:00
1280   1280     471789   0 days 00:55:00
1281   1281     471820   3 days 02:10:00
1282   1282     472111   0 days 00:00:00
1283   1283     472134   0 days 00:39:00

[1284 rows x 3 columns]

In [32]:
all_individual_tasks_reivew_sum_df.loc[all_individual_tasks_reivew_sum_df["Parent id"] == 345462]

Empty DataFrame
Columns: [index, Parent id, time_in_review]
Index: []

In [33]:
all_individual_tasks_reivew_sum_df.isnull().sum()

index             0
Parent id         0
time_in_review    0
dtype: int64

In [34]:
all_individual_tasks_reivew_sum_df

      index  Parent id    time_in_review
0         0     316466 560 days 04:54:00
1         1     331914 566 days 10:00:00
2         2     335272 398 days 22:05:00
3         3     336670   0 days 00:01:00
4         4     338034 501 days 19:04:00
...     ...        ...               ...
1279   1279     471775   0 days 01:18:00
1280   1280     471789   0 days 00:55:00
1281   1281     471820   3 days 02:10:00
1282   1282     472111   0 days 00:00:00
1283   1283     472134   0 days 00:39:00

[1284 rows x 3 columns]

**Summary:**
- There are some tickets which have been more than once in the `Review` step
- We can notice that after gruping and summing tickets, case with 'Parent id' `345462` has total time equals more than `8 days`, which is the sum of the time spend in previous two `Review` subtasks

### Merge `all_ir` dataset with `all_individual_tasks_reivew_sum_df`

In [35]:
all_ir_review_time = pd.merge(all_ir, all_individual_tasks_reivew_sum_df[['Parent id', 'time_in_review']], how="left",left_on = "Issue id",right_on = "Parent id")
all_ir_review_time

,Issue key,Issue id,Status,Reporter,Created,Due Date,Resolved,Customer,Type of Request,ticket_age,Parent id,time_in_review
0,CI-8458,464220,Closed,ssanz,2023-04-11 14:18:00,12/Apr/23 12:00 AM,2023-04-14 09:34:00,TUI AG,Incident Request (IR),2 days 19:16:00,464220.0,0 days 01:17:00
1,CI-8452,463886,Closed,kgostynska,2023-04-07 15:59:00,11/Apr/23 12:00 AM,2023-04-12 15:17:00,Porsche,Incident Request (IR),4 days 23:18:00,463886.0,3 days 23:42:00
2,CI-8435,463434,Closed,yutaka,2023-04-06 02:49:00,13/Apr/23 12:00 AM,2023-04-06 10:10:00,Init AG,Incident Request (IR),0 days 07:21:00,463434.0,0 days 06:00:00
3,CI-8425,462813,Closed,nsanchez,2023-04-04 14:58:00,10/Apr/23 12:00 AM,2023-04-05 11:57:00,Amadeus,Incident Request (IR),0 days 20:59:00,462813.0,0 days 20:52:00
4,CI-8424,462772,Closed,kgostynska,2023-04-04 13:25:00,11/Apr/23 12:00 AM,2023-04-05 13:23:00,Amadeus,Incident Request (IR),0 days 23:58:00,462772.0,0 days 22:14:00
...,...,...,...,...,...,...,...,...,...,...,...,...
576,CI-3433,243630,Closed,guinoo,2020-04-27 01:43:00,04/May/20 12:00 AM,2020-07-08 10:44:00,Apleona,Incident Request (IR),72 days 09:01:00,NaN,NaT
577,CI-3430,243477,Closed,hilbich,2020-04-24 15:10:00,24/Apr/20 12:00 AM,2020-05-05 10:38:00,Amadeus,Incident Request (IR),10 days 19:28:00,NaN,NaT
578,CI-3425,243168,Closed,guinoo,2020-04-23 14:43:00,30/Apr/20 12:00 AM,2020-05-05 10:46:00,Apleona,Incident Request (IR),11 days 20:03:00,NaN,NaT
579,CI-3424,242968,Closed,salajan,2020-04-23 07:49:00,23/Apr/20 12:00 AM,2020-04-24 08:21:00,Endress Hauser,Incident Request (IR),1 days 00:32:00,NaN,NaT
580,CI-3400,242146,Closed,nsanchez,2020-04-17 15:33:00,17/Apr/20 12:00 AM,2020-04-21 09:38:00,Lekkerland,Incident Request (IR),3 days 18:05:00,NaN,NaT

In [36]:
all_ir_review_time.isnull().sum()

Issue key            0
Issue id             0
Status               0
Reporter             0
Created              0
Due Date             0
Resolved             0
Customer             0
Type of Request      0
ticket_age           0
Parent id          486
time_in_review     486
dtype: int64

### Investigate `null` rows after merging  main ir tickets with individual subtasks

In [37]:
null_rows = all_ir_review_time[all_ir_review_time["time_in_review"].isnull()]
null_rows.info()

<class 'pandas.core.frame.DataFrame'>
Index: 486 entries, 94 to 580
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Issue key        486 non-null    object
 1   Issue id         486 non-null    int64
 2   Status           486 non-null    object
 3   Reporter         486 non-null    object
 4   Created          486 non-null    datetime64[ns]
 5   Due Date         486 non-null    object
 6   Resolved         486 non-null    datetime64[ns]
 7   Customer         486 non-null    object
 8   Type of Request  486 non-null    object
 9   ticket_age       486 non-null    timedelta64[ns]
 10  Parent id        0 non-null      float64
 11  time_in_review   0 non-null      timedelta64[ns]
dtypes: datetime64[ns](2), float64(1), int64(1), object(6), timedelta64[ns](2)
memory usage: 49.4+ KB

In [38]:
null_rows

,Issue key,Issue id,Status,Reporter,Created,Due Date,Resolved,Customer,Type of Request,ticket_age,Parent id,time_in_review
94,CI-7361,410979,Closed,yutaka,2022-08-30 06:51:00,02/Sep/22 12:00 AM,2023-01-06 01:37:00,Amadeus,Incident Request (IR),128 days 18:46:00,NaN,NaT
95,CI-7330,410378,Closed,nsanchez,2022-08-25 12:52:00,25/Aug/22 12:00 AM,2022-08-26 15:09:00,Allianz,Incident Request (IR),1 days 02:17:00,NaN,NaT
96,CI-7309,410021,Closed,ssanz,2022-08-24 12:37:00,31/Aug/22 12:00 AM,2022-10-06 09:58:00,Allianz,Incident Request (IR),42 days 21:21:00,NaN,NaT
97,CI-7302,409785,Closed,ssanz,2022-08-23 10:54:00,30/Aug/22 12:00 AM,2022-09-08 14:24:00,Allianz,Incident Request (IR),16 days 03:30:00,NaN,NaT
98,CI-7244,408494,Closed,ssanz,2022-08-16 10:53:00,19/Aug/22 12:00 AM,2022-08-16 11:27:00,Allianz,Incident Request (IR),0 days 00:34:00,NaN,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...
576,CI-3433,243630,Closed,guinoo,2020-04-27 01:43:00,04/May/20 12:00 AM,2020-07-08 10:44:00,Apleona,Incident Request (IR),72 days 09:01:00,NaN,NaT
577,CI-3430,243477,Closed,hilbich,2020-04-24 15:10:00,24/Apr/20 12:00 AM,2020-05-05 10:38:00,Amadeus,Incident Request (IR),10 days 19:28:00,NaN,NaT
578,CI-3425,243168,Closed,guinoo,2020-04-23 14:43:00,30/Apr/20 12:00 AM,2020-05-05 10:46:00,Apleona,Incident Request (IR),11 days 20:03:00,NaN,NaT
579,CI-3424,242968,Closed,salajan,2020-04-23 07:49:00,23/Apr/20 12:00 AM,2020-04-24 08:21:00,Endress Hauser,Incident Request (IR),1 days 00:32:00,NaN,NaT
580,CI-3400,242146,Closed,nsanchez,2020-04-17 15:33:00,17/Apr/20 12:00 AM,2020-04-21 09:38:00,Lekkerland,Incident Request (IR),3 days 18:05:00,NaN,NaT

In [39]:
all_ir_review_time_without_null = all_ir_review_time.dropna()
all_ir_review_time_without_null.isnull().sum()

Issue key          0
Issue id           0
Status             0
Reporter           0
Created            0
Due Date           0
Resolved           0
Customer           0
Type of Request    0
ticket_age         0
Parent id          0
time_in_review     0
dtype: int64

**Summary**:
- Ror tickets like `CI-8488`revew time equals 0, so we need to drop it, because it can leads to wrong KPIs calculations

# TO DO
- update the lates dateset

## Determinate time spent on codebusters

- calculate the total time ticket was in subtasks "Configure", "Review", "mport to Test System", "Import in Production", "Import to Customer Test System"
- apply the results to all tickets dataset

In [40]:
all_individual_with_codebusters_time = all_individual_tasks_time_calculation.loc[all_individual_tasks_time_calculation["Summary"].isin(["Configure", "Review", "Import to Test System", "Import in Production", "Import to Customer Test System", "Import to Test", "Import to Staging System"])]

Summarize time for each codebusters subtask

In [41]:
all_individual_with_codebusters_time.groupby("Parent id").count()

           Summary  Issue id  Created  Resolved  time_in
Parent id
316466           1         1        1         1        1
331914           1         1        1         1        1
335272           1         1        1         1        1
336670           1         1        1         1        1
338034           1         1        1         1        1
...            ...       ...      ...       ...      ...
471775           1         1        1         1        1
471789           1         1        1         1        1
471820           3         3        3         3        3
472111           1         1        1         1        1
472134           1         1        1         1        1

[1355 rows x 5 columns]

In [42]:
all_individual_with_codebusters_time[all_individual_with_codebusters_time['Parent id'] == 329036]

Empty DataFrame
Columns: [Summary, Issue id, Parent id, Created, Resolved, time_in]
Index: []

In [43]:
all_individual_with_codebusters_time_sum = all_individual_with_codebusters_time.groupby("Parent id")["time_in"].sum()
all_individual_with_codebusters_time_sum_df = all_individual_with_codebusters_time_sum.to_frame()
all_individual_with_codebusters_time_sum_df.rename({"time_in": "time_on_codebusters"},axis=1, inplace=True)
all_individual_with_codebusters_time_sum_df.reset_index(inplace=True)
all_individual_with_codebusters_time_sum_df

      Parent id time_on_codebusters
0        316466   560 days 04:54:00
1        331914   566 days 10:00:00
2        335272   398 days 22:05:00
3        336670     0 days 00:01:00
4        338034   501 days 19:04:00
...         ...                 ...
1350     471775     0 days 01:18:00
1351     471789     0 days 00:55:00
1352     471820     3 days 04:51:00
1353     472111     0 days 00:00:00
1354     472134     0 days 00:39:00

[1355 rows x 2 columns]

In [44]:
# all_individual_tasks_reivew_sum_df = all_individual_tasks_reivew_sum.to_frame()
# all_individual_tasks_reivew_sum_df.reset_index(inplace=True)
# all_individual_tasks_reivew_sum_df

### Merge total time on codebusters with all jira ticekts dataset

In [45]:
all_ir_codebusters_time = pd.merge(all_ir, all_individual_with_codebusters_time_sum_df, how="inner",left_on = "Issue id",right_on = "Parent id")
all_ir_codebusters_time

,Issue key,Issue id,Status,Reporter,Created,Due Date,Resolved,Customer,Type of Request,ticket_age,Parent id,time_on_codebusters
0,CI-8458,464220,Closed,ssanz,2023-04-11 14:18:00,12/Apr/23 12:00 AM,2023-04-14 09:34:00,TUI AG,Incident Request (IR),2 days 19:16:00,464220,2 days 17:20:00
1,CI-8452,463886,Closed,kgostynska,2023-04-07 15:59:00,11/Apr/23 12:00 AM,2023-04-12 15:17:00,Porsche,Incident Request (IR),4 days 23:18:00,463886,4 days 02:10:00
2,CI-8435,463434,Closed,yutaka,2023-04-06 02:49:00,13/Apr/23 12:00 AM,2023-04-06 10:10:00,Init AG,Incident Request (IR),0 days 07:21:00,463434,0 days 06:00:00
3,CI-8425,462813,Closed,nsanchez,2023-04-04 14:58:00,10/Apr/23 12:00 AM,2023-04-05 11:57:00,Amadeus,Incident Request (IR),0 days 20:59:00,462813,0 days 20:52:00
4,CI-8424,462772,Closed,kgostynska,2023-04-04 13:25:00,11/Apr/23 12:00 AM,2023-04-05 13:23:00,Amadeus,Incident Request (IR),0 days 23:58:00,462772,0 days 22:14:00
...,...,...,...,...,...,...,...,...,...,...,...,...
98,CI-7222,407295,Closed,yutaka,2022-08-09 03:49:00,12/Aug/22 12:00 AM,2022-09-22 04:09:00,Amadeus,Incident Request (IR),44 days 00:20:00,407295,31 days 03:21:00
99,CI-7204,406493,Closed,nsanchez,2022-08-04 09:53:00,15/Aug/22 12:00 AM,2022-09-01 10:03:00,OBB,Incident Request (IR),28 days 00:10:00,406493,2 days 23:43:00
100,CI-7101,402477,Closed,yutaka,2022-07-13 09:02:00,27/Jul/22 12:00 AM,2022-09-14 03:54:00,Endress Hauser,Incident Request (IR),62 days 18:52:00,402477,7 days 14:11:00
101,CI-6942,394707,Closed,yutaka,2022-05-31 08:07:00,03/Jun/22 12:00 AM,2023-01-06 01:38:00,Amadeus,Incident Request (IR),219 days 17:31:00,394707,111 days 19:36:00
102,CI-6922,393737,Closed,ssanz,2022-05-25 10:52:00,02/Jun/22 12:00 AM,2022-11-07 10:23:00,Porsche,Incident Request (IR),165 days 23:31:00,393737,138 days 01:54:00

### Investigate `null` rows after merging  main ir tickets with individual subtasks

In [46]:
all_ir_codebusters_time.isnull().sum()

Issue key              0
Issue id               0
Status                 0
Reporter               0
Created                0
Due Date               0
Resolved               0
Customer               0
Type of Request        0
ticket_age             0
Parent id              0
time_on_codebusters    0
dtype: int64

In [47]:
all_ir_codebusters_time_without_null = all_ir_codebusters_time.dropna()
all_ir_codebusters_time_without_null.isnull().sum()

Issue key              0
Issue id               0
Status                 0
Reporter               0
Created                0
Due Date               0
Resolved               0
Customer               0
Type of Request        0
ticket_age             0
Parent id              0
time_on_codebusters    0
dtype: int64

In [48]:
all_ir_codebusters_time_without_null

,Issue key,Issue id,Status,Reporter,Created,Due Date,Resolved,Customer,Type of Request,ticket_age,Parent id,time_on_codebusters
0,CI-8458,464220,Closed,ssanz,2023-04-11 14:18:00,12/Apr/23 12:00 AM,2023-04-14 09:34:00,TUI AG,Incident Request (IR),2 days 19:16:00,464220,2 days 17:20:00
1,CI-8452,463886,Closed,kgostynska,2023-04-07 15:59:00,11/Apr/23 12:00 AM,2023-04-12 15:17:00,Porsche,Incident Request (IR),4 days 23:18:00,463886,4 days 02:10:00
2,CI-8435,463434,Closed,yutaka,2023-04-06 02:49:00,13/Apr/23 12:00 AM,2023-04-06 10:10:00,Init AG,Incident Request (IR),0 days 07:21:00,463434,0 days 06:00:00
3,CI-8425,462813,Closed,nsanchez,2023-04-04 14:58:00,10/Apr/23 12:00 AM,2023-04-05 11:57:00,Amadeus,Incident Request (IR),0 days 20:59:00,462813,0 days 20:52:00
4,CI-8424,462772,Closed,kgostynska,2023-04-04 13:25:00,11/Apr/23 12:00 AM,2023-04-05 13:23:00,Amadeus,Incident Request (IR),0 days 23:58:00,462772,0 days 22:14:00
...,...,...,...,...,...,...,...,...,...,...,...,...
98,CI-7222,407295,Closed,yutaka,2022-08-09 03:49:00,12/Aug/22 12:00 AM,2022-09-22 04:09:00,Amadeus,Incident Request (IR),44 days 00:20:00,407295,31 days 03:21:00
99,CI-7204,406493,Closed,nsanchez,2022-08-04 09:53:00,15/Aug/22 12:00 AM,2022-09-01 10:03:00,OBB,Incident Request (IR),28 days 00:10:00,406493,2 days 23:43:00
100,CI-7101,402477,Closed,yutaka,2022-07-13 09:02:00,27/Jul/22 12:00 AM,2022-09-14 03:54:00,Endress Hauser,Incident Request (IR),62 days 18:52:00,402477,7 days 14:11:00
101,CI-6942,394707,Closed,yutaka,2022-05-31 08:07:00,03/Jun/22 12:00 AM,2023-01-06 01:38:00,Amadeus,Incident Request (IR),219 days 17:31:00,394707,111 days 19:36:00
102,CI-6922,393737,Closed,ssanz,2022-05-25 10:52:00,02/Jun/22 12:00 AM,2022-11-07 10:23:00,Porsche,Incident Request (IR),165 days 23:31:00,393737,138 days 01:54:00

**Summary:**

## Determinate time spent outside codebusters

- calculate the total time ticket was in one of the subtask "Explain", "Verify", "Clarify", "Communicate"
- apply results to all ir tickets dataset

In [49]:
all_individual_others_time = all_individual_tasks_time_calculation.loc[all_individual_tasks_time_calculation["Summary"].isin(["Explain", "Verify", "Clarify", "Communicate"])]
all_individual_others_time

,Summary,Issue id,Parent id,Created,Resolved,time_in
3,Verify,438428,421362,2022-12-30 09:59:00,2022-12-30 10:52:00,0 days 00:53:00
4,Verify,438427,435618,2022-12-30 09:58:00,2022-12-30 11:01:00,0 days 01:03:00
6,Communicate,438419,436516,2022-12-30 09:04:00,2022-12-30 09:45:00,0 days 00:41:00
7,Communicate,438418,437686,2022-12-30 09:03:00,2022-12-30 11:05:00,0 days 02:02:00
9,Communicate,438387,438360,2022-12-29 15:37:00,2022-12-29 15:44:00,0 days 00:07:00
...,...,...,...,...,...,...
8072,Communicate,441872,441847,2023-01-16 16:59:00,2023-04-18 11:44:00,91 days 18:45:00
8073,Communicate,441870,441850,2023-01-16 16:59:00,2023-04-18 11:44:00,91 days 18:45:00
8076,Communicate,438101,437049,2022-12-23 11:21:00,2023-04-06 12:49:00,104 days 01:28:00
8091,Communicate,406696,403721,2022-08-05 09:48:00,2023-04-11 13:15:00,249 days 03:27:00
8092,Communicate,401466,398756,2022-07-07 11:58:00,2023-04-11 13:15:00,278 days 01:17:00

Summarize time for each subtask outside codeubsters

In [50]:
all_individual_others_time_sum = all_individual_others_time.groupby("Parent id")["time_in"].sum()
all_individual_others_time_sum_df = all_individual_others_time_sum.to_frame()
all_individual_others_time_sum_df.rename({"time_in": "time_outside_codebusters"},axis=1, inplace=True)
all_individual_others_time_sum_df.reset_index(inplace=True)
all_individual_others_time_sum_df

      Parent id time_outside_codebusters
0        331914          0 days 00:00:00
1        335272          0 days 00:00:00
2        336670          3 days 15:01:00
3        338034         17 days 05:13:00
4        338553          0 days 00:01:00
...         ...                      ...
1295     471086          1 days 16:23:00
1296     471134          0 days 03:37:00
1297     471138          0 days 02:02:00
1298     471236          0 days 00:31:00
1299     471244          0 days 00:22:00

[1300 rows x 2 columns]

In [51]:
# all_individual_with_codebusters_time_sum = all_individual_with_codebusters_time.groupby("Parent id")["time_in"].sum()
# all_individual_with_codebusters_time_sum_df = all_individual_with_codebusters_time_sum.to_frame()
# all_individual_with_codebusters_time_sum_df.rename({"time_in": "time_on_codebusters"},axis=1, inplace=True)
# all_individual_with_codebusters_time_sum_df.reset_index(inplace=True)
# all_individual_with_codebusters_time_sum_df

### Merge `all_ir` with `all_individual_others_time_sum_df` dataset

In [52]:
all_ir_outside_codebusters_time = pd.merge(all_ir, all_individual_others_time_sum_df, how="inner",left_on = "Issue id",right_on = "Parent id")
all_ir_outside_codebusters_time

,Issue key,Issue id,Status,Reporter,Created,Due Date,Resolved,Customer,Type of Request,ticket_age,Parent id,time_outside_codebusters
0,CI-8458,464220,Closed,ssanz,2023-04-11 14:18:00,12/Apr/23 12:00 AM,2023-04-14 09:34:00,TUI AG,Incident Request (IR),2 days 19:16:00,464220,0 days 01:56:00
1,CI-8452,463886,Closed,kgostynska,2023-04-07 15:59:00,11/Apr/23 12:00 AM,2023-04-12 15:17:00,Porsche,Incident Request (IR),4 days 23:18:00,463886,0 days 21:08:00
2,CI-8435,463434,Closed,yutaka,2023-04-06 02:49:00,13/Apr/23 12:00 AM,2023-04-06 10:10:00,Init AG,Incident Request (IR),0 days 07:21:00,463434,0 days 01:21:00
3,CI-8425,462813,Closed,nsanchez,2023-04-04 14:58:00,10/Apr/23 12:00 AM,2023-04-05 11:57:00,Amadeus,Incident Request (IR),0 days 20:59:00,462813,0 days 00:07:00
4,CI-8424,462772,Closed,kgostynska,2023-04-04 13:25:00,11/Apr/23 12:00 AM,2023-04-05 13:23:00,Amadeus,Incident Request (IR),0 days 23:58:00,462772,0 days 01:44:00
...,...,...,...,...,...,...,...,...,...,...,...,...
99,CI-7204,406493,Closed,nsanchez,2022-08-04 09:53:00,15/Aug/22 12:00 AM,2022-09-01 10:03:00,OBB,Incident Request (IR),28 days 00:10:00,406493,0 days 00:34:00
100,CI-7101,402477,Closed,yutaka,2022-07-13 09:02:00,27/Jul/22 12:00 AM,2022-09-14 03:54:00,Endress Hauser,Incident Request (IR),62 days 18:52:00,402477,33 days 02:10:00
101,CI-7080,401042,Closed,ssanz,2022-07-05 16:41:00,08/Jul/22 12:00 AM,2023-01-24 10:14:00,CEPSA,Incident Request (IR),202 days 17:33:00,401042,196 days 00:24:00
102,CI-6942,394707,Closed,yutaka,2022-05-31 08:07:00,03/Jun/22 12:00 AM,2023-01-06 01:38:00,Amadeus,Incident Request (IR),219 days 17:31:00,394707,23 days 00:35:00
103,CI-6922,393737,Closed,ssanz,2022-05-25 10:52:00,02/Jun/22 12:00 AM,2022-11-07 10:23:00,Porsche,Incident Request (IR),165 days 23:31:00,393737,0 days 00:01:00

In [53]:
all_ir_outside_codebusters_time.isnull().sum()

Issue key                   0
Issue id                    0
Status                      0
Reporter                    0
Created                     0
Due Date                    0
Resolved                    0
Customer                    0
Type of Request             0
ticket_age                  0
Parent id                   0
time_outside_codebusters    0
dtype: int64

**Summary:**

## Combine all created datasets
- In this step we will merge all created erlier datasets: `all_ir_outside_codebusters_time`, `all_ir_codebusters_time` and `all_ir_review_time`

Merge df containing "review" time with df containg "time on codebusters"

In [54]:
all_ir_time_on_and_outside_codebusters = pd.merge(all_ir_outside_codebusters_time, all_ir_codebusters_time[['Issue id','time_on_codebusters']],  how="inner",left_on = "Issue id",right_on = "Issue id")
all_ir_time_on_and_outside_codebusters

,Issue key,Issue id,Status,Reporter,Created,Due Date,Resolved,Customer,Type of Request,ticket_age,Parent id,time_outside_codebusters,time_on_codebusters
0,CI-8458,464220,Closed,ssanz,2023-04-11 14:18:00,12/Apr/23 12:00 AM,2023-04-14 09:34:00,TUI AG,Incident Request (IR),2 days 19:16:00,464220,0 days 01:56:00,2 days 17:20:00
1,CI-8452,463886,Closed,kgostynska,2023-04-07 15:59:00,11/Apr/23 12:00 AM,2023-04-12 15:17:00,Porsche,Incident Request (IR),4 days 23:18:00,463886,0 days 21:08:00,4 days 02:10:00
2,CI-8435,463434,Closed,yutaka,2023-04-06 02:49:00,13/Apr/23 12:00 AM,2023-04-06 10:10:00,Init AG,Incident Request (IR),0 days 07:21:00,463434,0 days 01:21:00,0 days 06:00:00
3,CI-8425,462813,Closed,nsanchez,2023-04-04 14:58:00,10/Apr/23 12:00 AM,2023-04-05 11:57:00,Amadeus,Incident Request (IR),0 days 20:59:00,462813,0 days 00:07:00,0 days 20:52:00
4,CI-8424,462772,Closed,kgostynska,2023-04-04 13:25:00,11/Apr/23 12:00 AM,2023-04-05 13:23:00,Amadeus,Incident Request (IR),0 days 23:58:00,462772,0 days 01:44:00,0 days 22:14:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,CI-7222,407295,Closed,yutaka,2022-08-09 03:49:00,12/Aug/22 12:00 AM,2022-09-22 04:09:00,Amadeus,Incident Request (IR),44 days 00:20:00,407295,5 days 14:46:00,31 days 03:21:00
99,CI-7204,406493,Closed,nsanchez,2022-08-04 09:53:00,15/Aug/22 12:00 AM,2022-09-01 10:03:00,OBB,Incident Request (IR),28 days 00:10:00,406493,0 days 00:34:00,2 days 23:43:00
100,CI-7101,402477,Closed,yutaka,2022-07-13 09:02:00,27/Jul/22 12:00 AM,2022-09-14 03:54:00,Endress Hauser,Incident Request (IR),62 days 18:52:00,402477,33 days 02:10:00,7 days 14:11:00
101,CI-6942,394707,Closed,yutaka,2022-05-31 08:07:00,03/Jun/22 12:00 AM,2023-01-06 01:38:00,Amadeus,Incident Request (IR),219 days 17:31:00,394707,23 days 00:35:00,111 days 19:36:00
102,CI-6922,393737,Closed,ssanz,2022-05-25 10:52:00,02/Jun/22 12:00 AM,2022-11-07 10:23:00,Porsche,Incident Request (IR),165 days 23:31:00,393737,0 days 00:01:00,138 days 01:54:00

In [55]:
all_ir_time_on_and_outside_codebusters.isnull().sum()

Issue key                   0
Issue id                    0
Status                      0
Reporter                    0
Created                     0
Due Date                    0
Resolved                    0
Customer                    0
Type of Request             0
ticket_age                  0
Parent id                   0
time_outside_codebusters    0
time_on_codebusters         0
dtype: int64

### Merge `all_tickets_time_on_and_outside_codebusters` with `all_ir_review_time` dataset

In [56]:
all_ir_with_time = pd.merge(all_ir_time_on_and_outside_codebusters, all_ir_review_time[['Issue id','time_in_review']],  how="inner",left_on = "Issue id",right_on = "Issue id")
all_ir_with_time

,Issue key,Issue id,Status,Reporter,Created,Due Date,Resolved,Customer,Type of Request,ticket_age,Parent id,time_outside_codebusters,time_on_codebusters,time_in_review
0,CI-8458,464220,Closed,ssanz,2023-04-11 14:18:00,12/Apr/23 12:00 AM,2023-04-14 09:34:00,TUI AG,Incident Request (IR),2 days 19:16:00,464220,0 days 01:56:00,2 days 17:20:00,0 days 01:17:00
1,CI-8452,463886,Closed,kgostynska,2023-04-07 15:59:00,11/Apr/23 12:00 AM,2023-04-12 15:17:00,Porsche,Incident Request (IR),4 days 23:18:00,463886,0 days 21:08:00,4 days 02:10:00,3 days 23:42:00
2,CI-8435,463434,Closed,yutaka,2023-04-06 02:49:00,13/Apr/23 12:00 AM,2023-04-06 10:10:00,Init AG,Incident Request (IR),0 days 07:21:00,463434,0 days 01:21:00,0 days 06:00:00,0 days 06:00:00
3,CI-8425,462813,Closed,nsanchez,2023-04-04 14:58:00,10/Apr/23 12:00 AM,2023-04-05 11:57:00,Amadeus,Incident Request (IR),0 days 20:59:00,462813,0 days 00:07:00,0 days 20:52:00,0 days 20:52:00
4,CI-8424,462772,Closed,kgostynska,2023-04-04 13:25:00,11/Apr/23 12:00 AM,2023-04-05 13:23:00,Amadeus,Incident Request (IR),0 days 23:58:00,462772,0 days 01:44:00,0 days 22:14:00,0 days 22:14:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,CI-7222,407295,Closed,yutaka,2022-08-09 03:49:00,12/Aug/22 12:00 AM,2022-09-22 04:09:00,Amadeus,Incident Request (IR),44 days 00:20:00,407295,5 days 14:46:00,31 days 03:21:00,NaT
99,CI-7204,406493,Closed,nsanchez,2022-08-04 09:53:00,15/Aug/22 12:00 AM,2022-09-01 10:03:00,OBB,Incident Request (IR),28 days 00:10:00,406493,0 days 00:34:00,2 days 23:43:00,NaT
100,CI-7101,402477,Closed,yutaka,2022-07-13 09:02:00,27/Jul/22 12:00 AM,2022-09-14 03:54:00,Endress Hauser,Incident Request (IR),62 days 18:52:00,402477,33 days 02:10:00,7 days 14:11:00,0 days 18:56:00
101,CI-6942,394707,Closed,yutaka,2022-05-31 08:07:00,03/Jun/22 12:00 AM,2023-01-06 01:38:00,Amadeus,Incident Request (IR),219 days 17:31:00,394707,23 days 00:35:00,111 days 19:36:00,NaT
102,CI-6922,393737,Closed,ssanz,2022-05-25 10:52:00,02/Jun/22 12:00 AM,2022-11-07 10:23:00,Porsche,Incident Request (IR),165 days 23:31:00,393737,0 days 00:01:00,138 days 01:54:00,NaT

Check for null values

In [57]:
all_ir_with_time.isnull().sum()

Issue key                   0
Issue id                    0
Status                      0
Reporter                    0
Created                     0
Due Date                    0
Resolved                    0
Customer                    0
Type of Request             0
ticket_age                  0
Parent id                   0
time_outside_codebusters    0
time_on_codebusters         0
time_in_review              8
dtype: int64

In [58]:
all_ir_with_time.shape

(103, 14)

### Drop rows which contain null value

In [59]:
all_ir_with_time_without_null = all_ir_with_time.dropna()
all_ir_with_time_without_null.isnull().sum()

Issue key                   0
Issue id                    0
Status                      0
Reporter                    0
Created                     0
Due Date                    0
Resolved                    0
Customer                    0
Type of Request             0
ticket_age                  0
Parent id                   0
time_outside_codebusters    0
time_on_codebusters         0
time_in_review              0
dtype: int64

In [60]:
all_ir_with_time_without_null.shape

(95, 14)

In [61]:
# all_ir_with_time_without_null.to_csv('all_ir.csv')

## Convert `time in..` columns to minutes

Convert `timedelta` columns to float

In [62]:
all_ir_with_time_converted = all_ir_with_time_without_null
all_ir_with_time_converted.info()

<class 'pandas.core.frame.DataFrame'>
Index: 95 entries, 0 to 100
Data columns (total 14 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Issue key                 95 non-null     object
 1   Issue id                  95 non-null     int64
 2   Status                    95 non-null     object
 3   Reporter                  95 non-null     object
 4   Created                   95 non-null     datetime64[ns]
 5   Due Date                  95 non-null     object
 6   Resolved                  95 non-null     datetime64[ns]
 7   Customer                  95 non-null     object
 8   Type of Request           95 non-null     object
 9   ticket_age                95 non-null     timedelta64[ns]
 10  Parent id                 95 non-null     int64
 11  time_outside_codebusters  95 non-null     timedelta64[ns]
 12  time_on_codebusters       95 non-null     timedelta64[ns]
 13  time_in_review            95 non-null     timedelta64[ns]
dtypes: datetime64[ns](2), int64(2), object(6), timedelta64[ns](4)
memory usage: 11.1+ KB

Convert `time in..` columns to minutes

In [63]:
all_ir_with_time_converted['time_in_review'] = all_ir_with_time_converted['time_in_review'].dt.total_seconds().div(60)
all_ir_with_time_converted['time_on_codebusters'] = all_ir_with_time_converted['time_on_codebusters'].dt.total_seconds().div(60)
all_ir_with_time_converted['time_outside_codebusters'] = all_ir_with_time_converted['time_outside_codebusters'].dt.total_seconds().div(60)
all_ir_with_time_converted['ticket_age'] = all_ir_with_time_converted['ticket_age'].dt.total_seconds().div(60)

all_ir_with_time_converted.info()

<class 'pandas.core.frame.DataFrame'>
Index: 95 entries, 0 to 100
Data columns (total 14 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Issue key                 95 non-null     object
 1   Issue id                  95 non-null     int64
 2   Status                    95 non-null     object
 3   Reporter                  95 non-null     object
 4   Created                   95 non-null     datetime64[ns]
 5   Due Date                  95 non-null     object
 6   Resolved                  95 non-null     datetime64[ns]
 7   Customer                  95 non-null     object
 8   Type of Request           95 non-null     object
 9   ticket_age                95 non-null     float64
 10  Parent id                 95 non-null     int64
 11  time_outside_codebusters  95 non-null     float64
 12  time_on_codebusters       95 non-null     float64
 13  time_in_review            95 non-null     float64
dtypes: datetime64[ns](2), float64(4), int64(2), object(6)
memory usage: 11.1+ KB

C:\Users\gmalarski\AppData\Local\Temp\ipykernel_27180\3678482499.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_ir_with_time_converted['time_in_review'] = all_ir_with_time_converted['time_in_review'].dt.total_seconds().div(60)
C:\Users\gmalarski\AppData\Local\Temp\ipykernel_27180\3678482499.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_ir_with_time_converted['time_on_codebusters'] = all_ir_with_time_converted['time_on_codebusters'].dt.total_seconds().div(60)
C:\Users\gmalarski\AppData\Local\Temp\ipykernel_27180\3678482499.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_ir_with_time_converted['time_outside_codebusters'] = all_ir_with_time_converted['time_outside_codebusters'].dt.total_seconds().div(60)
C:\Users\gmalarski\AppData\Local\Temp\ipykernel_27180\3678482499.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_ir_with_time_converted['ticket_age'] = all_ir_with_time_converted['ticket_age'].dt.total_seconds().div(60)

In [64]:
all_ir_with_time_converted.reset_index(inplace=True)
all_ir_with_time_converted

,index,Issue key,Issue id,Status,Reporter,Created,Due Date,Resolved,Customer,Type of Request,ticket_age,Parent id,time_outside_codebusters,time_on_codebusters,time_in_review
0,0,CI-8458,464220,Closed,ssanz,2023-04-11 14:18:00,12/Apr/23 12:00 AM,2023-04-14 09:34:00,TUI AG,Incident Request (IR),4036.0,464220,116.0,3920.0,77.0
1,1,CI-8452,463886,Closed,kgostynska,2023-04-07 15:59:00,11/Apr/23 12:00 AM,2023-04-12 15:17:00,Porsche,Incident Request (IR),7158.0,463886,1268.0,5890.0,5742.0
2,2,CI-8435,463434,Closed,yutaka,2023-04-06 02:49:00,13/Apr/23 12:00 AM,2023-04-06 10:10:00,Init AG,Incident Request (IR),441.0,463434,81.0,360.0,360.0
3,3,CI-8425,462813,Closed,nsanchez,2023-04-04 14:58:00,10/Apr/23 12:00 AM,2023-04-05 11:57:00,Amadeus,Incident Request (IR),1259.0,462813,7.0,1252.0,1252.0
4,4,CI-8424,462772,Closed,kgostynska,2023-04-04 13:25:00,11/Apr/23 12:00 AM,2023-04-05 13:23:00,Amadeus,Incident Request (IR),1438.0,462772,104.0,1334.0,1334.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90,90,CI-7380,412555,Closed,nsanchez,2022-09-06 09:50:00,13/Sep/22 12:00 AM,2022-10-13 10:22:00,Fiege,Incident Request (IR),53312.0,412555,38814.0,14498.0,13132.0
91,91,CI-7375,411778,Closed,ebert,2022-09-01 12:49:00,15/Sep/22 12:00 AM,2023-01-27 11:47:00,OBB,Incident Request (IR),213058.0,411778,105842.0,107216.0,7033.0
92,92,CI-7373,411758,Closed,ebert,2022-09-01 12:11:00,15/Sep/22 12:00 AM,2023-02-13 06:41:00,OBB,Incident Request (IR),237270.0,411758,131911.0,105359.0,7071.0
93,93,CI-7364,411179,Closed,nsanchez,2022-08-30 13:12:00,08/Sep/22 12:00 AM,2022-09-26 13:06:00,EnBW,Incident Request (IR),38874.0,411179,5921.0,32953.0,11694.0
94,100,CI-7101,402477,Closed,yutaka,2022-07-13 09:02:00,27/Jul/22 12:00 AM,2022-09-14 03:54:00,Endress Hauser,Incident Request (IR),90412.0,402477,47650.0,10931.0,1136.0

In [65]:
all_ir_with_time_converted.to_csv('all_ir.csv')

# Investigation starts

In [66]:
all_individual_tasks_reivew[all_individual_tasks_reivew["Parent id"] == 438360]

,index,Summary,Issue id,Parent id,Created,Resolved,time_in_review
0,21,Review,438363,438360,2022-12-29 11:45:00,2022-12-29 12:21:00,0 days 00:36:00
1,23,Review,438361,438360,2022-12-29 11:30:00,2022-12-29 11:42:00,0 days 00:12:00

In [67]:
all_ir[all_ir["Issue id"] == 438360]

Empty DataFrame
Columns: [Issue key, Issue id, Status, Reporter, Created, Due Date, Resolved, Customer, Type of Request, ticket_age]
Index: []

In [68]:
null_rows

,Issue key,Issue id,Status,Reporter,Created,Due Date,Resolved,Customer,Type of Request,ticket_age,Parent id,time_in_review
94,CI-7361,410979,Closed,yutaka,2022-08-30 06:51:00,02/Sep/22 12:00 AM,2023-01-06 01:37:00,Amadeus,Incident Request (IR),128 days 18:46:00,NaN,NaT
95,CI-7330,410378,Closed,nsanchez,2022-08-25 12:52:00,25/Aug/22 12:00 AM,2022-08-26 15:09:00,Allianz,Incident Request (IR),1 days 02:17:00,NaN,NaT
96,CI-7309,410021,Closed,ssanz,2022-08-24 12:37:00,31/Aug/22 12:00 AM,2022-10-06 09:58:00,Allianz,Incident Request (IR),42 days 21:21:00,NaN,NaT
97,CI-7302,409785,Closed,ssanz,2022-08-23 10:54:00,30/Aug/22 12:00 AM,2022-09-08 14:24:00,Allianz,Incident Request (IR),16 days 03:30:00,NaN,NaT
98,CI-7244,408494,Closed,ssanz,2022-08-16 10:53:00,19/Aug/22 12:00 AM,2022-08-16 11:27:00,Allianz,Incident Request (IR),0 days 00:34:00,NaN,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...
576,CI-3433,243630,Closed,guinoo,2020-04-27 01:43:00,04/May/20 12:00 AM,2020-07-08 10:44:00,Apleona,Incident Request (IR),72 days 09:01:00,NaN,NaT
577,CI-3430,243477,Closed,hilbich,2020-04-24 15:10:00,24/Apr/20 12:00 AM,2020-05-05 10:38:00,Amadeus,Incident Request (IR),10 days 19:28:00,NaN,NaT
578,CI-3425,243168,Closed,guinoo,2020-04-23 14:43:00,30/Apr/20 12:00 AM,2020-05-05 10:46:00,Apleona,Incident Request (IR),11 days 20:03:00,NaN,NaT
579,CI-3424,242968,Closed,salajan,2020-04-23 07:49:00,23/Apr/20 12:00 AM,2020-04-24 08:21:00,Endress Hauser,Incident Request (IR),1 days 00:32:00,NaN,NaT
580,CI-3400,242146,Closed,nsanchez,2020-04-17 15:33:00,17/Apr/20 12:00 AM,2020-04-21 09:38:00,Lekkerland,Incident Request (IR),3 days 18:05:00,NaN,NaT

# Investigation ends

# To Do