# Codebusters KPIs and Other Usefull Patterns

## import libraries

In [205]:
import pandas as pd
import numpy as np
from pathlib import Path

Import and clean `all_tickets_2022` data set 
- remove unnecessary columns
- rename columns

# Prepare data with all tickets

### Import all service request

Tickets are taken from the following jira filter:<br/> `project = CI AND issuetype in (standardIssueTypes(), "Expense Delivery") AND "Epic Link" is EMPTY AND "Case Number/s" is not EMPTY AND cf[14125] in ("Service Request (SR)") AND resolved is not EMPTY AND resolutiondate >= 2022-12-19 and resolutiondate <= 2023-01-08`

In [139]:
all_sr_origin = pd.read_csv('DataSets/MainTickets/all_service_requests.csv')
all_sr_origin

,Summary,Issue key,Issue id,Issue Type,Status,Project key,Project name,Project type,Project lead,Project description,...,Comment.18,Comment.19,Comment.20,Comment.21,Comment.22,Comment.23,Comment.24,Comment.25,Comment.26,Comment.27
0,Rehau - Add EDI number Airplus,CI-8574,468635,Expense Delivery,Closed,CI,codebusters,software,rohkamm,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Numiga VFL Wolfsburg - Remove a receipt,CI-8568,468149,Expense Delivery,Closed,CI,codebusters,software,rohkamm,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,oebb: correct perdiem/EMS,CI-8560,467735,Expense Delivery,Closed,CI,codebusters,software,rohkamm,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Hensoldt - Update Approval notification mail,CI-8554,467243,Expense Delivery,Closed,CI,codebusters,software,rohkamm,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,vw-cso: activate bing map in itinerary section,CI-8552,467085,Expense Delivery,Closed,CI,codebusters,software,rohkamm,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
309,Aquila Capital - Expense issue with export and...,CI-6926,393799,Expense Delivery,Closed,CI,codebusters,software,rohkamm,NaN,...,04/Aug/22 10:36 AM;gmalarski;Export path added...,27/Jan/23 7:54 PM;raphose;SR is closed since A...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
310,VW - Splitting of approval for expense statements,CI-6911,393585,Expense Delivery,Closed,CI,codebusters,software,rohkamm,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
311,Porsche - Adjustment of approval process for n...,CI-6901,393357,Expense Delivery,Closed,CI,codebusters,software,rohkamm,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
312,Hugo Boss - add 3 new meal receipt types for t...,CI-6825,389774,Expense Delivery,Closed,CI,codebusters,software,rohkamm,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
313,Replace deprecate method setReceiptTypeList in...,CI-5953,349721,Expense Delivery,Closed,CI,codebusters,software,rohkamm,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Select from the dataset only columns necessary for the further analysis

In [140]:
all_sr = all_sr_origin[['Issue key', 'Issue id', 'Status', 'Reporter', 'Created', 'Due Date', 'Resolved', 'Custom field (Customer/s)','Custom field (Type of Request)']]
all_sr.rename({"Custom field (Customer/s)": "Customer", "Custom field (Type of Request)":"Type of Request"},axis=1, inplace=True)

C:\Users\gmalarski\AppData\Local\Temp\ipykernel_12100\2948666729.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_sr.rename({"Custom field (Customer/s)": "Customer", "Custom field (Type of Request)":"Type of Request"},axis=1, inplace=True)

In [141]:
all_sr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 314 entries, 0 to 313
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Issue key        314 non-null    object
 1   Issue id         314 non-null    int64
 2   Status           314 non-null    object
 3   Reporter         314 non-null    object
 4   Created          314 non-null    object
 5   Due Date         314 non-null    object
 6   Resolved         314 non-null    object
 7   Customer         314 non-null    object
 8   Type of Request  314 non-null    object
dtypes: int64(1), object(8)
memory usage: 22.2+ KB

In [142]:
all_sr.isnull().sum()

Issue key          0
Issue id           0
Status             0
Reporter           0
Created            0
Due Date           0
Resolved           0
Customer           0
Type of Request    0
dtype: int64

### Convert date table to `datetime` object

In [143]:
all_sr["Created"] = pd.to_datetime(all_sr["Created"])
all_sr["Resolved"] = pd.to_datetime(all_sr["Resolved"])

C:\Users\gmalarski\AppData\Local\Temp\ipykernel_12100\2794271155.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  all_sr["Created"] = pd.to_datetime(all_sr["Created"])
C:\Users\gmalarski\AppData\Local\Temp\ipykernel_12100\2794271155.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_sr["Created"] = pd.to_datetime(all_sr["Created"])
C:\Users\gmalarski\AppData\Local\Temp\ipykernel_12100\2794271155.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  all_sr["Resolved"] = pd.to_datetime(all_sr["Resolved"])
C:\Users\gmalarski\AppData\Local\Temp\ipykernel_12100\2794271155.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_sr["Resolved"] = pd.to_datetime(all_sr["Resolved"])

In [144]:
all_sr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 314 entries, 0 to 313
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Issue key        314 non-null    object
 1   Issue id         314 non-null    int64
 2   Status           314 non-null    object
 3   Reporter         314 non-null    object
 4   Created          314 non-null    datetime64[ns]
 5   Due Date         314 non-null    object
 6   Resolved         314 non-null    datetime64[ns]
 7   Customer         314 non-null    object
 8   Type of Request  314 non-null    object
dtypes: datetime64[ns](2), int64(1), object(6)
memory usage: 22.2+ KB

In [145]:
all_sr.shape

(314, 9)

In [146]:
all_sr["ticket_age"] = all_sr["Resolved"] - all_sr["Created"]
all_sr

C:\Users\gmalarski\AppData\Local\Temp\ipykernel_12100\2540177896.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_sr["ticket_age"] = all_sr["Resolved"] - all_sr["Created"]

,Issue key,Issue id,Status,Reporter,Created,Due Date,Resolved,Customer,Type of Request,ticket_age
0,CI-8574,468635,Closed,yutaka,2023-04-28 03:47:00,01/May/23 12:00 AM,2023-05-08 16:08:00,Rehau,Service Request (SR),10 days 12:21:00
1,CI-8568,468149,Closed,aruizrobles,2023-04-26 15:30:00,03/May/23 12:00 AM,2023-05-04 17:55:00,Numiga,Service Request (SR),8 days 02:25:00
2,CI-8560,467735,Closed,nsanchez,2023-04-25 11:57:00,08/May/23 12:00 AM,2023-05-08 14:02:00,OBB,Service Request (SR),13 days 02:05:00
3,CI-8554,467243,Closed,yutaka,2023-04-24 06:44:00,08/May/23 12:00 AM,2023-05-10 04:06:00,Hensoldt,Service Request (SR),15 days 21:22:00
4,CI-8552,467085,Closed,nsanchez,2023-04-21 14:58:00,27/Apr/23 12:00 AM,2023-05-08 13:46:00,VW,Service Request (SR),16 days 22:48:00
...,...,...,...,...,...,...,...,...,...,...
309,CI-6926,393799,Closed,aklabisz,2022-05-25 12:42:00,12/Jul/22 12:00 AM,2023-01-27 19:53:00,Aquila Capital,Service Request (SR),247 days 07:11:00
310,CI-6911,393585,Closed,aklabisz,2022-05-24 15:11:00,11/Aug/22 12:00 AM,2023-01-24 10:33:00,VW,Service Request (SR),244 days 19:22:00
311,CI-6901,393357,Closed,aklabisz,2022-05-23 13:21:00,30/May/22 12:00 AM,2023-03-21 13:06:00,Porsche,Service Request (SR),301 days 23:45:00
312,CI-6825,389774,Closed,aklabisz,2022-05-11 11:16:00,16/May/22 12:00 AM,2023-01-24 12:32:00,Hugo Boss,Service Request (SR),258 days 01:16:00
313,CI-5953,349721,Closed,wiedenroth,2021-11-05 17:04:00,03/Dec/21 12:00 AM,2023-04-11 09:04:00,Allianz,Service Request (SR),521 days 16:00:00

**Summary**
- there is not SR ticket without `resolved` date
- there is no `null` value in any of the column
- date type columns converted to `datetime` object in order to make calculucations on these columns

# Prepare data with individuals tasks for service requests

## Import and clean `all_individual_tasks` data set 
- we are not able to downaload full data becuase of jira limitation, therefore we need to combine data from differen periods
- remove unnecessary columns
- replace missing `date` values with 0
- drop rows with "null" values

In [147]:
individual_part_1 = pd.read_csv('DataSets/IndividualTasks/from_20220901_till_20221231.csv')
individual_part_2 = pd.read_csv('DataSets/IndividualTasks/from_20230101_till_20230331.csv')
individual_part_3 = pd.read_csv('DataSets/IndividualTasks/from_20230401_till_20230516.csv')



all_individual_tasks_combined = pd.concat([individual_part_1, individual_part_2, individual_part_3], axis=0)
all_individual_tasks_combined

C:\Users\gmalarski\AppData\Local\Temp\ipykernel_12100\4064453507.py:1: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  individual_part_1 = pd.read_csv('DataSets/IndividualTasks/from_20220901_till_20221231.csv')
C:\Users\gmalarski\AppData\Local\Temp\ipykernel_12100\4064453507.py:2: DtypeWarning: Columns (25,261) have mixed types. Specify dtype option on import or set low_memory=False.
  individual_part_2 = pd.read_csv('DataSets/IndividualTasks/from_20230101_till_20230331.csv')

,Summary,Issue key,Issue id,Parent id,Issue Type,Status,Project key,Project name,Project type,Project lead,...,Custom field (arctic Dev Findings),Custom field (arctic QA Findings),Custom field (cytric Stability Findings),Comment,Comment.1,Watchers,Log Work.1,Custom field (Status Information).8,Comment.2,Comment.3
0,Configure,CI-10230380,438459,437698,Individual Task,Done,CI,codebusters,software,rohkamm,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Import in Production,CI-10230372,438433,427628,Individual Task,Done,CI,codebusters,software,rohkamm,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Configure,CI-10230371,438432,427628,Individual Task,Done,CI,codebusters,software,rohkamm,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Verify,CI-10230368,438428,421362,Individual Task,Done,CI,codebusters,software,rohkamm,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Verify,CI-10230367,438427,435618,Individual Task,Done,CI,codebusters,software,rohkamm,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1578,Review,CI-10221609,407738,406532,Individual Task,Done,CI,codebusters,software,rohkamm,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,net.ifao.jira.plugin.pmi.impl.field.StatusInfo...,NaN,NaN
1579,Communicate,CI-10221282,406696,403721,Individual Task,Done,CI,codebusters,software,rohkamm,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,net.ifao.jira.plugin.pmi.impl.field.StatusInfo...,NaN,NaN
1580,Communicate,CI-10219452,401466,398756,Individual Task,Done,CI,codebusters,software,rohkamm,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,net.ifao.jira.plugin.pmi.impl.field.StatusInfo...,NaN,NaN
1581,Review,CI-10204120,363521,363520,Individual Task,Done,CI,codebusters,software,rohkamm,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,net.ifao.jira.plugin.pmi.impl.field.StatusInfo...,NaN,NaN
1582,Review,CI-10200116,351501,351500,Individual Task,Done,CI,codebusters,software,rohkamm,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,net.ifao.jira.plugin.pmi.impl.field.StatusInfo...,NaN,NaN

### Reset indexex of a combined dataset </br>
Indexes of a new dataset are not appropriate, we need to apply `reset_index` method in order to match them with the number of rows

In [148]:
all_individual_tasks_combined.reset_index(inplace=True)
all_individual_tasks_combined

,index,Summary,Issue key,Issue id,Parent id,Issue Type,Status,Project key,Project name,Project type,...,Custom field (arctic Dev Findings),Custom field (arctic QA Findings),Custom field (cytric Stability Findings),Comment,Comment.1,Watchers,Log Work.1,Custom field (Status Information).8,Comment.2,Comment.3
0,0,Configure,CI-10230380,438459,437698,Individual Task,Done,CI,codebusters,software,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Import in Production,CI-10230372,438433,427628,Individual Task,Done,CI,codebusters,software,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Configure,CI-10230371,438432,427628,Individual Task,Done,CI,codebusters,software,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Verify,CI-10230368,438428,421362,Individual Task,Done,CI,codebusters,software,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Verify,CI-10230367,438427,435618,Individual Task,Done,CI,codebusters,software,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8090,1578,Review,CI-10221609,407738,406532,Individual Task,Done,CI,codebusters,software,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,net.ifao.jira.plugin.pmi.impl.field.StatusInfo...,NaN,NaN
8091,1579,Communicate,CI-10221282,406696,403721,Individual Task,Done,CI,codebusters,software,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,net.ifao.jira.plugin.pmi.impl.field.StatusInfo...,NaN,NaN
8092,1580,Communicate,CI-10219452,401466,398756,Individual Task,Done,CI,codebusters,software,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,net.ifao.jira.plugin.pmi.impl.field.StatusInfo...,NaN,NaN
8093,1581,Review,CI-10204120,363521,363520,Individual Task,Done,CI,codebusters,software,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,net.ifao.jira.plugin.pmi.impl.field.StatusInfo...,NaN,NaN
8094,1582,Review,CI-10200116,351501,351500,Individual Task,Done,CI,codebusters,software,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,net.ifao.jira.plugin.pmi.impl.field.StatusInfo...,NaN,NaN

In [149]:
all_individual_tasks_combined.to_csv("all_individual_tasks_combined.csv")

### Filter columns and select only the ones needed for further calculations

In [150]:
all_individual_tasks = all_individual_tasks_combined[['Summary','Issue id', 'Parent id', 'Created', 'Resolved']]
all_individual_tasks

,Summary,Issue id,Parent id,Created,Resolved
0,Configure,438459,437698,30/Dec/22 1:14 PM,30/Dec/22 1:14 PM
1,Import in Production,438433,427628,30/Dec/22 10:49 AM,30/Dec/22 10:49 AM
2,Configure,438432,427628,30/Dec/22 10:48 AM,30/Dec/22 10:49 AM
3,Verify,438428,421362,30/Dec/22 9:59 AM,30/Dec/22 10:52 AM
4,Verify,438427,435618,30/Dec/22 9:58 AM,30/Dec/22 11:01 AM
...,...,...,...,...,...
8090,Review,407738,406532,10/Aug/22 2:02 PM,10/Apr/23 8:47 AM
8091,Communicate,406696,403721,05/Aug/22 9:48 AM,11/Apr/23 1:15 PM
8092,Communicate,401466,398756,07/Jul/22 11:58 AM,11/Apr/23 1:15 PM
8093,Review,363521,363520,18/Jan/22 7:53 PM,18/Apr/23 3:31 PM
8094,Review,351501,351500,16/Nov/21 11:52 AM,18/Apr/23 3:30 PM

In [151]:
all_individual_tasks[all_individual_tasks['Parent id'] == 465210]

      Summary  Issue id  Parent id            Created            Resolved
7180  Explain    466478     465210  20/Apr/23 8:22 AM  26/Apr/23 10:33 AM
7376   Review    465211     465210  17/Apr/23 9:43 AM   20/Apr/23 8:22 AM

### Convert date like columns to `datetime` object

In [152]:
all_individual_tasks["Created"] = pd.to_datetime(all_individual_tasks["Created"])
all_individual_tasks["Resolved"] = pd.to_datetime(all_individual_tasks["Resolved"])
all_individual_tasks.info()

C:\Users\gmalarski\AppData\Local\Temp\ipykernel_12100\2715690364.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  all_individual_tasks["Created"] = pd.to_datetime(all_individual_tasks["Created"])
C:\Users\gmalarski\AppData\Local\Temp\ipykernel_12100\2715690364.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_individual_tasks["Created"] = pd.to_datetime(all_individual_tasks["Created"])
C:\Users\gmalarski\AppData\Local\Temp\ipykernel_12100\2715690364.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  all_individual_tasks["Resolved"] = pd.to_datetime(all_individual_tasks["Resolved"])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8095 entries, 0 to 8094
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Summary    8095 non-null   object
 1   Issue id   8095 non-null   int64
 2   Parent id  8095 non-null   int64
 3   Created    8095 non-null   datetime64[ns]
 4   Resolved   8095 non-null   datetime64[ns]
dtypes: datetime64[ns](2), int64(2), object(1)
memory usage: 316.3+ KB

C:\Users\gmalarski\AppData\Local\Temp\ipykernel_12100\2715690364.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_individual_tasks["Resolved"] = pd.to_datetime(all_individual_tasks["Resolved"])

In [153]:
all_individual_tasks['Summary'].value_counts()

Summary
Configure                         1440
Review                            1428
Verify                            1302
Communicate                       1152
Import to Test System             1063
Import in Production               920
Import to Customer Test System     477
Explain                            191
Clarify                             75
Do                                  47
Name: count, dtype: int64

### Check if there are any `null` values

In [154]:
all_individual_tasks.isnull().sum()

Summary      0
Issue id     0
Parent id    0
Created      0
Resolved     0
dtype: int64

### Drop all rows with null value

In [155]:
all_individual_tasks_without_null = all_individual_tasks.dropna()
all_individual_tasks_without_null.isnull().sum()

Summary      0
Issue id     0
Parent id    0
Created      0
Resolved     0
dtype: int64

**Summary:**

- We are interested only in completed tickets so we have droped rows which contain `null` in `resolved` columns
- Data is filtered and cleaned we are ready for analysis part

# Data Analysis

# Daterminate how long each ticket was in particular individual task

- calculate time for eacch subtask
- calculate how long each ticket was in review
- calculate how long each ticket was "on codebusters"
- calculate how long each ticket was "outside codebusters"

## Calculate time spent in each of the subtask

In [156]:
all_individual_tasks_time_calculation = all_individual_tasks_without_null
all_individual_tasks_time_calculation["time_in"] = all_individual_tasks_time_calculation["Resolved"] - all_individual_tasks_time_calculation["Created"]

### List all available statuses of the CI ticket subtask

In [157]:
all_individual_tasks_time_calculation["Summary"].value_counts()

Summary
Configure                         1440
Review                            1428
Verify                            1302
Communicate                       1152
Import to Test System             1063
Import in Production               920
Import to Customer Test System     477
Explain                            191
Clarify                             75
Do                                  47
Name: count, dtype: int64

## Calculate time ticket was in review step

In [158]:
all_individual_tasks_reivew = all_individual_tasks_time_calculation[all_individual_tasks_time_calculation['Summary'] == 'Review']
all_individual_tasks_reivew.rename({"time_in": "time_in_review"},axis=1, inplace=True)
all_individual_tasks_reivew.reset_index(inplace=True)
all_individual_tasks_reivew

C:\Users\gmalarski\AppData\Local\Temp\ipykernel_12100\3555403275.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_individual_tasks_reivew.rename({"time_in": "time_in_review"},axis=1, inplace=True)

,index,Summary,Issue id,Parent id,Created,Resolved,time_in_review
0,21,Review,438363,438360,2022-12-29 11:45:00,2022-12-29 12:21:00,0 days 00:36:00
1,23,Review,438361,438360,2022-12-29 11:30:00,2022-12-29 11:42:00,0 days 00:12:00
2,59,Review,438268,438267,2022-12-28 10:25:00,2022-12-28 12:05:00,0 days 01:40:00
3,70,Review,438243,438242,2022-12-27 18:02:00,2022-12-27 18:02:00,0 days 00:00:00
4,71,Review,438239,438238,2022-12-27 16:12:00,2022-12-28 10:16:00,0 days 18:04:00
...,...,...,...,...,...,...,...
1423,8088,Review,410039,410038,2022-08-24 13:51:00,2023-04-18 15:31:00,237 days 01:40:00
1424,8089,Review,409406,409405,2022-08-19 13:51:00,2023-04-18 15:29:00,242 days 01:38:00
1425,8090,Review,407738,406532,2022-08-10 14:02:00,2023-04-10 08:47:00,242 days 18:45:00
1426,8093,Review,363521,363520,2022-01-18 19:53:00,2023-04-18 15:31:00,454 days 19:38:00
1427,8094,Review,351501,351500,2021-11-16 11:52:00,2023-04-18 15:30:00,518 days 03:38:00

In [159]:
all_sr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 314 entries, 0 to 313
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Issue key        314 non-null    object
 1   Issue id         314 non-null    int64
 2   Status           314 non-null    object
 3   Reporter         314 non-null    object
 4   Created          314 non-null    datetime64[ns]
 5   Due Date         314 non-null    object
 6   Resolved         314 non-null    datetime64[ns]
 7   Customer         314 non-null    object
 8   Type of Request  314 non-null    object
 9   ticket_age       314 non-null    timedelta64[ns]
dtypes: datetime64[ns](2), int64(1), object(6), timedelta64[ns](1)
memory usage: 24.7+ KB

### Grup tickets by the `Parent id` and sum total time spent in `review` subtask

In [160]:
all_individual_tasks_reivew[all_individual_tasks_reivew["Parent id"] == 465210]

,index,Summary,Issue id,Parent id,Created,Resolved,time_in_review
1281,7376,Review,465211,465210,2023-04-17 09:43:00,2023-04-20 08:22:00,2 days 22:39:00

In [161]:
all_individual_tasks_reivew_sum = all_individual_tasks_reivew.groupby(by=["Parent id"], dropna=False)["time_in_review"].sum()
all_individual_tasks_reivew_sum = all_individual_tasks_reivew_sum.to_frame()
all_individual_tasks_reivew_sum.reset_index(inplace=True)
all_individual_tasks_reivew_sum

      Parent id    time_in_review
0        316466 560 days 04:54:00
1        331914 566 days 10:00:00
2        335272 398 days 22:05:00
3        336670   0 days 00:01:00
4        338034 501 days 19:04:00
...         ...               ...
1279     471775   0 days 01:18:00
1280     471789   0 days 00:55:00
1281     471820   3 days 02:10:00
1282     472111   0 days 00:00:00
1283     472134   0 days 00:39:00

[1284 rows x 2 columns]

In [162]:
all_individual_tasks_reivew_sum[all_individual_tasks_reivew_sum["Parent id"] == 465210]

      Parent id  time_in_review
1162     465210 2 days 22:39:00

In [163]:
all_individual_tasks_reivew_sum.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1284 entries, 0 to 1283
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Parent id       1284 non-null   int64
 1   time_in_review  1284 non-null   timedelta64[ns]
dtypes: int64(1), timedelta64[ns](1)
memory usage: 20.2 KB

In [164]:
all_individual_tasks_reivew_sum[all_individual_tasks_reivew_sum["Parent id"] == 465210]

      Parent id  time_in_review
1162     465210 2 days 22:39:00

### Check on the particular ticket if the total time is summed correctly

In [165]:
all_individual_tasks_reivew.groupby("Parent id").count()

           index  Summary  Issue id  Created  Resolved  time_in_review
Parent id
316466         1        1         1        1         1               1
331914         1        1         1        1         1               1
335272         1        1         1        1         1               1
336670         1        1         1        1         1               1
338034         1        1         1        1         1               1
...          ...      ...       ...      ...       ...             ...
471775         1        1         1        1         1               1
471789         1        1         1        1         1               1
471820         1        1         1        1         1               1
472111         1        1         1        1         1               1
472134         1        1         1        1         1               1

[1284 rows x 6 columns]

In [166]:
all_individual_tasks_reivew.loc[all_individual_tasks_reivew["Parent id"] == 345462]

Empty DataFrame
Columns: [index, Summary, Issue id, Parent id, Created, Resolved, time_in_review]
Index: []

In [167]:
type(all_individual_tasks_reivew_sum)

pandas.core.frame.DataFrame

In [168]:
all_individual_tasks_reivew_sum_df = all_individual_tasks_reivew_sum
all_individual_tasks_reivew_sum_df.reset_index(inplace=True)
all_individual_tasks_reivew_sum_df

      index  Parent id    time_in_review
0         0     316466 560 days 04:54:00
1         1     331914 566 days 10:00:00
2         2     335272 398 days 22:05:00
3         3     336670   0 days 00:01:00
4         4     338034 501 days 19:04:00
...     ...        ...               ...
1279   1279     471775   0 days 01:18:00
1280   1280     471789   0 days 00:55:00
1281   1281     471820   3 days 02:10:00
1282   1282     472111   0 days 00:00:00
1283   1283     472134   0 days 00:39:00

[1284 rows x 3 columns]

In [169]:
all_individual_tasks_reivew_sum_df.loc[all_individual_tasks_reivew_sum_df["Parent id"] == 345462]

Empty DataFrame
Columns: [index, Parent id, time_in_review]
Index: []

In [170]:
all_individual_tasks_reivew_sum_df.isnull().sum()

index             0
Parent id         0
time_in_review    0
dtype: int64

In [171]:
all_individual_tasks_reivew_sum_df

      index  Parent id    time_in_review
0         0     316466 560 days 04:54:00
1         1     331914 566 days 10:00:00
2         2     335272 398 days 22:05:00
3         3     336670   0 days 00:01:00
4         4     338034 501 days 19:04:00
...     ...        ...               ...
1279   1279     471775   0 days 01:18:00
1280   1280     471789   0 days 00:55:00
1281   1281     471820   3 days 02:10:00
1282   1282     472111   0 days 00:00:00
1283   1283     472134   0 days 00:39:00

[1284 rows x 3 columns]

**Summary:**
- There are some tickets which have been more than once in the `Review` step
- We can notice that after gruping and summing tickets, case with 'Parent id' `345462` has total time equals more than `8 days`, which is the sum of the time spend in previous two `Review` subtasks

### Merge `all_sr` dataset with `all_individual_tasks_reivew_sum_df`

In [172]:
all_sr_review_time = pd.merge(all_sr, all_individual_tasks_reivew_sum_df[['Parent id', 'time_in_review']], how="left",left_on = "Issue id",right_on = "Parent id")
all_sr_review_time

,Issue key,Issue id,Status,Reporter,Created,Due Date,Resolved,Customer,Type of Request,ticket_age,Parent id,time_in_review
0,CI-8574,468635,Closed,yutaka,2023-04-28 03:47:00,01/May/23 12:00 AM,2023-05-08 16:08:00,Rehau,Service Request (SR),10 days 12:21:00,468635.0,0 days 00:24:00
1,CI-8568,468149,Closed,aruizrobles,2023-04-26 15:30:00,03/May/23 12:00 AM,2023-05-04 17:55:00,Numiga,Service Request (SR),8 days 02:25:00,468149.0,1 days 23:16:00
2,CI-8560,467735,Closed,nsanchez,2023-04-25 11:57:00,08/May/23 12:00 AM,2023-05-08 14:02:00,OBB,Service Request (SR),13 days 02:05:00,467735.0,6 days 20:24:00
3,CI-8554,467243,Closed,yutaka,2023-04-24 06:44:00,08/May/23 12:00 AM,2023-05-10 04:06:00,Hensoldt,Service Request (SR),15 days 21:22:00,467243.0,0 days 00:00:00
4,CI-8552,467085,Closed,nsanchez,2023-04-21 14:58:00,27/Apr/23 12:00 AM,2023-05-08 13:46:00,VW,Service Request (SR),16 days 22:48:00,467085.0,6 days 21:53:00
...,...,...,...,...,...,...,...,...,...,...,...,...
309,CI-6926,393799,Closed,aklabisz,2022-05-25 12:42:00,12/Jul/22 12:00 AM,2023-01-27 19:53:00,Aquila Capital,Service Request (SR),247 days 07:11:00,NaN,NaT
310,CI-6911,393585,Closed,aklabisz,2022-05-24 15:11:00,11/Aug/22 12:00 AM,2023-01-24 10:33:00,VW,Service Request (SR),244 days 19:22:00,393585.0,3 days 13:22:00
311,CI-6901,393357,Closed,aklabisz,2022-05-23 13:21:00,30/May/22 12:00 AM,2023-03-21 13:06:00,Porsche,Service Request (SR),301 days 23:45:00,NaN,NaT
312,CI-6825,389774,Closed,aklabisz,2022-05-11 11:16:00,16/May/22 12:00 AM,2023-01-24 12:32:00,Hugo Boss,Service Request (SR),258 days 01:16:00,NaN,NaT
313,CI-5953,349721,Closed,wiedenroth,2021-11-05 17:04:00,03/Dec/21 12:00 AM,2023-04-11 09:04:00,Allianz,Service Request (SR),521 days 16:00:00,349721.0,0 days 00:02:00

In [173]:
all_sr_review_time.isnull().sum()

Issue key           0
Issue id            0
Status              0
Reporter            0
Created             0
Due Date            0
Resolved            0
Customer            0
Type of Request     0
ticket_age          0
Parent id          18
time_in_review     18
dtype: int64

### Investigate `null` rows after merging  main SR tickets with individual subtasks

In [174]:
null_rows = all_sr_review_time[all_sr_review_time["time_in_review"].isnull()]
null_rows.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18 entries, 34 to 312
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Issue key        18 non-null     object
 1   Issue id         18 non-null     int64
 2   Status           18 non-null     object
 3   Reporter         18 non-null     object
 4   Created          18 non-null     datetime64[ns]
 5   Due Date         18 non-null     object
 6   Resolved         18 non-null     datetime64[ns]
 7   Customer         18 non-null     object
 8   Type of Request  18 non-null     object
 9   ticket_age       18 non-null     timedelta64[ns]
 10  Parent id        0 non-null      float64
 11  time_in_review   0 non-null      timedelta64[ns]
dtypes: datetime64[ns](2), float64(1), int64(1), object(6), timedelta64[ns](2)
memory usage: 1.8+ KB

In [175]:
null_rows

,Issue key,Issue id,Status,Reporter,Created,Due Date,Resolved,Customer,Type of Request,ticket_age,Parent id,time_in_review
34,CI-8395,461612,Closed,skarja,2023-03-30 10:43:00,06/Apr/23 12:00 AM,2023-04-27 01:12:00,Eberspacher,Service Request (SR),27 days 14:29:00,NaN,NaT
35,CI-8394,461596,Closed,ssanz,2023-03-30 10:09:00,06/Apr/23 12:00 AM,2023-04-01 15:03:00,Eberspacher,Service Request (SR),2 days 04:54:00,NaN,NaT
41,CI-8370,459864,Closed,ssanz,2023-03-24 16:23:00,31/Mar/23 12:00 AM,2023-04-05 13:04:00,Allianz,Service Request (SR),11 days 20:41:00,NaN,NaT
45,CI-8364,459501,Closed,nsanchez,2023-03-24 08:41:00,31/Mar/23 12:00 AM,2023-04-04 09:24:00,Customer not yet listed,Service Request (SR),11 days 00:43:00,NaN,NaT
49,CI-8348,458444,Closed,yutaka,2023-03-22 01:22:00,29/Mar/23 12:00 AM,2023-04-19 14:54:00,Vaillant,Service Request (SR),28 days 13:32:00,NaN,NaT
50,CI-8346,458273,Closed,skarja,2023-03-21 13:50:00,28/Mar/23 12:00 AM,2023-04-07 02:04:00,Porsche,Service Request (SR),16 days 12:14:00,NaN,NaT
51,CI-8345,458258,Closed,nsanchez,2023-03-21 13:28:00,27/Mar/23 12:00 AM,2023-04-04 13:10:00,Audi,Service Request (SR),13 days 23:42:00,NaN,NaT
297,CI-7306,409890,Closed,ssanz,2022-08-23 15:29:00,30/Aug/22 12:00 AM,2022-12-22 14:49:00,Porsche,Service Request (SR),120 days 23:20:00,NaN,NaT
301,CI-7226,407535,Closed,ssaharoy,2022-08-09 15:05:00,16/Aug/22 12:00 AM,2023-01-18 06:29:00,Porsche,Service Request (SR),161 days 15:24:00,NaN,NaT
302,CI-7221,407289,Closed,skarja,2022-08-08 23:50:00,15/Aug/22 12:00 AM,2023-01-24 10:31:00,Audi,Service Request (SR),168 days 10:41:00,NaN,NaT
304,CI-7179,405159,Closed,skarja,2022-07-27 19:06:00,04/Aug/22 12:00 AM,2022-12-29 10:43:00,Eberspacher,Service Request (SR),154 days 15:37:00,NaN,NaT
305,CI-7178,405141,Closed,skarja,2022-07-27 16:18:00,03/Aug/22 12:00 AM,2023-01-24 10:32:00,msg systems,Service Request (SR),180 days 18:14:00,NaN,NaT
306,CI-7167,404691,Closed,skarja,2022-07-25 13:03:00,01/Aug/22 12:00 AM,2023-01-24 10:34:00,Rheinmetall,Service Request (SR),182 days 21:31:00,NaN,NaT
307,CI-7156,403721,Closed,skarja,2022-07-19 18:23:00,26/Jul/22 12:00 AM,2023-01-27 20:00:00,Traton SE,Service Request (SR),192 days 01:37:00,NaN,NaT
308,CI-7029,398756,Closed,skarja,2022-06-23 14:32:00,30/Jun/22 12:00 AM,2023-01-27 19:55:00,TeamBank AG,Service Request (SR),218 days 05:23:00,NaN,NaT
309,CI-6926,393799,Closed,aklabisz,2022-05-25 12:42:00,12/Jul/22 12:00 AM,2023-01-27 19:53:00,Aquila Capital,Service Request (SR),247 days 07:11:00,NaN,NaT
311,CI-6901,393357,Closed,aklabisz,2022-05-23 13:21:00,30/May/22 12:00 AM,2023-03-21 13:06:00,Porsche,Service Request (SR),301 days 23:45:00,NaN,NaT
312,CI-6825,389774,Closed,aklabisz,2022-05-11 11:16:00,16/May/22 12:00 AM,2023-01-24 12:32:00,Hugo Boss,Service Request (SR),258 days 01:16:00,NaN,NaT

In [176]:
all_sr_review_time_without_null = all_sr_review_time.dropna()
all_sr_review_time_without_null.isnull().sum()

Issue key          0
Issue id           0
Status             0
Reporter           0
Created            0
Due Date           0
Resolved           0
Customer           0
Type of Request    0
ticket_age         0
Parent id          0
time_in_review     0
dtype: int64

**Summary**:
- Ror tickets like `CI-8488`revew time equals 0, so we need to drop it, because it can leads to wrong KPIs calculations

# TO DO
- update the lates dateset

## Determinate time spent on codebusters

- calculate the total time ticket was in subtasks "Configure", "Review", "mport to Test System", "Import in Production", "Import to Customer Test System"
- apply the results to all tickets dataset

In [177]:
all_individual_with_codebusters_time = all_individual_tasks_time_calculation.loc[all_individual_tasks_time_calculation["Summary"].isin(["Configure", "Review", "Import to Test System", "Import in Production", "Import to Customer Test System", "Import to Test", "Import to Staging System"])]

Summarize time for each codebusters subtask

In [178]:
all_individual_with_codebusters_time.groupby("Parent id").count()

           Summary  Issue id  Created  Resolved  time_in
Parent id
316466           1         1        1         1        1
331914           1         1        1         1        1
335272           1         1        1         1        1
336670           1         1        1         1        1
338034           1         1        1         1        1
...            ...       ...      ...       ...      ...
471775           1         1        1         1        1
471789           1         1        1         1        1
471820           3         3        3         3        3
472111           1         1        1         1        1
472134           1         1        1         1        1

[1355 rows x 5 columns]

In [179]:
all_individual_with_codebusters_time[all_individual_with_codebusters_time['Parent id'] == 329036]

Empty DataFrame
Columns: [Summary, Issue id, Parent id, Created, Resolved, time_in]
Index: []

In [180]:
all_individual_with_codebusters_time_sum = all_individual_with_codebusters_time.groupby("Parent id")["time_in"].sum()
all_individual_with_codebusters_time_sum_df = all_individual_with_codebusters_time_sum.to_frame()
all_individual_with_codebusters_time_sum_df.rename({"time_in": "time_on_codebusters"},axis=1, inplace=True)
all_individual_with_codebusters_time_sum_df.reset_index(inplace=True)
all_individual_with_codebusters_time_sum_df

      Parent id time_on_codebusters
0        316466   560 days 04:54:00
1        331914   566 days 10:00:00
2        335272   398 days 22:05:00
3        336670     0 days 00:01:00
4        338034   501 days 19:04:00
...         ...                 ...
1350     471775     0 days 01:18:00
1351     471789     0 days 00:55:00
1352     471820     3 days 04:51:00
1353     472111     0 days 00:00:00
1354     472134     0 days 00:39:00

[1355 rows x 2 columns]

In [181]:
# all_individual_tasks_reivew_sum_df = all_individual_tasks_reivew_sum.to_frame()
# all_individual_tasks_reivew_sum_df.reset_index(inplace=True)
# all_individual_tasks_reivew_sum_df

### Merge total time on codebusters with all jira ticekts dataset

In [182]:
all_sr_codebusters_time = pd.merge(all_sr, all_individual_with_codebusters_time_sum_df, how="inner",left_on = "Issue id",right_on = "Parent id")
all_sr_codebusters_time

,Issue key,Issue id,Status,Reporter,Created,Due Date,Resolved,Customer,Type of Request,ticket_age,Parent id,time_on_codebusters
0,CI-8574,468635,Closed,yutaka,2023-04-28 03:47:00,01/May/23 12:00 AM,2023-05-08 16:08:00,Rehau,Service Request (SR),10 days 12:21:00,468635,0 days 00:30:00
1,CI-8568,468149,Closed,aruizrobles,2023-04-26 15:30:00,03/May/23 12:00 AM,2023-05-04 17:55:00,Numiga,Service Request (SR),8 days 02:25:00,468149,2 days 23:23:00
2,CI-8560,467735,Closed,nsanchez,2023-04-25 11:57:00,08/May/23 12:00 AM,2023-05-08 14:02:00,OBB,Service Request (SR),13 days 02:05:00,467735,6 days 20:24:00
3,CI-8554,467243,Closed,yutaka,2023-04-24 06:44:00,08/May/23 12:00 AM,2023-05-10 04:06:00,Hensoldt,Service Request (SR),15 days 21:22:00,467243,0 days 06:58:00
4,CI-8552,467085,Closed,nsanchez,2023-04-21 14:58:00,27/Apr/23 12:00 AM,2023-05-08 13:46:00,VW,Service Request (SR),16 days 22:48:00,467085,12 days 18:30:00
...,...,...,...,...,...,...,...,...,...,...,...,...
301,CI-7179,405159,Closed,skarja,2022-07-27 19:06:00,04/Aug/22 12:00 AM,2022-12-29 10:43:00,Eberspacher,Service Request (SR),154 days 15:37:00,405159,128 days 23:06:00
302,CI-7178,405141,Closed,skarja,2022-07-27 16:18:00,03/Aug/22 12:00 AM,2023-01-24 10:32:00,msg systems,Service Request (SR),180 days 18:14:00,405141,1 days 19:49:00
303,CI-6911,393585,Closed,aklabisz,2022-05-24 15:11:00,11/Aug/22 12:00 AM,2023-01-24 10:33:00,VW,Service Request (SR),244 days 19:22:00,393585,8 days 18:55:00
304,CI-6901,393357,Closed,aklabisz,2022-05-23 13:21:00,30/May/22 12:00 AM,2023-03-21 13:06:00,Porsche,Service Request (SR),301 days 23:45:00,393357,0 days 00:00:00
305,CI-5953,349721,Closed,wiedenroth,2021-11-05 17:04:00,03/Dec/21 12:00 AM,2023-04-11 09:04:00,Allianz,Service Request (SR),521 days 16:00:00,349721,65 days 00:18:00

### Investigate `null` rows after merging  main SR tickets with individual subtasks

In [183]:
all_sr_codebusters_time.isnull().sum()

Issue key              0
Issue id               0
Status                 0
Reporter               0
Created                0
Due Date               0
Resolved               0
Customer               0
Type of Request        0
ticket_age             0
Parent id              0
time_on_codebusters    0
dtype: int64

In [184]:
all_sr_codebusters_time_without_null = all_sr_codebusters_time.dropna()
all_sr_codebusters_time_without_null.isnull().sum()

Issue key              0
Issue id               0
Status                 0
Reporter               0
Created                0
Due Date               0
Resolved               0
Customer               0
Type of Request        0
ticket_age             0
Parent id              0
time_on_codebusters    0
dtype: int64

In [185]:
all_sr_codebusters_time_without_null

,Issue key,Issue id,Status,Reporter,Created,Due Date,Resolved,Customer,Type of Request,ticket_age,Parent id,time_on_codebusters
0,CI-8574,468635,Closed,yutaka,2023-04-28 03:47:00,01/May/23 12:00 AM,2023-05-08 16:08:00,Rehau,Service Request (SR),10 days 12:21:00,468635,0 days 00:30:00
1,CI-8568,468149,Closed,aruizrobles,2023-04-26 15:30:00,03/May/23 12:00 AM,2023-05-04 17:55:00,Numiga,Service Request (SR),8 days 02:25:00,468149,2 days 23:23:00
2,CI-8560,467735,Closed,nsanchez,2023-04-25 11:57:00,08/May/23 12:00 AM,2023-05-08 14:02:00,OBB,Service Request (SR),13 days 02:05:00,467735,6 days 20:24:00
3,CI-8554,467243,Closed,yutaka,2023-04-24 06:44:00,08/May/23 12:00 AM,2023-05-10 04:06:00,Hensoldt,Service Request (SR),15 days 21:22:00,467243,0 days 06:58:00
4,CI-8552,467085,Closed,nsanchez,2023-04-21 14:58:00,27/Apr/23 12:00 AM,2023-05-08 13:46:00,VW,Service Request (SR),16 days 22:48:00,467085,12 days 18:30:00
...,...,...,...,...,...,...,...,...,...,...,...,...
301,CI-7179,405159,Closed,skarja,2022-07-27 19:06:00,04/Aug/22 12:00 AM,2022-12-29 10:43:00,Eberspacher,Service Request (SR),154 days 15:37:00,405159,128 days 23:06:00
302,CI-7178,405141,Closed,skarja,2022-07-27 16:18:00,03/Aug/22 12:00 AM,2023-01-24 10:32:00,msg systems,Service Request (SR),180 days 18:14:00,405141,1 days 19:49:00
303,CI-6911,393585,Closed,aklabisz,2022-05-24 15:11:00,11/Aug/22 12:00 AM,2023-01-24 10:33:00,VW,Service Request (SR),244 days 19:22:00,393585,8 days 18:55:00
304,CI-6901,393357,Closed,aklabisz,2022-05-23 13:21:00,30/May/22 12:00 AM,2023-03-21 13:06:00,Porsche,Service Request (SR),301 days 23:45:00,393357,0 days 00:00:00
305,CI-5953,349721,Closed,wiedenroth,2021-11-05 17:04:00,03/Dec/21 12:00 AM,2023-04-11 09:04:00,Allianz,Service Request (SR),521 days 16:00:00,349721,65 days 00:18:00

**Summary:**

## Determinate time spent outside codebusters

- calculate the total time ticket was in one of the subtask "Explain", "Verify", "Clarify", "Communicate"
- apply results to all SR tickets dataset

In [186]:
all_individual_others_time = all_individual_tasks_time_calculation.loc[all_individual_tasks_time_calculation["Summary"].isin(["Explain", "Verify", "Clarify", "Communicate"])]
all_individual_others_time

,Summary,Issue id,Parent id,Created,Resolved,time_in
3,Verify,438428,421362,2022-12-30 09:59:00,2022-12-30 10:52:00,0 days 00:53:00
4,Verify,438427,435618,2022-12-30 09:58:00,2022-12-30 11:01:00,0 days 01:03:00
6,Communicate,438419,436516,2022-12-30 09:04:00,2022-12-30 09:45:00,0 days 00:41:00
7,Communicate,438418,437686,2022-12-30 09:03:00,2022-12-30 11:05:00,0 days 02:02:00
9,Communicate,438387,438360,2022-12-29 15:37:00,2022-12-29 15:44:00,0 days 00:07:00
...,...,...,...,...,...,...
8072,Communicate,441872,441847,2023-01-16 16:59:00,2023-04-18 11:44:00,91 days 18:45:00
8073,Communicate,441870,441850,2023-01-16 16:59:00,2023-04-18 11:44:00,91 days 18:45:00
8076,Communicate,438101,437049,2022-12-23 11:21:00,2023-04-06 12:49:00,104 days 01:28:00
8091,Communicate,406696,403721,2022-08-05 09:48:00,2023-04-11 13:15:00,249 days 03:27:00
8092,Communicate,401466,398756,2022-07-07 11:58:00,2023-04-11 13:15:00,278 days 01:17:00

Summarize time for each subtask outside codeubsters

In [187]:
all_individual_others_time_sum = all_individual_others_time.groupby("Parent id")["time_in"].sum()
all_individual_others_time_sum_df = all_individual_others_time_sum.to_frame()
all_individual_others_time_sum_df.rename({"time_in": "time_outside_codebusters"},axis=1, inplace=True)
all_individual_others_time_sum_df.reset_index(inplace=True)
all_individual_others_time_sum_df

      Parent id time_outside_codebusters
0        331914          0 days 00:00:00
1        335272          0 days 00:00:00
2        336670          3 days 15:01:00
3        338034         17 days 05:13:00
4        338553          0 days 00:01:00
...         ...                      ...
1295     471086          1 days 16:23:00
1296     471134          0 days 03:37:00
1297     471138          0 days 02:02:00
1298     471236          0 days 00:31:00
1299     471244          0 days 00:22:00

[1300 rows x 2 columns]

In [188]:
# all_individual_with_codebusters_time_sum = all_individual_with_codebusters_time.groupby("Parent id")["time_in"].sum()
# all_individual_with_codebusters_time_sum_df = all_individual_with_codebusters_time_sum.to_frame()
# all_individual_with_codebusters_time_sum_df.rename({"time_in": "time_on_codebusters"},axis=1, inplace=True)
# all_individual_with_codebusters_time_sum_df.reset_index(inplace=True)
# all_individual_with_codebusters_time_sum_df

### Merge `all_sr` with `all_individual_others_time_sum_df` dataset

In [189]:
all_sr_outside_codebusters_time = pd.merge(all_sr, all_individual_others_time_sum_df, how="inner",left_on = "Issue id",right_on = "Parent id")
all_sr_outside_codebusters_time

,Issue key,Issue id,Status,Reporter,Created,Due Date,Resolved,Customer,Type of Request,ticket_age,Parent id,time_outside_codebusters
0,CI-8574,468635,Closed,yutaka,2023-04-28 03:47:00,01/May/23 12:00 AM,2023-05-08 16:08:00,Rehau,Service Request (SR),10 days 12:21:00,468635,10 days 11:51:00
1,CI-8568,468149,Closed,aruizrobles,2023-04-26 15:30:00,03/May/23 12:00 AM,2023-05-04 17:55:00,Numiga,Service Request (SR),8 days 02:25:00,468149,5 days 03:02:00
2,CI-8560,467735,Closed,nsanchez,2023-04-25 11:57:00,08/May/23 12:00 AM,2023-05-08 14:02:00,OBB,Service Request (SR),13 days 02:05:00,467735,6 days 05:41:00
3,CI-8554,467243,Closed,yutaka,2023-04-24 06:44:00,08/May/23 12:00 AM,2023-05-10 04:06:00,Hensoldt,Service Request (SR),15 days 21:22:00,467243,15 days 14:24:00
4,CI-8552,467085,Closed,nsanchez,2023-04-21 14:58:00,27/Apr/23 12:00 AM,2023-05-08 13:46:00,VW,Service Request (SR),16 days 22:48:00,467085,4 days 04:18:00
...,...,...,...,...,...,...,...,...,...,...,...,...
308,CI-7029,398756,Closed,skarja,2022-06-23 14:32:00,30/Jun/22 12:00 AM,2023-01-27 19:55:00,TeamBank AG,Service Request (SR),218 days 05:23:00,398756,278 days 01:17:00
309,CI-6911,393585,Closed,aklabisz,2022-05-24 15:11:00,11/Aug/22 12:00 AM,2023-01-24 10:33:00,VW,Service Request (SR),244 days 19:22:00,393585,139 days 00:34:00
310,CI-6901,393357,Closed,aklabisz,2022-05-23 13:21:00,30/May/22 12:00 AM,2023-03-21 13:06:00,Porsche,Service Request (SR),301 days 23:45:00,393357,229 days 03:33:00
311,CI-6825,389774,Closed,aklabisz,2022-05-11 11:16:00,16/May/22 12:00 AM,2023-01-24 12:32:00,Hugo Boss,Service Request (SR),258 days 01:16:00,389774,195 days 23:52:00
312,CI-5953,349721,Closed,wiedenroth,2021-11-05 17:04:00,03/Dec/21 12:00 AM,2023-04-11 09:04:00,Allianz,Service Request (SR),521 days 16:00:00,349721,4 days 17:34:00

In [190]:
all_sr_outside_codebusters_time.isnull().sum()

Issue key                   0
Issue id                    0
Status                      0
Reporter                    0
Created                     0
Due Date                    0
Resolved                    0
Customer                    0
Type of Request             0
ticket_age                  0
Parent id                   0
time_outside_codebusters    0
dtype: int64

**Summary:**

## Combine all created datasets
- In this step we will merge all created erlier datasets: `all_sr_outside_codebusters_time`, `all_sr_codebusters_time` and `all_sr_review_time`

Merge df containing "review" time with df containg "time on codebusters"

In [191]:
all_sr_time_on_and_outside_codebusters = pd.merge(all_sr_outside_codebusters_time, all_sr_codebusters_time[['Issue id','time_on_codebusters']],  how="inner",left_on = "Issue id",right_on = "Issue id")
all_sr_time_on_and_outside_codebusters

,Issue key,Issue id,Status,Reporter,Created,Due Date,Resolved,Customer,Type of Request,ticket_age,Parent id,time_outside_codebusters,time_on_codebusters
0,CI-8574,468635,Closed,yutaka,2023-04-28 03:47:00,01/May/23 12:00 AM,2023-05-08 16:08:00,Rehau,Service Request (SR),10 days 12:21:00,468635,10 days 11:51:00,0 days 00:30:00
1,CI-8568,468149,Closed,aruizrobles,2023-04-26 15:30:00,03/May/23 12:00 AM,2023-05-04 17:55:00,Numiga,Service Request (SR),8 days 02:25:00,468149,5 days 03:02:00,2 days 23:23:00
2,CI-8560,467735,Closed,nsanchez,2023-04-25 11:57:00,08/May/23 12:00 AM,2023-05-08 14:02:00,OBB,Service Request (SR),13 days 02:05:00,467735,6 days 05:41:00,6 days 20:24:00
3,CI-8554,467243,Closed,yutaka,2023-04-24 06:44:00,08/May/23 12:00 AM,2023-05-10 04:06:00,Hensoldt,Service Request (SR),15 days 21:22:00,467243,15 days 14:24:00,0 days 06:58:00
4,CI-8552,467085,Closed,nsanchez,2023-04-21 14:58:00,27/Apr/23 12:00 AM,2023-05-08 13:46:00,VW,Service Request (SR),16 days 22:48:00,467085,4 days 04:18:00,12 days 18:30:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
301,CI-7179,405159,Closed,skarja,2022-07-27 19:06:00,04/Aug/22 12:00 AM,2022-12-29 10:43:00,Eberspacher,Service Request (SR),154 days 15:37:00,405159,0 days 00:01:00,128 days 23:06:00
302,CI-7178,405141,Closed,skarja,2022-07-27 16:18:00,03/Aug/22 12:00 AM,2023-01-24 10:32:00,msg systems,Service Request (SR),180 days 18:14:00,405141,150 days 03:48:00,1 days 19:49:00
303,CI-6911,393585,Closed,aklabisz,2022-05-24 15:11:00,11/Aug/22 12:00 AM,2023-01-24 10:33:00,VW,Service Request (SR),244 days 19:22:00,393585,139 days 00:34:00,8 days 18:55:00
304,CI-6901,393357,Closed,aklabisz,2022-05-23 13:21:00,30/May/22 12:00 AM,2023-03-21 13:06:00,Porsche,Service Request (SR),301 days 23:45:00,393357,229 days 03:33:00,0 days 00:00:00
305,CI-5953,349721,Closed,wiedenroth,2021-11-05 17:04:00,03/Dec/21 12:00 AM,2023-04-11 09:04:00,Allianz,Service Request (SR),521 days 16:00:00,349721,4 days 17:34:00,65 days 00:18:00

In [192]:
all_sr_time_on_and_outside_codebusters.isnull().sum()

Issue key                   0
Issue id                    0
Status                      0
Reporter                    0
Created                     0
Due Date                    0
Resolved                    0
Customer                    0
Type of Request             0
ticket_age                  0
Parent id                   0
time_outside_codebusters    0
time_on_codebusters         0
dtype: int64

### Merge `all_tickets_time_on_and_outside_codebusters` with `all_sr_review_time` dataset

In [193]:
all_sr_with_time = pd.merge(all_sr_time_on_and_outside_codebusters, all_sr_review_time[['Issue id','time_in_review']],  how="inner",left_on = "Issue id",right_on = "Issue id")
all_sr_with_time

,Issue key,Issue id,Status,Reporter,Created,Due Date,Resolved,Customer,Type of Request,ticket_age,Parent id,time_outside_codebusters,time_on_codebusters,time_in_review
0,CI-8574,468635,Closed,yutaka,2023-04-28 03:47:00,01/May/23 12:00 AM,2023-05-08 16:08:00,Rehau,Service Request (SR),10 days 12:21:00,468635,10 days 11:51:00,0 days 00:30:00,0 days 00:24:00
1,CI-8568,468149,Closed,aruizrobles,2023-04-26 15:30:00,03/May/23 12:00 AM,2023-05-04 17:55:00,Numiga,Service Request (SR),8 days 02:25:00,468149,5 days 03:02:00,2 days 23:23:00,1 days 23:16:00
2,CI-8560,467735,Closed,nsanchez,2023-04-25 11:57:00,08/May/23 12:00 AM,2023-05-08 14:02:00,OBB,Service Request (SR),13 days 02:05:00,467735,6 days 05:41:00,6 days 20:24:00,6 days 20:24:00
3,CI-8554,467243,Closed,yutaka,2023-04-24 06:44:00,08/May/23 12:00 AM,2023-05-10 04:06:00,Hensoldt,Service Request (SR),15 days 21:22:00,467243,15 days 14:24:00,0 days 06:58:00,0 days 00:00:00
4,CI-8552,467085,Closed,nsanchez,2023-04-21 14:58:00,27/Apr/23 12:00 AM,2023-05-08 13:46:00,VW,Service Request (SR),16 days 22:48:00,467085,4 days 04:18:00,12 days 18:30:00,6 days 21:53:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
301,CI-7179,405159,Closed,skarja,2022-07-27 19:06:00,04/Aug/22 12:00 AM,2022-12-29 10:43:00,Eberspacher,Service Request (SR),154 days 15:37:00,405159,0 days 00:01:00,128 days 23:06:00,NaT
302,CI-7178,405141,Closed,skarja,2022-07-27 16:18:00,03/Aug/22 12:00 AM,2023-01-24 10:32:00,msg systems,Service Request (SR),180 days 18:14:00,405141,150 days 03:48:00,1 days 19:49:00,NaT
303,CI-6911,393585,Closed,aklabisz,2022-05-24 15:11:00,11/Aug/22 12:00 AM,2023-01-24 10:33:00,VW,Service Request (SR),244 days 19:22:00,393585,139 days 00:34:00,8 days 18:55:00,3 days 13:22:00
304,CI-6901,393357,Closed,aklabisz,2022-05-23 13:21:00,30/May/22 12:00 AM,2023-03-21 13:06:00,Porsche,Service Request (SR),301 days 23:45:00,393357,229 days 03:33:00,0 days 00:00:00,NaT
305,CI-5953,349721,Closed,wiedenroth,2021-11-05 17:04:00,03/Dec/21 12:00 AM,2023-04-11 09:04:00,Allianz,Service Request (SR),521 days 16:00:00,349721,4 days 17:34:00,65 days 00:18:00,0 days 00:02:00

Check for null values

In [194]:
all_sr_with_time.isnull().sum()

Issue key                    0
Issue id                     0
Status                       0
Reporter                     0
Created                      0
Due Date                     0
Resolved                     0
Customer                     0
Type of Request              0
ticket_age                   0
Parent id                    0
time_outside_codebusters     0
time_on_codebusters          0
time_in_review              10
dtype: int64

In [195]:
all_sr_with_time.shape

(306, 14)

### Drop rows which contain null value

In [196]:
all_sr_with_time_without_null = all_sr_with_time.dropna()
all_sr_with_time_without_null.isnull().sum()

Issue key                   0
Issue id                    0
Status                      0
Reporter                    0
Created                     0
Due Date                    0
Resolved                    0
Customer                    0
Type of Request             0
ticket_age                  0
Parent id                   0
time_outside_codebusters    0
time_on_codebusters         0
time_in_review              0
dtype: int64

In [197]:
all_sr_with_time_without_null.shape

(296, 14)

In [198]:
# all_sr_with_time_without_null.to_csv('all_sr.csv')

## Convert `time in..` columns to minutes

Convert `timedelta` columns to float

In [199]:
all_sr_with_time_converted = all_sr_with_time_without_null
all_sr_with_time_converted.info()

<class 'pandas.core.frame.DataFrame'>
Index: 296 entries, 0 to 305
Data columns (total 14 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Issue key                 296 non-null    object
 1   Issue id                  296 non-null    int64
 2   Status                    296 non-null    object
 3   Reporter                  296 non-null    object
 4   Created                   296 non-null    datetime64[ns]
 5   Due Date                  296 non-null    object
 6   Resolved                  296 non-null    datetime64[ns]
 7   Customer                  296 non-null    object
 8   Type of Request           296 non-null    object
 9   ticket_age                296 non-null    timedelta64[ns]
 10  Parent id                 296 non-null    int64
 11  time_outside_codebusters  296 non-null    timedelta64[ns]
 12  time_on_codebusters       296 non-null    timedelta64[ns]
 13  time_in_review            296 non-null    timedelta64[ns]
dtypes: datetime64[ns](2), int64(2), object(6), timedelta64[ns](4)
memory usage: 34.7+ KB

Convert `time in..` columns to minutes

In [200]:
all_sr_with_time_converted['time_in_review'] = all_sr_with_time_converted['time_in_review'].dt.total_seconds().div(60)
all_sr_with_time_converted['time_on_codebusters'] = all_sr_with_time_converted['time_on_codebusters'].dt.total_seconds().div(60)
all_sr_with_time_converted['time_outside_codebusters'] = all_sr_with_time_converted['time_outside_codebusters'].dt.total_seconds().div(60)
all_sr_with_time_converted['ticket_age'] = all_sr_with_time_converted['ticket_age'].dt.total_seconds().div(60)

all_sr_with_time_converted.info()

<class 'pandas.core.frame.DataFrame'>
Index: 296 entries, 0 to 305
Data columns (total 14 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Issue key                 296 non-null    object
 1   Issue id                  296 non-null    int64
 2   Status                    296 non-null    object
 3   Reporter                  296 non-null    object
 4   Created                   296 non-null    datetime64[ns]
 5   Due Date                  296 non-null    object
 6   Resolved                  296 non-null    datetime64[ns]
 7   Customer                  296 non-null    object
 8   Type of Request           296 non-null    object
 9   ticket_age                296 non-null    float64
 10  Parent id                 296 non-null    int64
 11  time_outside_codebusters  296 non-null    float64
 12  time_on_codebusters       296 non-null    float64
 13  time_in_review            296 non-null    float64
dtypes: datetime64[ns](2), float64(4), int64(2), object(6)
memory usage: 34.7+ KB

C:\Users\gmalarski\AppData\Local\Temp\ipykernel_12100\497592799.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_sr_with_time_converted['time_in_review'] = all_sr_with_time_converted['time_in_review'].dt.total_seconds().div(60)
C:\Users\gmalarski\AppData\Local\Temp\ipykernel_12100\497592799.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_sr_with_time_converted['time_on_codebusters'] = all_sr_with_time_converted['time_on_codebusters'].dt.total_seconds().div(60)
C:\Users\gmalarski\AppData\Local\Temp\ipykernel_12100\497592799.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_sr_with_time_converted['time_outside_codebusters'] = all_sr_with_time_converted['time_outside_codebusters'].dt.total_seconds().div(60)
C:\Users\gmalarski\AppData\Local\Temp\ipykernel_12100\497592799.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_sr_with_time_converted['ticket_age'] = all_sr_with_time_converted['ticket_age'].dt.total_seconds().div(60)

In [201]:
all_sr_with_time_converted.reset_index(inplace=True)
all_sr_with_time_converted

,index,Issue key,Issue id,Status,Reporter,Created,Due Date,Resolved,Customer,Type of Request,ticket_age,Parent id,time_outside_codebusters,time_on_codebusters,time_in_review
0,0,CI-8574,468635,Closed,yutaka,2023-04-28 03:47:00,01/May/23 12:00 AM,2023-05-08 16:08:00,Rehau,Service Request (SR),15141.0,468635,15111.0,30.0,24.0
1,1,CI-8568,468149,Closed,aruizrobles,2023-04-26 15:30:00,03/May/23 12:00 AM,2023-05-04 17:55:00,Numiga,Service Request (SR),11665.0,468149,7382.0,4283.0,2836.0
2,2,CI-8560,467735,Closed,nsanchez,2023-04-25 11:57:00,08/May/23 12:00 AM,2023-05-08 14:02:00,OBB,Service Request (SR),18845.0,467735,8981.0,9864.0,9864.0
3,3,CI-8554,467243,Closed,yutaka,2023-04-24 06:44:00,08/May/23 12:00 AM,2023-05-10 04:06:00,Hensoldt,Service Request (SR),22882.0,467243,22464.0,418.0,0.0
4,4,CI-8552,467085,Closed,nsanchez,2023-04-21 14:58:00,27/Apr/23 12:00 AM,2023-05-08 13:46:00,VW,Service Request (SR),24408.0,467085,6018.0,18390.0,9953.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
291,297,CI-7229,407702,Closed,ssanz,2022-08-10 12:43:00,17/Aug/22 12:00 AM,2023-01-17 15:55:00,Vaillant,Service Request (SR),230592.0,407702,110233.0,100438.0,22420.0
292,298,CI-7227,407574,Closed,skarja,2022-08-10 00:39:00,30/Sep/22 12:00 AM,2023-01-24 11:52:00,Rheinmetall,Service Request (SR),241153.0,407574,92064.0,148301.0,148301.0
293,300,CI-7205,406532,Closed,nsanchez,2022-08-04 11:54:00,02/May/23 12:00 AM,2023-04-10 08:47:00,Hugo Boss,Service Request (SR),358373.0,406532,0.0,349605.0,349605.0
294,303,CI-6911,393585,Closed,aklabisz,2022-05-24 15:11:00,11/Aug/22 12:00 AM,2023-01-24 10:33:00,VW,Service Request (SR),352522.0,393585,200194.0,12655.0,5122.0
295,305,CI-5953,349721,Closed,wiedenroth,2021-11-05 17:04:00,03/Dec/21 12:00 AM,2023-04-11 09:04:00,Allianz,Service Request (SR),751200.0,349721,6814.0,93618.0,2.0

In [207]:
file_path = Path('DataSets/KPIs/all_sr_kpi.csv')
all_sr_with_time_converted.to_csv(path_or_buf=file_path)

# Investigation starts

In [ ]:
all_individual_tasks_reivew[all_individual_tasks_reivew["Parent id"] == 438360]

In [ ]:
all_sr[all_sr["Issue id"] == 438360]

In [ ]:
null_rows

# Investigation ends

# To Do